@import './variables';

@mixin medium-button {
  border: 1px solid $white;
  border-radius: 17px;
  padding: 0 10px;
  line-height: 34px;
  height: 34px;
  display: inline-block;
  text-transform: uppercase;
}

.medium-button-primary-light {
  @include medium-button;
  color: $white !important;
}

.medium-button-secondary-light {
  @include medium-button;
  color: $color-primary-cerise !important;
  background-color: $default-bg-color;
}
