$header-height: 54px;

$basic-border-header-height: 74px;

$mobile-min-width: 0px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;
$computer-small-min-width: 992px;
$computer-small-max-width: 1200px;
$computer-large-min-width: 1201px;
$computer-large-max-width: 999999px;
