$navbar-height: 60px;

$basic-border-section-height: 70px;

$mobile-min-width: 0px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;
$computer-min-width: 992px;
$computer-max-width: 999999px;

$app-max-width: 1560px;
