@mixin label-up {
  top: -10px;
  padding: 0 5px;
  background-color: white;
}

@mixin NavigationButtonProperties($text-alignment, $primary-color) {
  padding-top: 0.4em;
  text-align: $text-alignment;
  color: $primary-color;
  > i {
    cursor: pointer; cursor: hand;
  }
}
