
$museo: "museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fs-s: 12px;
$fs-m0: 14px;
$fs-m: 16px;
$fs-l: 18px;
$fs-xl: 22px;
$fs-xxl: 24px;
$fs-xxxl: 32px;

@mixin wrap-long-words() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin truncate-owerflowing-text() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@font-face {
  font-family: 'museo';
  src: url('./assets/fonts/museo/museo-300.otf') format("opentype");
  font-weight: 300;
}

@font-face {
    font-family: 'museo';
    src: url('./assets/fonts/museo/museo-500.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'museo';
    src: url('./assets/fonts/museo/museo-700.otf') format("opentype");
    font-weight: 700;
}

// font stacks
$default-font-family:  "Open Sans", sans-serif;
$header-font-family:   $museo;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h6 {
  font-size: 14px;
  font-weight: 700;
}

p, div, span {
  font-family: $default-font-family;
  font-size: 16px;
  line-height: 22px;
}

.fs-s {
  font-size: $fs-s;
}

.fs-m0 {
  font-size: $fs-m0;
}

.fs-m {
  font-size: $fs-m;
}

.fs-l {
  font-size: $fs-l;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxl;
}

.fs-xxxl {
  font-size: $fs-xxxl;
}
