@import './variables';

@font-face {
  font-family: 'museo';
  src: url('./assets/fonts/museo/museo-300.otf') format("opentype");
  font-weight: 300;
}

@font-face {
    font-family: 'museo';
    src: url('./assets/fonts/museo/museo-500.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'museo';
    src: url('./assets/fonts/museo/museo-700.otf') format("opentype");
    font-weight: 700;
}

// font stacks
$default-font-family:  "Open Sans", sans-serif;
$header-font-family:   $museo;


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h6 {
  font-size: 14px;
  font-weight: 700;
}

p {
  font-family: $default-font-family;
  font-size: 16px;
  line-height: 22px;
}

.hero-p {
  font-family: $museo;
  font-size: 18px;
  line-height: 24px;
}

em {
  font-family: $default-font-family;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.title-primary {
  color: $color-primary-cerise;
}
