@import './colors';

@mixin wrap-long-words() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin truncate-owerflowing-text() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin truncate-owerflowing-text-multiline($line-height: 1.4, $lines-to-show: 3) {
  display: block !important; // Fallback for non-webkit
  display: -webkit-box !important;
  max-height: 1em * $line-height * $lines-to-show; // Fallback for non-webkit
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      background: transparent;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }
    &:after {
      content: '';
      background: transparent;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}

@mixin title-text() {
  font-family: $title-font-family;
  line-height: $title-line-height;
  text-rendering: optimizelegibility;
  letter-spacing: -0.4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  font-size: 18px !important;
  font-weight: 700;

  @include wrap-long-words();
}

@mixin text() {
  font-family: $text-font-family;
  line-height: $text-line-height;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
  font-size: 14px !important;
  font-weight: 500;
}

@mixin link() {
  @include text();

  color: $color-gray-300;
  &:hover {
    cursor: pointer;
    color: $color-cerise-500 !important;
  }
}

.truncate-owerflowing-text {
  @include truncate-owerflowing-text;
}

.wrap-long-words {
  @include wrap-long-words;
}

@font-face {
  font-family: 'museo';
  src: url('/assets/fonts/museo/museo-300.otf') format('opentype');
  font-weight: 300;
}

@font-face {
    font-family: 'museo';
    src: url('/assets/fonts/museo/museo-500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'museo';
    src: url('/assets/fonts/museo/museo-700.otf') format('opentype');
    font-weight: 700;
}

@font-face {
  font-family: 'ge-ss-two';
  src: url('/assets/fonts/ge-ss-two/ge-ss-two-300.otf') format('opentype');
  font-weight: 300;
}

@font-face {
    font-family: 'ge-ss-two';
    src: url('/assets/fonts/ge-ss-two/ge-ss-two-500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'ge-ss-two';
    src: url('/assets/fonts/ge-ss-two/ge-ss-two-700.otf') format('opentype');
    font-weight: 700;
}

// font stacks
$text-font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$title-font-family: 'museo','Helvetica Neue',Helvetica,Arial,sans-serif;

$title-line-height: 1.333;
$text-line-height: 1.5;

$text-font-family-arabic: 'ge-ss-two','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$title-font-family-arabic: 'ge-ss-two','museo','Helvetica Neue',Helvetica,Arial,sans-serif;

h1, h2, h3, h4, h5, h6 {
  @include title-text();
  color: $black;
}

body {
  @include text();
  color: $black;
}

h1 {
  font-size: 28px !important;
  font-weight: 700;
}

h2 {
  font-size: 20px !important;
  font-weight: 700;
}

h3 {
  font-size: 18px !important;
  font-weight: 700;
}

h4 {
  font-size: 16px !important;
  font-weight: 700;
}

h5 {
  font-size: 12px !important;
  font-weight: 700;
}

h6 {
  font-size: 10px !important;
  font-weight: 700;
}

a {
  @include link();
}

.arabic-font {
  font-family: $title-font-family-arabic !important;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  list-style-position: inside;
  text-indent: -1.6em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

li:before {
  content: "\25CE";
  color: $black;
  font-weight: bold;
  font-size: 1em;
  vertical-align: top;
  line-height: $text-line-height;
  padding: 0 0.3em;
}
