@import '../../styles/variables.scss';

.my-jobs {
  .subheader {
    padding: 30px 0 0 0;

    ul {
      display: table;
      table-layout: fixed;
      margin: 10px 0 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-transform: uppercase;

      li {
        display: table-cell;
        padding: 10px;
        cursor: pointer;

        &.selected {
          border-bottom: 5px solid $color-primary-cerise;
        }
      }
    }
  }
}
