<div *ngIf="job">
  <div class="job-details-body">
    <job-state-status-bar [job]="job" [jobId]="job.id"></job-state-status-bar>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <p><translation-item [text]="job.name" [translation]="job.translated.name"></translation-item></p>
            <h4 class="title-primary">{{job.amount}} {{job.currency}} {{'common.gross_salary' | translate}}</h4>
            <p>{{job.hours}} {{'common.hour' | translate}}</p>
            <h5 class="title-primary">{{job.netAmount}} {{job.currency}} {{'common.net_salary' | translate}}</h5>
          </div>
        </div>
      </div>

      <job-preview [job]="job"></job-preview>
    </div>
  </div>

  <comments [resourceName]="'jobs'" [resourceId]="job.id"></comments>
</div>
