<div *ngIf="job">
  <div class="job-details-body">

    <div class="job-status text-center">
      <div class="job-status-container">
        <h3 class="job-status-text">{{job.translatedText.name}}</h3>
        <div class="ui grid" style="flex-wrap: nowrap;">
          <div class="ten wide phone">
            <h4 class="job-status-text">{{job.company.name}}</h4>
            <h6 class="job-status-text">{{job.jobDate | date: 'MMM dd'}} - {{job.jobEndDate | date: 'MMM dd'}}</h6>
            <h6 class="job-status-text">{{job.street}}</h6>
            <h2 class="job-status-salary-text">{{job.grossAmountWithCurrency}}</h2>
          </div>
          <div class="six wide phone job-status-icon-container">
            <img
              [src]="job?.company?.logoImage?.imageUrlSmall || '/assets/images/placeholder-logo.png'"
              class="company-logo">
          </div>
        </div>
      </div>

      <base-button
        (click)="onApplyForJobButtonClick()"
        [buttonText]="'assignment.status.apply' | translate"
        *ngIf="(user && !application)"
        kind="secondary-light"
        size="medium">
      </base-button>

      <div *ngIf="!user" class="sign-in-or-create-container">
        <base-button
          (click)="onLoginButtonClick()"
          [buttonText]="'assignment.status.log_in' | translate"
          [fluid]="true"
          kind="secondary-light"
          size="small">
        </base-button>
        <br/>
        <base-button
          (click)="onRegisterButtonClick()"
          [buttonText]="'assignment.status.create_account' | translate"
          [fluid]="true"
          kind="primary-light"
          size="small">
        </base-button>
      </div>

      <h3 class="applied-text" *ngIf="application && !application.accepted">{{'assignment.status.applied' | translate}}</h3>

      <div *ngIf="application && application.accepted && !application.willPerform">
        <h5 class="time-left-text">{{'assignment.status.offer' | translate}} {{application.remainsConfirmationHours}} {{'common.hour' | translate}} {{application.remainsConfirmationMinutes}} {{'common.min' | translate}}</h5>
        <base-button
          (click)="onConfirmJobButtonClick()"
          [buttonText]="'assignment.status.reply' | translate"
          kind="primary-light"
          size="large">
        </base-button>
        <h3 *ngIf="applyForJobErrorMessageVisible">{{'assignment.status.confirmation_error' | translate}}</h3>
      </div>

      <h5 class="hired-text" *ngIf="application && application.jobEnded">{{'assignment.status.finished' | translate}}</h5>
      <h5 class="hired-text" *ngIf="application && application.accepted && application.willPerform && !application.jobEnded">{{'assignment.status.hired' | translate}}</h5>

      <div class="expand-details-text-container">
        <h6 *ngIf="!jobDetailsVisible" class="expand-details-text">{{'assignment.status.more_details' | translate}}</h6>
        <h6 *ngIf="jobDetailsVisible" class="expand-details-text">{{'assignment.status.hide_details' | translate}}</h6>
        <div class="expand-link-container">
          <h6 class="expand-details-link" (click)="switchJobDetailsVisibility()">{{'assignment.status.click_here' | translate}}</h6>
        </div>
      </div>
    </div>

    <div *ngIf="jobDetailsVisible" class="job-details-container">
      <h4 class="job-title">{{'assignment.details' | translate | uppercase}}</h4>
      <hr class="job-details-separator"/>
      <div class="ui grid job-preview-row">
        <div class="one wide phone column">
          <div class="job-preview-icon-container">
            <i class="fa fa-file-text-o fa-lg"></i>
          </div>
        </div>
        <div class="fifteen wide phone column">
          <div [innerHTML]="job.translatedText.descriptionHtml"></div>
        </div>
      </div>
      <hr class="job-details-separator"/>
      <div class="ui grid job-preview-row">
        <div class="one wide phone column">
          <div class="job-preview-icon-container">
            <i class="fa fa-clock-o fa-lg"></i>
          </div>
        </div>
        <div class="fifteen wide phone column">
          <p>{{job.hours}} {{'assignment.hours' | translate}} ({{job.hourlyPay.grossSalaryWithUnit}} {{'assignment.rate.gross_salary' | translate}})<br/>
          {{job.netAmountWithCurrency}} {{'assignment.after_tax' | translate}}</p>
        </div>
      </div>
      <hr class="job-details-separator"/>
      <div class="ui grid job-preview-row">
        <div class="one wide phone column">
          <div class="job-preview-icon-container">
            <i class="fa fa-map-marker fa-lg"></i>
          </div>
        </div>
        <div class="fifteen wide phone column">
          <p>{{job.street}}, {{job.zip}}</p>
        </div>
      </div>
      <hr class="job-details-separator"/>
      <div class="ui grid job-preview-row">
        <div class="one wide phone column">
          <div class="job-preview-icon-container">
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
        <div class="fifteen wide phone column">
          <p>{{job.jobDate | date: 'yyyy-MM-dd'}} - {{job.jobEndDate | date: 'yyyy-MM-dd'}}</p>
        </div>
      </div>
      <hr class="job-details-separator"/>
    </div>
  </div>

  <comments [resourceName]="'jobs'" [resourceId]="job.id"></comments>
</div>
