<div *ngIf="(user && !isCompanyUser && !isInUserView) && (!userJob || !userJob.invoice || !userJob.invoice.id)" class="job-status text-center">
  <div class="job-status-container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="job-status-text">{{job.name}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 job-status-icon-container">
        <div class="job-status-icon-background">
          <img [src]="job.companyLogoURL" class="company-logo">
        </div>
      </div>
      <div class="col-xs-7">
        <h4 class="job-status-text">{{job.company.name}}</h4>
        <h6 class="job-status-text">{{job.jobDate | date: 'MMM dd'}} - {{job.jobEndDate | date: 'MMM dd'}}</h6>
        <h6 class="job-status-text">{{job.street}}</h6>
        <h2 class="job-status-text">{{job.grossSalary}} {{job.currency}}</h2>
      </div>
    </div>
  </div>
  <div class="btn-secondary-light btn-medium btn" *ngIf="!userJob" (click)="onApplyForJobButtonClick()">{{'assignment.status.apply' | translate}}</div>
  <span *ngIf="userJob && !userJob.accepted">{{'assignment.status.applied' | translate}}</span>
  <div class="table" *ngIf="userJob && userJob.accepted && !userJob.willPerform">
    <div class="table-row">
      <div class="table-cell">{{'assignment.status.offer' | translate}} {{userJob.remainsConfirmationHours}} {{'common.hour' | translate}} {{userJob.remainsConfirmationMinutes}} {{'common.min' | translate}}</div>
      <div class="table-cell"><button class="button" (click)="onConfirmJobButtonClick()">{{'assignment.status.reply' | translate}}</button></div>
    </div>
  </div>
  <span *ngIf="userJob && userJob.accepted && userJob.willPerform">{{'assignment.status.hired' | translate}}</span>
</div>
<div class="job-status text-center" *ngIf="(isCompanyUser && user.company.id == job.company.id) && (!userJob || !userJob.invoice || !userJob.invoice.id)">
  <div *ngIf="!userJob && !isInUserView">
    <div>{{'common.you_have' | translate}} {{countOfApplicants}} {{'company.assignments.applications' | translate}}</div>
    <div *ngIf="countOfApplicants > 0"><a class="button" [routerLink]="['candidates']">{{'assignment.status.select_applicant' | translate}}</a></div>
  </div>
  <div *ngIf="!userJob && isInUserView"></div>
  <span *ngIf="userJob && userJob.accepted && !userJob.willPerform">
    {{userJob.user.firstName}} {{'common.have' | translate}} {{userJob.remainsConfirmationHours}} {{'common.hour' | translate}} {{userJob.remainsConfirmationMinutes}} {{'common.min' | translate}} {{'assignment.status.user_application.time_remaining' | translate}}
  </span>
  <span *ngIf="userJob && userJob.accepted && userJob.willPerform"><a [routerLink]="['/job', jobId, 'candidate', userJob.id]">{{'assignment.status.applicant_approved' | translate: {candidate_name: userJob.user.firstName} }}</a></span>
</div>
<div *ngIf="showTermsAccept" class="candidate-bank-account-details-container">
  <div>{{'common.congratulation' | translate}}</div>
  <div>{{job.company.name}} {{'assignment.status.company.approve_user' | translate}}</div>
  <div>{{'assignment.status.offer.approve' | translate}}</div>
  <div>
    <input id="accept-terms" type="checkbox" [(ngModel)]="acceptTerms">
    <label for="accept-terms">{{'terms.frilans_finans.accept' | translate}}</label>
    <span><a href="">{{'terms' | translate}}</a></span>
  </div>
  <div>
    <button class="button" [disabled]="!acceptTerms" (click)="showTermsAccept = false;showCandidateBankAccountDetails = true">{{'common.yes' | translate}}</button>
    <button class="button" (click)="showTermsAccept = false">{{'common.no' | translate}}</button>
  </div>
</div>
<div *ngIf="showCandidateBankAccountDetails">
  <div>{{'user.account' | translate}}</div>
  <div>{{'user.account.description' | translate}}</div>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="material-group">
      <input type="text" id="clearingNumber" [(ngModel)]="bankAccount.clearingNumber" name="clearingNumber" class="material-input" [ngClass]="{'not-empty': bankAccount.clearingNumber, 'has-error': errors.account_clearing_number}" required>
      <label for="clearingNumber" class="material-label">{{'user.account.bank' | translate}}</label>
      <div class="fs-m0 material-group-error" *ngIf="form.controls.clearingNumber && form.controls.clearingNumber.invalid && form.controls.clearingNumber.touched">
        {{'finance.form.account_clearing_number.validation' | translate}}
      </div>
      <div class="fs-m0 material-group-error" *ngIf="errors.account_clearing_number">
        {{errors.account_clearing_number}}
      </div>
    </div>
    <div class="material-group">
      <input type="text" id="accountNumber" [(ngModel)]="bankAccount.accountNumber" name="accountNumber" class="material-input" [ngClass]="{'not-empty': bankAccount.accountNumber, 'has-error': errors.account}" required>
      <label for="accountNumber" class="material-label">{{'user.account.cardnr' | translate}}</label>
      <div class="fs-m0 material-group-error" *ngIf="form.controls.accountNumber && form.controls.accountNumber.invalid && form.controls.accountNumber.touched">
        {{'finance.form.account_number.validation' | translate}}
      </div>
      <div class="fs-m0 material-group-error" *ngIf="errors.account">
        {{errors.account}}
      </div>
    </div>
  </form>
  <div class="text-center">
    <button class="button primary form-group" (click)="submitBankAccount()" [disabled]="form.invalid">{{'common.save' | translate}}</button>
  </div>
</div>
