@import '../../../styles/colors';
@import '../../../styles/dimensions';

.navigation-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
  pointer-events: none;
  height: 100%;

  @media screen and (min-width: $lg-device-width) {
    width: $lg-device-width;
    margin: 0 auto;
  }
  @media screen and (max-width: $lg-device-width) {
    width: 100%;
    max-width: 100vw;
  }

  .menu-container {
    height: 100%;
  }

  .pusher {
    position: absolute;
    width: 100vw;
    &.dimmed {
      pointer-events: auto;
    }
  }
}
