@import '../../../styles/colors';
@import '../../../styles/dimensions';

.navigation-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
  pointer-events: none;
  height: 100%;

  @media screen and (min-width: $app-max-width) {
    width: $app-max-width;
    margin: 0 auto;
  }
  @media screen and (max-width: $app-max-width) {
    width: 100%;
  }

  .menu-container {
    height: 100%;
    position: relative;

    &.visible {
      pointer-events: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      min-height: 100%;
      z-index: 2;
      background-color: rgba(0,0,0,.85);
    }

    .menu-inner-container {
      position: absolute;
      right: 0;
      pointer-events: auto;
      height: 100%;
      overflow-y: scroll;
      width: 100%;
    }
  }
}
