@import '../../../styles/variables.scss';

.user-register {

  a {
    color: $color-blue-3;
  }

  form {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
  }

  .header {
    padding: 30px;
    background: $color-blue-1;
    color: white;

    .header-text {
      letter-spacing: 0.02em;
      line-height: 20px;
    }
  }
}
