@import '../../../styles/variables.scss';

.user-register {
  a {
    color: $color-blue-3;
  }

  form {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    padding: 35px 0;
  }

  .header {
    padding: 30px;
    background: $color-blue-1;
    color: white;

    .header-text {
      margin: 15px 0 0 0;
      letter-spacing: 0.02em;
      line-height: 20px;
    }
  }

  .have-account-text {
    margin: 25px 0 10px 0;
  }
}
