<div class="user-register">
  <div class="header">
    <div class="fs-l">{{'user.create.title' | translate | uppercase}}</div>
    <div class="header-text">{{'user.create.description' | translate}}</div>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="material-group">
      <input type="text" id="ssn" [(ngModel)]="user.ssn" name="ssn" [ngClass]="{'not-empty': user.ssn}" required pattern="^[\d\-]+$" minlength="10">
      <label for="ssn">{{'user.form.ssn' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="text" id="first-name" [(ngModel)]="user.firstName" name="firstName" [ngClass]="{'not-empty': user.firstName}" required>
      <label for="first-name">{{'user.form.first_name' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="text" id="last-name" [(ngModel)]="user.lastName" name="lastName" [ngClass]="{'not-empty': user.lastName}" required>
      <label for="last-name">{{'user.form.last_name' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="text" id="phone" [(ngModel)]="user.phone" name="phone" [ngClass]="{'not-empty': user.phone}" required minlength="9">
      <label for="phone">{{'user.form.phone' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="text" id="email" [(ngModel)]="user.email" name="email" [ngClass]="{'not-empty': user.email}" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
      <label for="email">{{'user.form.email' | translate}}</label>
    </div>

    <div>{{'user.form.current_status' | translate}}</div>
    <div>{{'user.form.at_und' | translate}}</div>
    <div>{{'user.form.arrived_at' | translate}}</div>
    <div>{{'user.form.country_of_origin' | translate}}</div>

    <div class="material-group">
      <input type="password" id="password" [(ngModel)]="user.password" name="password" [ngClass]="{'not-empty': user.password}" required>
      <label for="password">{{'user.form.password' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="password" id="repeat-password" [(ngModel)]="user.repeatPassword" name="repeatPassword" [ngClass]="{'not-empty': user.repeatPassword}" required>
      <label for="repeat-password">{{'user.form.password' | translate}}</label>
    </div>

    <div class="material-group">
      <input type="file" id="imageFilename" name="imageFilename" (change)="onImageFilenameChange($event)" accept="image/*">
      <label class="label-up">{{'user.form.picture' | translate}}</label>
    </div>

    <div>
      <div>
        <input type="checkbox" id="terms">
        <label for="terms">
          {{'terms.accept' | translate}} {{'terms' | translate}}
          <a href="app/assets/terms/160523_2051-2_Terms_and_Conditions_(en).pdf" target="_blank"> PDF EN</a>,
          <a href="app/assets/terms/160520_2051-2_Anvandarvillkor_(sv).pdf" target="_blank"> PDF SV</a>
        </label>
      </div>
    </div>

    <button type="submit">{{'common.continue' | translate}}</button>
  </form>

  <div>
    <div class="have-account-text">{{'common.have_account' | translate}}</div>
    <div>
      <a routerLink="/home" class="fs-m">{{'common.login' | translate}}</a>
    </div>
  </div>
</div>
