@import 'variables.scss';

body {
  font-family: 'Open Sans', sans-serif;

  max-width: 1024px;
  margin: 0 auto;
  background-color: #E8EBEE;
  font-size: $fs-m0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .inline-block {
    display: inline-block;
  }

  .color-dark {
    color: $color-dark
  }
  .color-blue-0 {
    color: $color-blue-0;
  }
  .color-blue-1 {
    color: $color-blue-1;
  }
  .color-blue-2 {
    color: $color-blue-2;
  }
  .color-blue-3 {
    color: $color-blue-3;
  }
  .color-blue-4 {
    color: $color-blue-4;
  }
  .color-gray-0 {
    color: $color-gray-0;
  }
  .color-gray-1 {
    color: $color-gray-1;
  }
  .color-gray-2 {
    color: $color-gray-2;
  }
  .color-gray-3 {
    color: $color-gray-3;
  }
  .color-pink-0 {
    color: $color-pink-0;
  }
  .color-pink-1 {
    color: $color-pink-1;
  }
  .color-pink-2 {
    color: $color-pink-2;
  }

  .fs-m0 {
    font-size: $fs-m0;
  }
  .fs-m {
    font-size: $fs-m;
  }
  .fs-l {
    font-size: $fs-l;
  }
  .fs-xl {
    font-size: $fs-xl;
  }
  .fs-xxl {
    font-size: $fs-xxl;
  }
  .fs-xxxl {
    font-size: $fs-xxxl;
  }

  .material-group {
    position: relative;
    margin-bottom: 25px;

    input, textarea {
      width: 100%;
      padding: 10px 12px;
      display: block;
      border: 1px solid $color-blue-1;

      &:focus, &.not-empty {
        outline: none;

        ~ label:not(.label-up) {
          @include label-up;
        }
      }

      &.ng-touched.ng-invalid {
        border: 1px solid $color-pink-2 !important;
        color: $color-pink-2 !important;
        ~ label {
          color: $color-pink-2 !important;
        }
      }
    }

    label {
      position: absolute;
      pointer-events: none;
      left: 12px;
      top: 11px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &.label-up {
        @include label-up;
      }
    }

    @mixin label-up {
      top: -10px;
      font-size: 14px;
      padding: 0 5px;
      background-color: white;
    }
  }
}
