@import 'variables.scss';
@import 'mixins.scss';
@import 'buttons.scss';

@import url("../../assets/fonts/fontello.css");

body {
  background-color: $color-background;
}

.app-content-container {
  margin-top: $header-height;
}

body > .container, .navbar-fixed-top .container {
  padding: 0;
}
