$color-dark: #121315; // dark

$color-blue-0: #222531; // darkBlue
$color-blue-1: #383F4E; // lightBlue
$color-blue-2: #0069d2; // blue
$color-blue-3: #00D7FF; // brightBlue
$color-blue-4: #9b9fa6; // lightHalfBlue

$color-gray-0: #2A303D; // darkGrey
$color-gray-1: #979797; // grey
$color-gray-2: #c8cdd2; // midgrey
$color-gray-3: #E8EBEE; // lightGrey

$color-pink-0: #971057; // berry
$color-pink-1: #E5007D; // cerice
$color-pink-2: #E5007D; // pink
$color-pink-3: #ab0e5f;

$fs-s: 12px;
$fs-m0: 14px;
$fs-m: 16px;
$fs-l: 18px;
$fs-xl: 22px;
$fs-xxl: 24px;
$fs-xxxl: 32px;
