@import '../../../styles/colors';

.job-card {
  width: 300px;

  .title-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company-image-container {
    border-bottom: 1px solid $color-gray-100;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-height: 100px;

    .image {
      max-height: 80px;
      max-width: 100%;
    }
  }

  .read-more-container {
    background-color: $color-gray-800;
  }

  .description-container {
    height: 71px;
    max-height: 71px;
  }

  .meta-container {
    align-items: baseline;

    .image {
      height: 35px;
    }
  }
}
