@import '../../../styles/colors';
@import '../../../styles/typography';

.job-card {
  width: 260px;

  &:hover {
    transform: scale(1.02);
  }

  .job-content-container {
    height: 241px;

    .job-header-container {
      min-height: 80px;
      color: black;

      .job-header {
        @include truncate-owerflowing-text-multiline($font-size: $fs-l, $line-height: 1.1, $lines-to-show: 3, $excerpt-bg: $white);
      }
    }

    .job-company {
      color: $color-primary-cerise;
      font-weight: lighter;
      @include truncate-owerflowing-text;
    }

    .job-city {
      margin-top: 5px;
      text-transform: uppercase;
      @include truncate-owerflowing-text;
    }

    .job-description-container {
      margin-top: 10px;
      min-height: 80px;

      .job-description {
        @include truncate-owerflowing-text-multiline($font-size: $fs-m0, $line-height: 1.3, $lines-to-show: 4, $excerpt-bg: $white);
      }
    }
  }

  .job-salary-container {
    padding-top: 30px;

    .job-salary {
      font-size: $fs-xxxxl;
      color: $color-primary-cerise;
      @include truncate-owerflowing-text;
    }

    .job-salary-currency {
      font-size: $fs-xxl;
      @include truncate-owerflowing-text;
    }

    .job-salary-additional-info {
      margin-top: 10px;

      .job-hours,
      .job-total-salary {
        @include truncate-owerflowing-text;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
