@import '../../../styles/colors';
@import '../../../styles/dimensions';

.cookie-message {
  text-align: center;
  background: $color-blue-500;
  color: $white;
  padding: 20px 32px;

  .cookie-message-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: $mobile-max-width) {
      flex-direction: column;
    }
  }
}
