@import "../../styles/variables.scss";

.confirmation-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-blue-1;
  z-index: 10000;
  color: white;

  .confirmation-item {
    height: 100%;
    width: 85%;
    margin: 0 auto;

    .icon-ic-check2 {
      font-size: 30px;
      color: $color-blue-3;
    }

    .item-title {
      margin: 35px 0;
      font-size: $fs-xl;
      padding: 0 20px;
    }

    .item-content {
      font-size: $fs-l;
    }

    .button-container {
      margin: 30px 0;

      .button {
        font-size: $fs-l;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
