@import '../../../styles/colors';
@import '../../../styles/typography';

.job-card {
  width: 260px;

  .job-content-container {
    .job-description-container {
      margin-top: 10px;
    }
  }

  .job-salary-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .job-salary-additional-info {
    display: flex;
    flex-wrap: nowrap;
  }
}
