@import '../../../../styles/colors';

.user-details-container {
  .user-details-form-container {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    .user-details-form-group-title {
      color: black;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .user-details-form-input-container {
      margin-bottom: 15px;

      .user-details-form-input-label {
        color: black;
        font-size: 20px;
      }

      .user-details-form-input-text {
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    .user-details-form-ruler {
      width: 75%;
      margin: 40px auto;
    }

    .user-details-form-button-container {
      margin: 40px 0;
      text-align: center;

      .user-details-form-save-message {
        color: green;
      }

      .user-details-form-error-message {
        color: $color-cerise-500;
      }

      .user-details-form-button {
        display: block;
        margin: 15px auto 30px;
        min-width: 250px;
      }
    }
  }
}
