<div class="my-jobs-item clickable" (click)="onListItemClick()">
  <div>
    {{job.jobDate | date: "MMM"}}<br/>
    <span>{{job.jobDate | date: "dd"}}</span>
  </div>
  <div>
    <h3>{{job.name}}</h3>

    <section *ngIf="isCompanyUser">
      <p *ngIf="section == 'current'">{{'assignment.status.user_application.will_perform' | translate:{'candidate_name': job.jobUsers[0].user.firstName} }}</p>

      <p *ngIf="section == 'recent'"><em>{{job.jobUsers.length}} {{'company.assignments.applications' | translate}}</em></p>

      <p *ngIf="section == 'waiting'">
        <em>{{'assignment.status.you_hired' | translate}} {{job.jobUsers[0].user.firstName}} {{job.users[0].user.lastName}}</em>
      </p>

      <!--<p *ngIf="section == 'waiting'"><span class="stars">&#9734;&#9734;&#9734;&#9734;&#9734;</span></p>-->

      <p *ngIf="section == 'history'">
        <em>{{'assignment.status.you_hired' | translate}} {{job.jobUsers[0].user.firstName}} {{job.jobUsers[0].user.lastName}}</em>
      </p>
      <p *ngIf="section == 'history'">
        <rating [rating]="job.jobUsers[0].ratingScore"></rating>
      </p>
    </section>

    <section *ngIf="!isCompanyUser">
      <p *ngIf="section == 'current'">{{job.street}}</p>
      <p *ngIf="section == 'current'">
        <span *ngIf="!job.jobUsers[0].accepted && !job.jobUsers[0].willPerform">{{'user.apply.confirmation' | translate}}</span>
        <span *ngIf="job.jobUsers[0].accepted && !job.jobUsers[0].willPerform">{{'assignment.status.user_company_hire' | translate}}</span>
        <span *ngIf="job.jobUsers[0].willPerform && !job.jobUsers[0].performed">{{'assignment.status.you_hired' | translate}}</span>
        <span *ngIf="job.jobUsers[0].performed">{{'assignment.status.performed' | translate}}</span>
      </p>

      <p *ngIf="section == 'history'">{{job.company.name}}</p>
    </section>
  </div>

  <div class="user-image" *ngIf="isCompanyUser && (section == 'history' || section == 'waiting')">
    <img class="user-info-image" *ngIf="job.jobUsers[0].user.images.length > 0" src="{{ job.jobUsers[0].user.images[0].imageUrl}}"/>
    <img class="user-info-image" *ngIf="job.jobUsers[0].user.images.length == 0" src="/assets/images/placeholder-profile-image.png"/>
  </div>
</div>
