@import '../../styles/colors';

.my-jobs-item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;

  .date-container {
    min-width: 100px;
  }
}
