<div class="my-jobs-item" (click)="onListItemClick()">
  <div>
    {{application.job.jobDate | date: "MMM"}}<br/>
    <span>{{application.job.jobDate | date: "dd"}}</span>
  </div>
  <div>
      <h3>{{application.job.translatedText.name}}</h3>

    <section>
      <p *ngIf="section == 'current'">{{application.job.street}}</p>
      <p *ngIf="section == 'current'">
        <span *ngIf="!application.accepted && !application.willPerform">{{'confirmation.applied.for.job.title' | translate}}</span>
        <span *ngIf="application.accepted && !application.willPerform">{{'assignment.status.user_company_hire' | translate}}</span>
        <span *ngIf="application.willPerform && !application.jobEnded">{{'assignment.status.you_hired' | translate}}</span>
        <span *ngIf="application.willPerform && application.jobEnded">{{'assignment.status.performed' | translate}}</span>
      </p>

      <p *ngIf="section == 'history'">{{application?.job?.company?.name}}</p>
    </section>
  </div>
</div>
