<form
  #form="ngForm"
  class="ui form"
  (ngSubmit)="onSubmit()">

  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <h3 class="ui dividing header">
    {{'user.settings.form.personal.info.header' | translate}}
  </h3>

  <user-first-name-input
    [control]="settingsForm.controls['first_name']"
    [apiErrors]="apiErrors">
  </user-first-name-input>

  <user-last-name-input
    [control]="settingsForm.controls['last_name']"
    [apiErrors]="apiErrors">
  </user-last-name-input>

  <user-email-input
    [control]="settingsForm.controls['email']"
    [apiErrors]="apiErrors">
  </user-email-input>

  <user-phone-input
    [control]="settingsForm.controls['phone']"
    [apiErrors]="apiErrors">
  </user-phone-input>

  <h3 class="ui dividing header">
    {{'user.settings.form.address.header' | translate}}
  </h3>

  <user-address-input
    [streetControl]="settingsForm.controls['street']"
    [zipControl]="settingsForm.controls['zip']"
    [cityControl]="settingsForm.controls['city']"
    [apiErrors]="apiErrors">
  </user-address-input>

  <h3 class="ui dividing header">
    {{'user.settings.form.change.password.header' | translate}}
  </h3>

  <div class="field">
    <sm-input
      [control]="passwordForm.controls['old_password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.old.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <sm-input
      [control]="passwordForm.controls['password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.new.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <sm-input
      [control]="passwordForm.controls['repeat_password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.repeat.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <input-errors
      apiAttribute="password"
      [control]="passwordForm.controls['password']"
      [apiErrors]="apiErrors">
    </input-errors>
    <input-error
      [visible]="passwordsSuppliedAndMisMatch()"
      [label]="'user.settings.form.repeat.password.validation.mismatch' | translate">
    </input-error>
  </div>

  <h3 class="ui dividing header">
    {{'user.settings.form.bank.details.header' | translate}}
  </h3>

  <div class="field">
    <sm-input
      [control]="settingsForm.controls['account_clearing_number']"
      [label]="'user.settings.form.clearing.number.label' | translate"
      [placeholder]="'user.settings.form.clearing.number.placeholder' | translate"
      class="left"
      type="text">
    </sm-input>
    <input-errors
      apiAttribute="account_clearing_number"
      [control]="settingsForm.controls['account_clearing_number']"
      [apiErrors]="apiErrors">
    </input-errors>
  </div>

  <div class="field">
    <sm-input
      [control]="settingsForm.controls['account_number']"
      [label]="'user.settings.form.account.number.label' | translate"
      [placeholder]="'user.settings.form.account.number.placeholder' | translate"
      class="left"
      type="text">
    </sm-input>
    <input-errors
      apiAttribute="account_number"
      [control]="settingsForm.controls['account_number']"
      [apiErrors]="apiErrors">
    </input-errors>
    <!-- The API can return errors for account, which isn't bound to any instance of form control -->
    <api-errors
      [errors]="apiErrors"
      apiAttribute="account">
    </api-errors>
  </div>

  <div class="user-details-form-button-container">
    <div
      *ngIf="saveFail"
      class="user-details-form-error-message">
      {{'user.settings.form.submit.fail' | translate}}
    </div>
    <div
      *ngIf="saveSuccess"
      class="user-details-form-save-message">
      {{'user.settings.form.submit.success' | translate}}
    </div>
    <button
      class="user-details-form-button"
      *ngIf="!loadingSubmit"
      type="submit"
      class="btn-primary btn-small btn">
      {{'user.settings.form.submit.button' | translate}}
    </button>
  </div>
</form>
