<form
  (ngSubmit)="onSubmit()"
  #form="ngForm"
  class="ui form">

  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <h3 class="ui horizontal divider pink header">
    <i class="user icon"></i>
    {{'user.settings.form.personal.info.header' | translate}}
  </h3>

  <first-name-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['first_name']">
  </first-name-input>

  <last-name-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['last_name']">
  </last-name-input>

  <email-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['email']">
  </email-input>

  <phone-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['phone']">
  </phone-input>

  <ssn-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['ssn']">
  </ssn-input>

  <gender-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['gender']">
  </gender-input>

  <country-of-origin-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['country_of_origin']">
  </country-of-origin-input>

  <h3 class="ui horizontal divider pink header">
    <i class="marker icon"></i>
    {{'user.settings.form.address.header' | translate}}
  </h3>

  <street-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['street']">
  </street-input>

  <zip-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['zip']">
  </zip-input>

  <city-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['city']">
  </city-input>

  <h3 class="ui horizontal divider pink header">
    <i class="money icon"></i>
    {{'user.settings.form.bank.details.header' | translate}}
  </h3>

  <clearing-number-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['account_clearing_number']">
  </clearing-number-input>

  <account-number-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['account_number']">
  </account-number-input>

  <!-- The API can return errors for account, which isn't bound to any instance of form control -->
  <div style="text-align: center">
    <api-errors
      attribute="account"
      [errors]="apiErrors">
    </api-errors>
  </div>

  <h3 class="ui horizontal divider pink header">
    <i class="settings icon"></i>
    {{'user.settings.form.settings.header' | translate}}
  </h3>

  <system-language-input
    [apiErrors]="apiErrors"
    [control]="settingsForm.controls['system_language_id']">
  </system-language-input>

  <h3 class="ui horizontal divider pink header">
    <i class="lock icon"></i>
    {{'user.settings.form.change.password.header' | translate}}
  </h3>

  <old-password-input
    [apiErrors]="apiErrors"
    [control]="passwordForm.controls['old_password']">
  </old-password-input>

  <new-password-input
    [apiErrors]="apiErrors"
    [control]="passwordForm.controls['password']">
  </new-password-input>

  <form-submit-button
    [buttonText]="'user.settings.form.submit.button' | translate"
    [showButton]="showSubmitButton"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess">
  </form-submit-button>
</form>
