<form
  #form="ngForm"
  class="ui form"
  (ngSubmit)="onSubmit()">

  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <h3 class="ui dividing header">
    {{'user.settings.form.personal.info.header' | translate}}
  </h3>

  <first-name-input
    [control]="settingsForm.controls['first_name']"
    [apiErrors]="apiErrors">
  </first-name-input>

  <last-name-input
    [control]="settingsForm.controls['last_name']"
    [apiErrors]="apiErrors">
  </last-name-input>

  <email-input
    [control]="settingsForm.controls['email']"
    [apiErrors]="apiErrors">
  </email-input>

  <phone-input
    [control]="settingsForm.controls['phone']"
    [apiErrors]="apiErrors">
  </phone-input>

  <h3 class="ui dividing header">
    {{'user.settings.form.address.header' | translate}}
  </h3>

  <address-input
    [streetControl]="settingsForm.controls['street']"
    [zipControl]="settingsForm.controls['zip']"
    [cityControl]="settingsForm.controls['city']"
    [apiErrors]="apiErrors">
  </address-input>

  <h3 class="ui dividing header">
    {{'user.settings.form.change.password.header' | translate}}
  </h3>

  <div class="field">
    <sm-input
      [control]="passwordForm.controls['old_password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.old.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <sm-input
      [control]="passwordForm.controls['password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.new.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <sm-input
      [control]="passwordForm.controls['repeat_password']"
      [label]="'user.settings.form.new.password.label' | translate"
      [placeholder]="'user.settings.form.repeat.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <input-errors
      apiAttribute="password"
      [control]="passwordForm.controls['password']"
      [apiErrors]="apiErrors">
    </input-errors>
    <input-error
      [visible]="passwordsSuppliedAndMisMatch()"
      [label]="'user.settings.form.repeat.password.validation.mismatch' | translate">
    </input-error>
  </div>

  <h3 class="ui dividing header">{{'user.settings.form.bank.details.header' | translate}}</h3>

  <bank-account-input
    [accountClearingNumberControl]="settingsForm.controls['account_clearing_number']"
    [accountNumberControl]="settingsForm.controls['account_number']"
    [apiErrors]="apiErrors">
  </bank-account-input>

  <form-submit-button
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'user.settings.form.submit.button' | translate">
  </form-submit-button>
</form>
