<div class="home-container">
  <welcome-header></welcome-header>

  <new-jobs-section></new-jobs-section>

  <div
    class="user-jobs-container ui basic center aligned segment"
    style="margin: 0; padding: 30px 0"
    *ngIf="userJobsVisible()">
    <h2>
      {{'home.jobs.slider.user.jobs.title' | translate}}
    </h2>
    <div
      class="ui centered grid"
      style="margin: 20px 0">
      <div
        *ngFor="let userJob of userJobs"
        class="job-item-container"
        style="margin: 15px 10px"
        [routerLink]="JARoutes.job.url([userJob.job.id])">
        <div class="job-item-name-container">
          <div class="job-item-name">
            {{userJob.job.translated.name}}
          </div>
        </div>
        <div
          *ngIf="userJob.willPerform && userJob.job_ended"
          class="job-item-label-container job-item-label-secondary-container">
          {{'home.jobs.slider.user.jobs.job.ended.label' | translate | uppercase}}
        </div>
        <div
          *ngIf="!userJob.willPerform"
          class="job-item-label-container job-item-label-secondary-container">
          {{'home.jobs.slider.user.jobs.job.applied.label' | translate | uppercase}}
        </div>
        <div
          *ngIf="userJob.willPerform && !userJob.job_ended"
          class="job-item-label-container job-item-label-primary-container">
          {{'home.jobs.slider.user.jobs.will.perform.job.label' | translate | uppercase}}
        </div>
      </div>
    </div>
    <base-button
      [buttonText]="'home.jobs.slider.show.all.link' | translate"
      [routerLink]="JARoutes.userJobs.url()"
      kind="primary"
      size="medium">
    </base-button>
  </div>

  <how-it-works-and-maximize-chances-section></how-it-works-and-maximize-chances-section>

  <partners-section></partners-section>
</div>
