<div class="home-container">
  <welcome-header></welcome-header>

  <div class="home-jobs-slider-container home-jobs-slider-new-jobs-container">
    <div class="home-jobs-slider-new-jobs-title">
      <h2>
        {{'home.jobs.slider.new.jobs.title' | translate}}
      </h2>
    </div>
    <div class="home-jobs-slider-show-all-jobs-link-container">
      <a
        class="home-jobs-slider-show-all-jobs-link home-jobs-slider-show-all-new-jobs-link"
        routerLink="{{JARoutes.jobs.url(['1'])}}">
        {{'home.jobs.slider.show.all.link' | translate | lowercase}} > <i class="icon-ic-arrow-right"></i>
      </a>
    </div>
    <div class="home-jobs-slider" align="center">
      <div
        *ngFor="let job of newJobs"
        class="home-job-item-container"
        routerLink="{{JARoutes.job.url([job.id])}}">
        <div class="home-job-item-name-container">
          <div class="home-job-item-name">
            {{job.translated.name}}
          </div>
        </div>
        <div class="home-job-item-salary-container">
          {{job.grossAmountWithCurrency }}
        </div>
      </div>
    </div>
  </div>

  <div class="home-jobs-slider-container home-jobs-slider-user-jobs-container" *ngIf="userJobsVisible()">
    <div class="home-jobs-slider-user-jobs-title">
      <h2>
        {{'home.jobs.slider.user.jobs.title' | translate}}
      </h2>
    </div>
    <div class="home-jobs-slider-show-all-jobs-link-container">
      <a
        class="home-jobs-slider-show-all-jobs-link home-jobs-slider-show-all-user-jobs-link"
        [routerLink]="JARoutes.userJobs.url()">
        {{'home.jobs.slider.show.all.link' | translate | lowercase}} > <i class="icon-ic-arrow-right"></i>
      </a>
    </div>
    <div class="home-jobs-slider" align="center">
      <div
        *ngFor="let userJob of userJobs"
        class="home-job-item-container"
        routerLink="{{JARoutes.job.url([userJob.job.id])}}">
        <div class="home-job-item-name-container">
          <div class="home-job-item-name">
            {{userJob.job.translated.name}}
          </div>
        </div>
        <div *ngIf="userJob.job_ended" class="home-job-item-salary-container home-job-item-salary-job-ended-container">
          {{'home.jobs.slider.user.jobs.job.ended.label' | translate | uppercase}}
        </div>
        <div
          *ngIf="userJob.willPerform && !userJob.job_ended"
          class="home-job-item-salary-container home-job-item-salary-will-perform-job-container">
          {{'home.jobs.slider.user.jobs.will.perform.job.label' | translate | uppercase}}
        </div>
      </div>
    </div>
  </div>

  <div class="home-jobs-applied-for-container" *ngIf="jobsAppliedForVisible()">
    <div class="home-jobs-applied-for-header-container">
      <h3 class="home-jobs-applied-for-header">
        {{'home.jobs.applied.for.title' | translate}}
      </h3>
    </div>
    <div *ngFor="let job of jobsAppliedFor" class="home-jobs-applied-for-job-item-container">
      <div class="home-jobs-applied-for-job-item" routerLink="{{JARoutes.job.url([job.job.id])}}">
        <p class="home-jobs-applied-for-job-item-name">
          {{job.job.translated.name}}
        </p>
        <span class="home-jobs-applied-for-job-item-icon"> > </span>
      </div>
    </div>
  </div>

  <div class="home-instructions-container">
    <div class="home-instructions-inner-container home-instructions-first-inner-container">
      <h3>
        {{'home.instructions.first.section.title' | translate}}
      </h3>
      <ul class="home-instructions-list">
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.first.section.instruction0' | translate}}
        </li>
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.first.section.instruction1' | translate}}
        </li>
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.first.section.instruction2' | translate}}
        </li>
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.first.section.instruction3' | translate}}
        </li>
      </ul>
      <base-button
        [buttonText]="'common.find_assignment' | translate"
        [fluid]="true"
        [routerLink]="JARoutes.jobs.url(['1'])"
        kind="secondary-light"
        size="medium">
      </base-button>
    </div>
    <div class="home-instructions-inner-container home-instructions-second-inner-container">
      <h3>
        {{'home.instructions.second.section.title' | translate}}
      </h3>
      <p>
        {{'home.instructions.second.section.description' | translate}}
      </p>
      <ul class="home-instructions-list">
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.second.section.instruction1' | translate}}
        </li>
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.second.section.instruction2' | translate}}
        </li>
        <li class="home-instructions-list-item">
          <i class="home-instructions-list-item-icon fa fa-check-circle-o fa-2x"></i> {{'home.instructions.second.section.instruction3' | translate}}
        </li>
      </ul>
      <div *ngIf="!user">
        <base-button
          [buttonText]="'common.start_here' | translate"
          [fluid]="true"
          [routerLink]="JARoutes.registerUser.url()"
          kind="secondary-light"
          size="medium">
        </base-button>
      </div>
      <div *ngIf="user">
        <base-button
          [buttonText]="'home.header.logged.in.profile.button' | translate"
          [fluid]="true"
          [routerLink]="JARoutes.user.url()"
          kind="secondary-light"
          size="medium">
        </base-button>
      </div>
    </div>
  </div>


  <div class="home-partners-container">
    <h2 class="home-partners-title">{{'home.partners.title' | translate}}</h2>
    <p>{{'home.partners.description' | translate}}</p>
    <div class="home-partners-logos-container">
      <div class="home-logo-container">
        <a href="http://antrop.se/"><img class="home-partner-logo" src="/assets/images/antrop-logo2.png" alt="Antrop"></a>
      </div>
      <div class="home-logo-container">
        <a href="http://universumglobal.com/"><img class="home-partner-logo" src="/assets/images/logo-universum.png" alt="Universum"></a>
      </div>
      <div class="home-logo-container">
        <a href="https://www.frilansfinans.se/"><img class="home-partner-logo" src="/assets/images/frilans_finans-logo.png" alt="Frilans Finans"></a>
      </div>
      <div class="home-logo-container">
        <a href="https://janssonnorin.se/"><img class="home-partner-logo" src="/assets/images/jansson_norin-logo.png" alt="Jansson Norin"></a>
      </div>
      <div class="home-logo-container">
        <a href="http://novasverige.se/"><img class="home-partner-logo home-partner-logo-extra-left-padding" src="/assets/images/nova-logo.png" alt="Nova"></a>
      </div>
      <div class="home-logo-container">
        <a href="http://bondstreet.se/"><img class="home-partner-logo" src="/assets/images/bond_street_film_sthlm.png" alt="Bond Street Film"></a>
      </div>
      <div class="home-logo-container">
        <a href="http://halvarsson.se/"><img class="home-partner-logo" src="/assets/images/hallvarsson.jpg" alt="Hallvarsson Halvarsson"></a>
      </div>
    </div>
  </div>
</div>
