@import '../../styles/colors';
@import '../../styles/dimensions';
@import '../../styles/typography';
$job-card-border-radius: 8px;

.home-container {
  .home-jobs-slider-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    @media screen and (max-width: $md-device-width) {
      padding: 3em 1em;
    }

    .home-jobs-slider-new-jobs-title {
      color: $color-secondary-gray;
    }

    .home-jobs-slider-user-jobs-title {
      color: $white;
    }

    .home-jobs-slider-show-all-jobs-link-container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .home-jobs-slider-show-all-jobs-link {
        cursor: pointer;
        align-self: flex-end;
        padding-left: 3em;
      }

      .home-jobs-slider-show-all-new-jobs-link {
        color: $color-primary-cerise;
      }

      .home-jobs-slider-show-all-user-jobs-link {
        color: $white;
      }
    }

    .home-jobs-slider {
      width: 100%;
      margin-top: 15px;
      overflow-y: scroll;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      .home-job-item-container {
        display: inline-block;
        width: 180px;
        margin: 5px;
        background-color: $default-bg-color;
        border-radius: $job-card-border-radius;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }

        .home-job-item-name-container {
          height: 110px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .home-job-item-name {
            text-align: center;
            white-space: normal;
            @include truncate-owerflowing-text;
          }
        }

        .home-job-item-salary-container {
          color: $white;
          background: $color-primary-cerise;
          padding: 10px;
          font-weight: 500;
          /* TODO: Jobs border radius variable */
          border-radius: 0 0 $job-card-border-radius $job-card-border-radius;
          text-align: center;
        }

        .home-job-item-salary-will-perform-job-container {
          background: $color-primary-cerise;
          color: $white;
        }

        .home-job-item-salary-job-ended-container {
          background: $color-gray-50;
          color: $color-gray-200;
        }
      }
      @media (max-width: $md-device-width) {
        .home-job-item-container:first-of-type {
          margin-left: 3em;
        }

        .home-job-item-container:last-of-type {
          margin-right: 3em;
        }
      }
    }
  }

  .home-jobs-slider-new-jobs-container {
    background: $white;
  }

  .home-jobs-slider-user-jobs-container {
    background: $color-secondary-gray;
  }

  .home-jobs-applied-for-container {
    display: flex;
    flex-wrap: wrap;

    .home-jobs-applied-for-header-container {
      background: $color-gray-25;
      border-bottom: 2px solid $color-primary-cerise;
      width: 100%;

      .home-jobs-applied-for-header {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 48px;
      }
    }

    .home-jobs-applied-for-job-item-container {
      border-top: 1px solid $color-gray-25;
      border-bottom: 1px solid $color-gray-25;
      width: 100%;

      &:hover {
        opacity: 0.5;
      }

      .home-jobs-applied-for-job-item {
        cursor: pointer;
        display: flex;
        width: 100%;
        padding-left: 48px;

        .home-jobs-applied-for-job-item-name {
          margin-top: 15px;
          margin-bottom: 15px;
          @include truncate-owerflowing-text;
        }

        .home-jobs-applied-for-job-item-icon {
          color: $color-primary-cerise;
          margin-top: 15px;
          margin-bottom: 15px;
          padding-left: 20px;
          margin-left: auto;
          margin-right: 48px;
        }
      }
    }
  }

  .home-instructions-container {
    display: flex;
    flex-wrap: wrap;

    .home-instructions-inner-container {
      padding: 4em 4em 8em;
      text-align: center;
      color: $white;
      position: relative;
      width: 100%;
      @media screen and (min-width: $sm-device-width) {
        width: 50%;
      }

      .home-instructions-button {
        width: calc(100% - 8em);
        margin-bottom: 2em;
        margin-left: 4em;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .home-instructions-list {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: left;

        .home-instructions-list-item {
          padding: 10px 0 10px 45px;
          position: relative;

          .home-instructions-list-item-icon {
            position: absolute;
            left: 0;
            top: 5px;
          }
        }
      }
    }

    .home-instructions-first-inner-container {
      background: $color-secondary-blue;
    }

    .home-instructions-second-inner-container {
      background: $color-secondary-gray;
    }
  }

  .home-partners-container {
    text-align: center;
    background: $white;
    padding: 5em 2em;
    display: flex;
    flex-wrap: wrap;

    .home-partners-logos-container {
      width: 100%;
    }

    .home-partners-title {
      width: 100%;
    }

    .home-logo-container {
      padding: 15px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      .home-partner-logo {
        width: auto;
        max-height: 80px;
        max-width: 130px;
        filter: grayscale(100%);

        &.home-partner-logo-extra-left-padding {
          padding-left: 10%;
        }
      }
    }
  }
}
