@import '../../styles/colors';
@import '../../styles/dimensions';
@import '../../styles/typography';

.home-container {
  .home-header-container {
    display: flex;
    background: linear-gradient($color-cerise-600, $color-primary-cerise);
    color: $white;
    flex-flow: row-reverse;
    @media screen and (max-width: $md-device-width) {
      flex-flow: column;
    }

    .home-header-map-image {
      width: 426px;
      padding-right: 0;
      @media screen and (max-width: $md-device-width) {
        margin: 0 auto;
      }
      @media screen and (max-width: 426px) {
        width: 100%;
      }
    }

    .home-header-info-container {
      padding: 40px;
      width: calc(100% - 426px);
      text-align: left;
      @media screen and (max-width: $md-device-width) {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
      }

      .home-header-info-title {
        color: $white;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
        @include wrap-long-words;
      }

      .home-header-info-subtitle {
        padding-top: 1em;
        padding-bottom: 0.2em;
      }

      .home-header-info-description-container {
        margin: 0 auto;
        font-size: 14px;
      }

      .home-header-button-container {
        display: inline-block;
        margin-top: 20px;

        .home-header-button {
          width: 100%;
          position: relative;
          margin-left: 0;
        }
      }
    }

    .home-header-info-container-logged-in {
      padding-left: 150px;
      padding-top: 100px;
      @media screen and (max-width: $md-device-width) {
        padding-left: 0;
        padding-top: 40px;
      }
    }
  }

  .home-jobs-applied-for-container {
    display: flex;
    flex-wrap: wrap;

    .home-jobs-applied-for-header-container {
      background: $color-gray-25;
      border-bottom: 2px solid $color-primary-cerise;
      width: 100%;

      .home-jobs-applied-for-header {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 48px;
      }
    }

    .home-jobs-applied-for-job-item-container {
      border-top: 1px solid $color-gray-25;
      border-bottom: 1px solid $color-gray-25;
      width: 100%;

      &:hover {
        opacity: 0.5;
      }

      .home-jobs-applied-for-job-item {
        cursor: pointer;
        display: flex;
        width: 100%;
        padding-left: 48px;

        .home-jobs-applied-for-job-item-name {
          margin-top: 15px;
          margin-bottom: 15px;
          @include truncate-owerflowing-text;
        }

        .home-jobs-applied-for-job-item-icon {
          color: $color-primary-cerise;
          margin-top: 15px;
          margin-bottom: 15px;
          padding-left: 20px;
          margin-left: auto;
          margin-right: 48px;
        }
      }
    }
  }

  .home-instructions-container {
    display: flex;
    flex-wrap: wrap;

    .home-instructions-inner-container {
      padding: 4em 4em 8em;
      text-align: center;
      color: $white;
      position: relative;
      width: 100%;
      @media screen and (min-width: $sm-device-width) {
        width: 50%;
      }

      .home-instructions-button {
        width: calc(100% - 8em);
        margin: 4em;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .home-instructions-list {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: left;

        .home-instructions-list-item {
          padding: 10px 0 10px 45px;
          position: relative;

          .home-instructions-list-item-icon {
            position: absolute;
            left: 0;
            top: 5px;
          }
        }
      }
    }

    .home-instructions-first-inner-container {
      background: $color-secondary-blue;
    }

    .home-instructions-second-inner-container {
      background: $color-secondary-gray;
    }
  }

  .home-partners-container {
    text-align: center;
    background: $white;
    padding: 5em 2em;
    display: flex;
    flex-wrap: wrap;

    .home-partners-logos-container {
      width: 100%;
    }

    .home-partners-title {
      width: 100%;
    }

    .home-logo-container {
      padding: 15px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      .home-partner-logo {
        width: auto;
        max-height: 80px;
        max-width: 130px;
        filter: grayscale(100%);

        &.home-partner-logo-extra-left-padding {
          padding-left: 10%;
        }
      }
    }
  }
}
