<div class="container-fluid">
  <div class="row home-header">
    <div class="col-xs" *ngIf="user">
      <h1>{{'common.welcome_user'| translate: {username: user.firstName} }}</h1>
      <div class="home-header-button-container">
        <a routerLink="/user" class="medium-button-primary-light">{{'common.edit_profile'| translate}}</a><br>
        <a routerLink="/jobs/1" class="medium-button-secondary-light">{{'menu.main.find_assignment'| translate}}</a>
      </div>
    </div>
    <div class="col-xs" *ngIf="!user">
      <div class="header-box-title">{{'start.hero_section.left.title' | translate}}</div>
      <div class="header-box-text">{{'start.hero_section.left.text' | translate}}</div>
      <div class="home-header-button-container">
        <a routerLink="/user/register" class="medium-button-primary-light">{{'menu.main.create_account'| translate}}</a><br>
      </div>
    </div>
  </div>


  <div class="row home-slider-container my-jobs">
    <div class="col-xs-12 my-jobs-title">
      <h2>{{'home_page.new_jobs_slider.title' | translate}}</h2>
    </div>
    <div class="col-xs-12 my-jobs-show-all-button">
      <span routerLink="/jobs/1">{{'common.show_all' | translate | lowercase}} > <i class="icon-ic-arrow-right"></i></span>
    </div>
    <div class="col-xs-12 jobs-slider">
      <div *ngFor="let job of newJobs" class="item-container clickable" [routerLink]="['/job', job.id]">
        <div class="job-name">
          <div>
            <p>{{job.name}}</p>
          </div>
        </div>
        <div class="my-jobs-salary-container">
          {{job.hourlyPay.grossSalary * job.hours}} {{job.hourlyPay.currency}}
        </div>
      </div>
    </div>
  </div>

  <div class="row home-slider-container user-jobs" *ngIf="userJobsVisible()">
    <div class="col-xs-12 user-jobs-title">
      <h2>{{'home_page.user_jobs_slider.title' | translate}}</h2>
    </div>
    <div class="col-xs-12 user-jobs-show-all-button">
      <span routerLink="/my-jobs">{{'common.show_all' | translate | lowercase}} > <i class="icon-ic-arrow-right"></i></span>
    </div>
    <div class="col-xs-12 jobs-slider">
      <div *ngFor="let userJob of userJobs" class="item-container clickable" [routerLink]="['/job', userJob.job.id]">
        <div class="job-name">
          <div>
            <p>{{userJob.job.name}}</p>
          </div>
        </div>

        <div *ngIf="userJob.concluded" class="user-jobs-salary-container user-jobs-salary-container-inactive">
          {{'home_page.user_jobs_slider_item.status.finished' | translate}}
        </div>

        <div *ngIf="userJob.willPerform" class="user-jobs-salary-container user-jobs-salary-container-active">
          {{'home_page.user_jobs_slider_item.status.ongoing' | translate}}
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="home-jobs-applied-for-header-wrapper col-xs-12">
      <div class="home-jobs-applied-for-header col-xs-10 offset-xs-1">
        <h3>Jobs applied for</h3>
      </div>
    </div>

    <div *ngFor="let job of jobsAppliedFor" class="home-jobs-applied-for-job-item-wapper col-xs-12">
      <div class="home-jobs-applied-for-job-item row col-xs-10 offset-xs-1" [routerLink]="['/job', job.job.id]">
        <p class="col-xs-10 col-md-11">{{job.job.name}}</p>
        <span class="col-xs-2 col-md-1"> > </span>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="!user">
    <div class="col-xs-12 col-md-6 instructions-container">
      <h3>{{'start.instruction_section.slide_1.title' | translate}}</h3>
      <ul class="list">
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_1.text_1' | translate}}
        </li>
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_1.text_2' | translate}}
        </li>
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_1.text_3' | translate}}
        </li>
      </ul>
      <a routerLink="/jobs/1" class="medium-button-primary-light">{{'common.find_assignment' | translate}}</a>
    </div>
    <div class="col-xs-12 col-md-6 instructions-container">
      <h3>{{'start.instruction_section.slide_2.title' | translate}}</h3>
      <p>{{'start.instruction_section.slide_2.text_1' | translate}}</p>
      <ul class="list">
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_2.text_2' | translate}}
        </li>
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_2.text_3' | translate}}
        </li>
        <li class="item">
          <i class="fa fa-check-circle-o fa-2x"></i>
          {{'start.instruction_section.slide_2.text_4' | translate}}
        </li>
      </ul>
      <a routerLink="/user" class="medium-button-primary-light">{{'common.start_here' | translate}}</a>
    </div>
  </div>


  <div class="row home-partners">
    <h2>{{'start.partner_section.title' | translate}}</h2>
    <p>{{'start.partner_section.text' | translate}}</p>
    <div class="partners-logos-container">
      <div class="logo-container"><a href="http://antrop.se/"><img class="partner-logo" src="/assets/images/antrop-logo2.png" alt="Antrop"></a></div>
      <div class="logo-container"><a href="http://universumglobal.com/"><img class="partner-logo" src="/assets/images/logo-universum.png" alt="Universum"></a></div>
      <div class="logo-container"><a href="https://www.frilansfinans.se/"><img class="partner-logo" src="/assets/images/frilans_finans-logo.png" alt="Frilans Finans"></a></div>
      <div class="logo-container"><a href="https://janssonnorin.se/"><img class="partner-logo" src="/assets/images/jansson_norin-logo.png" alt="Jansson Norin"></a></div>
      <div class="logo-container"><a href="http://novasverige.se/"><img class="partner-logo left-padding" src="/assets/images/nova-logo.png" alt="Nova"></a></div>
      <div class="logo-container"><a href="http://bondstreet.se/"><img class="partner-logo" src="/assets/images/bond_street_film_sthlm.png" alt="Bond Street Film"></a></div>
      <div class="logo-container"><a href="http://halvarsson.se/"><img class="partner-logo" src="/assets/images/hallvarsson.jpg" alt="Hallvarsson Halvarsson"></a></div>
    </div>
  </div>
</div>
