@import '../../styles/variables';
@import '../../styles/buttons';

.login-container {
  .login-header-container {
    background-color: $color-primary-cerise;
    padding: 1em 0;

    h3 {
      position: relative;
      top: 5px;
      color: $white;
    }

  }

  .login-form-container {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    .login-input-container {

      > input {
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    .login-button-container {
      text-align: center;
      margin-top: 20px;

      .error-message {
        color: $color-cerise-500;
      }

      button {
        display: block;
        margin: 10px auto;
        min-width: 200px;
      }

      a {
        color: $color-accent-main;
        font-weight: 600;
      }
    }
  }
}
