@import '../../styles/variables';
@import '../../styles/buttons';

.login-container {
  .login-header-container {
    background-color: $color-primary-cerise;
    padding: 1em 0;

    h3 {
      position: relative;
      top: 5px;
      color: $white;
    }

  }

  .login-form-container {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;

    .login-input-container {
      padding-bottom: 1.5em;
    }

    .login-button-container {
      padding-bottom: 1.5em;
      text-align: center;
      .error-message {
        color: $color-cerise-500;
      }

      button {
        display: block;
        margin: 15px auto 30px;
        min-width: 200px;
      }

      a {
        color: $color-accent-main;
        font-weight: 600;
      }
    }
  }
}
