@import '../../styles/variables';
@import '../../styles/buttons';

.login-container {
  .login-form-container {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    .login-form-input-container {

      .login-form-text-input {
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    .login-form-button-container {
      text-align: center;
      margin-top: 20px;

      .error-message {
        color: $color-cerise-500;
      }

      .login-form-button {
        display: block;
        margin: 10px auto;
        min-width: 200px;
      }

      .login-form-link {
        color: $color-accent-main;
        font-weight: 600;
        display: block;
        padding-bottom: 10px;
      }
    }
  }
}
