<div class="login-container">

  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'login.title' | translate}}</h3>
  </div>

  <div class="login-form-container">

    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
      <div class="form-group material-group login-form-input-container" [ngClass]="{'has-error':!loginForm.controls['email_or_phone'].valid && loginForm.controls['email_or_phone'].touched}">
        <input maxlength="256" (keyup.enter)="onEnterKeyUp()" (focus)="errors.password = ''" class="login-form-text-input form-control material-input fs-m0" type="text" placeholder="{{'login.form.email.or.phone.placeholder' | translate}}" [formControl]="loginForm.controls['email_or_phone']">
        <input-errors [control]="loginForm.controls['email_or_phone']"></input-errors>
      </div>
      <div class="form-group  material-group login-form-input-container" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
        <input (keyup.enter)="onEnterKeyUp()" (focus)="errors.password = ''" class="login-form-text-input form-control material-input fs-m0" type="password" placeholder="{{'login.form.password.placeholder' | translate}}" [formControl]="loginForm.controls['password']"
            maxlength="50">

        <div *ngIf="errors.password" class="alert alert-danger">{{errors.password}}</div>
        <input-errors [control]="loginForm.controls['password']"></input-errors>
      </div>
      <div class="form-group login-form-button-container">
        <loading *ngIf="loadingSubmit"></loading>
        <button *ngIf="!loadingSubmit" type="submit" [disabled]="!loginForm.valid" class="login-form-button btn-primary btn-small btn">{{'login.form.submit.button' | translate}}</button>
        <a class="login-form-link fs-m0" routerLink="{{JARoutes.forgotPassword.url()}}">{{'login.form.forgot.password.link' | translate}}</a>
        <a class="login-form-link fs-m0" routerLink="{{JARoutes.registerUser.url()}}">{{'login.form.register.link' | translate}}</a>
      </div>
    </form>

  </div>
</div>
