<div class="home-jobs-slider-container"
  [ngClass]="{
    'home-jobs-slider-new-jobs-container' : sliderStyle == 'light',
    'home-jobs-slider-user-jobs-container' : sliderStyle == 'dark'
    }">
  <div
    [ngClass]="{
      'home-jobs-slider-new-jobs-title' : sliderStyle == 'light',
      'home-jobs-slider-user-jobs-title' : sliderStyle == 'dark'
      }">
    <h2>
      {{title}}
    </h2>
  </div>
  <div class="home-jobs-slider-show-all-jobs-link-container">
    <a class="home-jobs-slider-show-all-jobs-link"
      [ngClass]="{
        'home-jobs-slider-show-all-new-jobs-link' : sliderStyle == 'light',
        'home-jobs-slider-show-all-user-jobs-link' : sliderStyle == 'dark'
        }"
      routerLink="{{linkDestination}}">
      {{linkTitle}} >
      <i class="icon-ic-arrow-right"></i>
    </a>
  </div>
  <div class="home-jobs-slider" align="center">
    <ng-content></ng-content>
  </div>
</div>
