<div class="row my-jobs-header">
  <h2>
    Mina uppdrag
  </h2>
</div>


<div class="row">
  <div class="my-jobs-header-tab col-xs-6" [ngClass]="{'my-jobs-header-tab-selected': selectedState == 'active'}" (click)="setState('active')" >
    <h4>
      Pågående
    </h4>
  </div>
  <div class="my-jobs-header-tab col-xs-6" [ngClass]="{'my-jobs-header-tab-selected': selectedState == 'history'}" (click)="setState('history')">
    <h4>
      Slutförda
    </h4>
  </div>
</div>


<div class="row" style="background-color: white;">
  <company-jobs *ngIf="isCompanyUser" [selectedState]="selectedState"></company-jobs>
  <user-jobs *ngIf="!isCompanyUser" [selectedState]="selectedState"></user-jobs>
</div>
