@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?24932420');
  src: url('fontello.eot?24932420#iefix') format('embedded-opentype'),
       url('fontello.woff2?24932420') format('woff2'),
       url('fontello.woff?24932420') format('woff'),
       url('fontello.ttf?24932420') format('truetype'),
       url('fontello.svg?24932420#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24932420#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ic-arrow-bottom:before { content: '\e800'; } /* '' */
.icon-ic-close:before { content: '\e801'; } /* '' */
.icon-ic-close2:before { content: '\e802'; } /* '' */
.icon-ic-number:before { content: '\e803'; } /* '' */
.icon-ic-arrow-left:before { content: '\e804'; } /* '' */
.icon-ic-user:before { content: '\e805'; } /* '' */
.icon-ic-user2:before { content: '\e806'; } /* '' */
.icon-ic-calendar:before { content: '\e807'; } /* '' */
.icon-ic-envelope:before { content: '\e808'; } /* '' */
.icon-ic-arrow-right2:before { content: '\e809'; } /* '' */
.icon-ic-arrow-right:before { content: '\e80a'; } /* '' */
.icon-ic-just-arrived-logo:before { content: '\e80b'; } /* '' */
.icon-ic-task:before { content: '\e80c'; } /* '' */
.icon-ic-settings:before { content: '\e80d'; } /* '' */
.icon-ic-phone:before { content: '\e80e'; } /* '' */
.icon-ic-password:before { content: '\e80f'; } /* '' */
.icon-ic-log-in:before { content: '\e810'; } /* '' */
.icon-ic-my-jobs:before { content: '\e811'; } /* '' */
.icon-ic-location:before { content: '\e812'; } /* '' */
.icon-ic-language:before { content: '\e813'; } /* '' */
.icon-ic-img:before { content: '\e814'; } /* '' */
.icon-ic-find-jobs:before { content: '\e815'; } /* '' */
.icon-ic-faq:before { content: '\e816'; } /* '' */
.icon-ic-email:before { content: '\e817'; } /* '' */
.icon-ic-description:before { content: '\e818'; } /* '' */
.icon-ic-create:before { content: '\e819'; } /* '' */
.icon-ic-comment:before { content: '\e81a'; } /* '' */
.icon-ic-add-image:before { content: '\e81b'; } /* '' */
.icon-ic-collapse:before { content: '\e81c'; } /* '' */
.icon-ic-expand:before { content: '\e81d'; } /* '' */
.icon-ic-contact:before { content: '\e81e'; } /* '' */
.icon-ic-check2:before { content: '\e81f'; } /* '' */
.icon-ic-star:before { content: '\e820'; } /* '' */
.icon-ic-tool:before { content: '\e821'; } /* '' */
.icon-ic-camera:before { content: '\e822'; } /* '' */
.icon-ic-paper:before { content: '\e823'; } /* '' */
.icon-ic-user3:before { content: '\e824'; } /* '' */
.icon-ic-education:before { content: '\e825'; } /* '' */
.icon-switch-language:before { content: '\e826'; } /* '' */
