@import '../../../styles/variables.scss';

.company-jobs {
  h2 {
    background: $color-gray-50;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-bottom: 1px;
  }
}
