@import '../../styles/colors';
@import '../../styles/dimensions';

.confirmation-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-gray-25;
  z-index: 10000;
  color: white;

  .confirmation-inner-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (max-width: $xs-device-width) {
      margin-top: 100px;
    }

    .confirmation-close-button {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100001;
      margin: 30px;
      color: $color-gray-500;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }

    .confirmation-icon-container {
      margin-bottom: 50px;

      .confirmation-icon {
        color: $color-cerise-500;
      }
    }

    .confirmation-title {
      color: $color-cerise-500;
    }

    .confirmation-content {
      margin-top: 30px;
      color: $color-gray-200;
    }

    .confirmation-button-container {
      margin: 30px 0;
      padding-bottom: 100px;
    }
  }
}
