@import '../../styles/colors';

.job-map-marker-info-header {
  font-weight: bold;
}

.job-map-marker-info-adress-field {
  color: $color-gray-400;
  margin-bottom: 0;
}

.job-map-marker-info-salary {
  color: $color-primary-cerise;
}

.job-map-marker-info-salary-per-hour {
  color: $color-gray-200;
  text-align: right;
  white-space: nowrap;
}

.job-map-marker-info-button {
  display: block;
  margin-left: 35px;
  margin-right: 15px;
}
