<form
  (ngSubmit)="submitForm(loginForm.value)"
  [formGroup]="loginForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <div class="field">
    <sm-input
      [control]="loginForm.controls['email_or_phone']"
      [placeholder]="'login.form.email.or.phone.placeholder' | translate"
      class="left"
      icon="user"
      type="text">
    </sm-input>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="loginForm.controls['email_or_phone']"
      apiAttribute="email_or_phone">
    </input-errors>
  </div>

  <div class="field">
    <sm-input
      [control]="loginForm.controls['password']"
      [placeholder]="'login.form.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="loginForm.controls['password']"
      apiAttribute="password">
    </input-errors>
  </div>


  <div class="login-form-button-container">
    <button
      type="submit"
      class="login-form-button btn-primary btn-small btn">
      {{'login.form.submit.button' | translate}}
    </button>
    <a
      class="login-form-link fs-m0"
      routerLink="{{JARoutes.forgotPassword.url()}}">
      {{'login.form.forgot.password.link' | translate}}
    </a>
    <a
      class="login-form-link fs-m0"
      routerLink="{{JARoutes.registerUser.url()}}">
      {{'login.form.register.link' | translate}}
    </a>
  </div>
</form>
