<form
  (ngSubmit)="submitForm(loginForm.value)"
  [formGroup]="loginForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted">
  </sm-loader>

  <email-or-phone-input
    [control]="loginForm.controls['email_or_phone']"
    [apiErrors]="apiErrors">
  </email-or-phone-input>

  <password-input
    [control]="loginForm.controls['password']"
    [apiErrors]="apiErrors">
  </password-input>

  <form-submit-button
    [buttonText]="'login.form.submit.button' | translate"
    [showButton]="showSubmitButton"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess">
    <div>
      <a
        class="login-form-link"
        routerLink="{{JARoutes.forgotPassword.url()}}">
        {{'login.form.forgot.password.link' | translate}}
      </a>
      <a
        class="login-form-link"
        routerLink="{{JARoutes.registerUser.url()}}">
        {{'login.form.register.link' | translate}}
      </a>
    </div>
  </form-submit-button>
</form>
