<div class="applications">
  <div class="my-job-content" *ngIf="selectedState == 'active'">
    <div *ngIf="currentApplications.length > 0">
      <my-jobs-item *ngFor="let application of currentApplications" [application]="application" [section]="'current'"></my-jobs-item>
    </div>
  </div>
  <div class="my-job-content" *ngIf="selectedState == 'history'">
    <my-jobs-item *ngFor="let application of historyApplications" [application]="application" [section]="'history'"></my-jobs-item>
  </div>
</div>
