@import '../../../styles/colors';
@import '../../../styles/dimensions';

.footer-container {
  background-color: $color-secondary-gray;
  background: url('/assets/images/footer-background.jpg') no-repeat;
  background-size: cover;

  .social-media-container {
    display: flex;
    @media screen and (max-width: $tablet-max-width) {
      justify-content: center;
    }
  }
}
