<form
  (ngSubmit)="submitForm(contactForm.value)"
  [formGroup]="contactForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <name-input
    [control]="contactForm.controls['name']"
    [apiErrors]="apiErrors">
  </name-input>

  <email-input
    [control]="contactForm.controls['email']"
    [apiErrors]="apiErrors">
  </email-input>

  <message-input
    [control]="contactForm.controls['message']"
    [apiErrors]="apiErrors">
  </message-input>

  <form-submit-button
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'contact.form.submit.button' | translate">
  </form-submit-button>
</form>
