<form
  (ngSubmit)="submitForm(contactForm.value)"
  [formGroup]="contactForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <div class="field">
    <sm-input
      [control]="contactForm.controls['name']"
      [label]="('contact.form.name.header' | translate) + ' *'"
      [placeholder]="'contact.form.name.placeholder' | translate"
      class="left"
      icon="user"
      type="text">
    </sm-input>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="contactForm.controls['name']"
      apiAttribute="name">
    </input-errors>
  </div>

  <email-input
    [control]="contactForm.controls['email']"
    [apiErrors]="apiErrors">
  </email-input>

  <message-input
    [control]="contactForm.controls['message']"
    [apiErrors]="apiErrors">
  </message-input>

  <form-submit-button
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'contact.form.submit.button' | translate">
  </form-submit-button>
</form>
