<div class="container-fluid">

  <div class="faq-header row">
    <!-- All Questions -->
    <div class="col-xs-12">
      <h3>
        {{'faq' | translate}}
      </h3>
    </div>
  </div>

  <div class="faq-list-container row">
    <div>
      <ul>
        <li *ngFor="let faq of faqs">
          <input type="checkbox" checked>
          <i></i>
          <strong><translation-item [text]="faq.question" [translation]="faq.translated.question"></translation-item></strong>
          <div class="faq-item-answer-container">
            <p><b>{{"faq.answer" | translate}}:</b><br>
              <translation-item [text]="faq.answer" [translation]="faq.translated.answer"></translation-item>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
