<div class="faq-container">
  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'faq.title' | translate}}</h3>
  </div>
  <ul class="faq-list-container">
    <li class="faq-list-item" *ngFor="let faq of faqs">
      <input class="faq-list-item-checkbox" type="checkbox" checked>
      <i class="faq-list-item-dropdown-icon"></i>
      <div class="faq-item-question-container">
        {{faq.question}}
      </div>
      <div class="faq-item-answer-container">
        <b>{{'faq.answer.label' | translate}}:</b><br>
        <div [innerHTML]="faq.answer"></div>
      </div>
    </li>
  </ul>
</div>
