<div class="faq-container">
  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'faq' | translate}}</h3>
  </div>
  <ul class="faq-list-container">
    <li class="faq-list-item" *ngFor="let faq of faqs">
      <input class="faq-list-item-checkbox" type="checkbox" checked>
      <div class="faq-list-item-dropdown-icon"></div>
      <div class="faq-item-question-container">
        {{faq.question}}
      </div>
      <div class="faq-item-answer-container">
        <b>{{"faq.answer" | translate}}:</b><br>
        {{faq.answer}}
      </div>
    </li>
  </ul>
</div>
