@import '../../styles/colors';

.faq-list-container {
  background-color: $default-bg-color;
  width: 100%;
  cursor: hand;
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;

  .faq-list-item {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 18px;
    padding-left: 1em;
    border-top: 1px dotted #dce7eb;
    animation: flipdown 0.5s ease both;
    @for $i from 1 through 40 {
      &:nth-of-type(#{$i}) {
        animation-delay: #{$i * 0.1 + 0.25}s;
      }
    }

    .faq-list-item-dropdown-icon {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 5px;
      right: 20px;

      &:after,
      &:before {
        content: "";
        position: absolute;
        background-color: $color-primary-cerise;
        width: 3px;
        height: 9px;
        transition: all 0.25s ease-in-out;
      }

      &:before {
        transform: translate(-2px, 0) rotate(45deg);
      }

      &:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
    }

    .faq-item-question-container {
      margin-bottom: 10px;
      font-weight: bold;
      margin-right: 50px;
    }

    .faq-list-item-checkbox {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      top: 0;
      left: 0;

      &:checked ~ {
        .faq-item-answer-container {
          display: none;
          visibility: hidden;
          animation: none;
        }

        .faq-list-item-dropdown-icon {
          &:before {
            transform: translate(3px, 0) rotate(45deg);
          }

          &:after {
            transform: translate(-3px, 0) rotate(-45deg);
          }
        }
      }
    }

    .faq-item-answer-container {
      transition: all 0.25s ease-in-out;
      animation: flipdown 0.5s ease both;
      margin-right: 50px;
    }
  }
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
