<div class="slider" (window:resize)="resize()">
  <div class="slider-container" (swipeleft)="swipeLeft($event)" (swiperight)="swipeRight()">
      <div *ngFor="let job of jobs" class="item-container">
        <img  class="company-logo" [src]="(job.company.companyLogo && job.company.companyLogo.imageUrlSmall) || 'app/assets/images/placeholder-logo.png'">
        <div *ngIf="isCompanyUser">
          {{job.hourlyPay.rateExcludingVAT * job.hours}}
        </div>
        <div *ngIf="!isCompanyUser">{{job.hourlyPay.grossSalary * job.hours}}</div>
        <div>{{(job.translated && job.translated.name) || job.name | slice:0:5}}</div>
      </div>
  </div>
</div>
