@import '../../../styles/colors';
@import '../../../styles/typography';

.custom-checkbox-container {
  display: inline-block;
  text-align: center;
  width: 120px;
  margin: 10px 0;

  .custom-checkbox-label {

    .custom-checkbox-span {
      display: block;
    }

    .custom-checkbox-input {
      display: none;

      + .custom-checkbox-span:before {
        content: '';
        color: $white;
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        // hard border
        border: .125em solid $color-cerise-500;
        box-shadow: 0 0 0 .1em $color-cerise-500;
        // light shadow
        margin: 0 auto;
        margin-bottom: 10px;
        transition: .5s ease all;
        // animation here
      }

      &:checked + .custom-checkbox-span:before {
        content: '\2713';
        margin-bottom: 15px;
        background: $color-cerise-500;
        box-shadow: 0 0 0 .1em $color-cerise-500;
      }
    }
  }
}
