@import '../../../styles/colors';
@import '../../../styles/typography';

.pager-container {
  font-size: 16px;
  background-color: $color-gray-25;

  .pager-inner-container {
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
}

.back-button {
  text-align: left;
  color: $color-cerise-500;

  > i {
    cursor: pointer;
  }
  padding-top: 0;
}

.forward-button {
  text-align: right;
  color: $color-cerise-500;

  > i {
    cursor: pointer;
  }
  padding-top: 0;
}

.pagination-text {
  display: flex;
  text-align: center;
  align-items: center;
}

.pagination-button {
  color: $color-cerise-500;
  cursor: pointer;
}

.pagination-button-right {
  text-align: right;
}

.navigation-leftmost-arrow {
  position: relative;
  left: 7px;
}

.navigation-rightmost-arrow {
  position: relative;
  right: 7px;
}
