@import '../../../styles/colors';

.guide-details-header-wrapper {
  text-align: center;
  background-color: $color-primary-cerise;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.guide-header-img {
  height: 80px;
  width: 80px;
}

.guide-header-seperator {
  width: 80px;
  height: 1px;
  background-color: $color-primary-cerise;
}

.guide-detail-wrapper {
  padding-left: 8%;
  padding-right: 8%;
}

.guide-detail-top-image-wrapper {
  text-align: center !important;
}

.guide-detail-image {
  max-width: 400px;
  height: auto;
}

.guide-detail-header {
  color: $color-primary-cerise;
}

.guide-detail-text {
  color: $color-gray-200;
}

.guide-detail-date-text {
  color: $color-gray-200;
  font-size: 18px;
}

.guide-detail-related-links-header {
  color: $color-primary-cerise;
  margin-bottom: 20px;
}

.guide-detail-related-links-wrapper {
  margin-bottom: 80px !important;
}

.guide-detail-related-links-img-wrapper {
  text-align: right;
}

.guide-detail-related-links-img {
  height:100px;
  width: 100px
}

.guide-detail-related-links-link {
  color: $color-primary-cerise;
  text-decoration: underline;
  text-align: left;
}

.guide-detail-related-links-link-text {
  color: $color-gray-200;
  text-align: left;
}
