@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/dimensions';

.pager-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;

  .pager-segment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray-300;

    .pager-link {
      align-items: center;
      border-radius: 50%;
      border: 1px solid $color-gray-300;
      cursor: pointer;
      display: flex;
      height: 35px;
      justify-content: center;
      margin-left: 5px;
      margin-right: 5px;
      width: 35px;

      @media screen and (max-width: $mobile-max-width) {
        width: 25px;
        height: 25px;
      }

      &:hover {
        border: 1px solid $color-cerise-500 !important;
        background-color: $color-cerise-500;
        color: $white !important;
      }

      &.active {
        border: 1px solid $color-cerise-500 !important;
        background-color: $color-cerise-500;
        color: $white !important;
      }
    }
  }

  &.light {
    .pager-segment-container {
      color: $color-gray-300 !important;

      .pager-link {
        color: $color-gray-300;
        border: 1px solid $color-gray-300;
      }
    }
  }

  &.dark {
    background-color: $color-gray-800;

    .pager-segment-container {
      color: $white !important;

      .pager-link {
        color: $white !important;
        border: 1px solid $white;
      }
    }
  }
}
