@import '../../../styles/colors';
@import '../../../styles/dimensions';

.job-page-grid {
  background: $color-gray-25 url('/assets/images/light-pattern-background.jpg') repeat !important;

  @media screen and (min-width: $tablet-min-width) {
    padding: 0 20px 20px 20px;
  }

  .job-section {
    border-radius: 1rem;
    background-color: $white;
    padding: 40px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media screen and (max-width: $mobile-max-width) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
