@import '../../styles/colors';

.slider {
  position: relative;
  overflow: hidden;

  .slider-container {
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    left: 0;
  }

  .item-container {
    display: inline-block;
    width: calc(10% - 10px);
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);

    .job-name {
      height: 50px;
      padding: 10px;

      div {
        max-height: 100%;
        overflow: hidden;
        white-space: normal;
      }
    }

    .salary-container {
      color: white;
      background: $color-primary-cerise;
      padding: 5px;
      border-radius: 0 0 3px 3px;
    }
  }


  @media (max-width: 1600px) {
    //9
    .item-container {
      width: calc(11% - 10px);
    }
  }

  @media (max-width: 1440px) {
    //8
    .item-container {
      width: calc(12% - 10px);
    }
  }

  @media (max-width: 1280px) {
    //7
    .item-container {
      width: calc(14% - 10px);
    }
  }

  @media (max-width: 1024px) {
    //6
    .item-container {
      width: calc(16% - 10px);
    }
  }

  @media (max-width: 980px) {
    //5
    .item-container {
      width: calc(19% - 10px);
    }
  }

  @media (max-width: 766px) {
    //4
    .item-container {
      width: calc(24% - 10px);
    }
  }

  @media (max-width: 500px) {
    //3
    .item-container {
      width: calc(32% - 10px);
    }
  }

  @media (max-width: 375px) {
    //2
    .item-container {
      width: calc(46% - 10px);
    }
  }

}
