<div class="container-fluid">
  <div class="jobs-header row"> <!-- All Jobs -->
    <div class="col-md-6">
      <h3>
        {{'common.all_jobs' | translate: {nbrOfJobs: totalJobs} }}
      </h3>
    </div>

    <div class="col-md-6">
      <p>
        <strong>TODO: Implement Google Maps</strong>
      </p>
    </div>
  </div>


  <pager [maxResults]="totalJobs" [currentPage]="page" (pageChange)="onPageChange($event)"></pager>

  <div class="job-list-container row">
    <div>
      <job-list-item style="display: block;" *ngFor="let job of jobs" [job]="job"></job-list-item>
    </div>
  </div>

  <pager [maxResults]="totalJobs" [currentPage]="page" (pageChange)="onPageChange($event)"></pager>
</div>
