@import '../../styles/variables.scss';

.jobs-header {
  background-color: $color-primary-cerise;
  padding: 1em 0;

  h2 {
    color: $color-white;
  }

}

.job-list-container {
  background-color: $color-white;
  > div {
    width: 100%;
  }
}

.pagination-wrapper {
  background-color: $color-gray-25;
  padding: 8px;

  p {
    margin: 0;
  }
}

.back-button {
  text-align: left;
  color: $color-primary-cerise;
}

.forward-button {
  text-align: right;
  color: $color-primary-cerise;
}

.pagination-text {
  text-align: center;
}
