@import '../../styles/variables.scss';
@import '../../styles/buttons.scss';

.jobs-header {
  background-color: $color-primary-cerise;
  padding: 1em 0;

  h3 {
    position: relative;
    top: 5px;
    color: $white;
  }

}

.job-list-container {
  background-color: $white;
  > div {
    width: 100%;
    cursor: pointer; cursor: hand;
  }
}
