<div class="jobs-header row"> <!-- All Jobs -->
  <div class="col-md-6">
    <h2>
      {{'common.all_jobs' | translate: {nbrOfJobs: totalJobs} }}
    </h2>
  </div>

  <div class="col-md-6">
    <!-- TODO: Implemente this -->
  </div>
</div>


<div [hidden]="true" class="row" style="background: green; height: 100px;">
  <!-- TODO: Implemente this -->
</div>


<div class="row pagination-wrapper flex-items-xs-middle">
  <div class="back-button col-xs-4">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  </div>
  <div class="pagination-text col-xs-4">
    <p>{{page}} / {{nbrOfPages}} </p>
  </div>
  <div class="forward-button col-xs-4">
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>


<div class="job-list-container row">
  <div>
    <job-list-item style="display: block;" *ngFor="let job of jobs" [job]="job"></job-list-item>
  </div>
</div>
