<form
  [@slideInLeftOutLeft]="animationState"
  (ngSubmit)="submitForm()"
  #form="ngForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted transparent">
  </sm-loader>

  <success-message
    *ngIf="informationProvided"
    [header]="'user.missing.traits.form.information.provided.message.header' | translate"
    [description]="'user.missing.traits.form.information.provided.message.description' | translate"
    icon="pink thumbs up">
  </success-message>

  <first-name-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.first_name"
    [hint]="missingUserTraits?.first_name?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'first_name'">
  </first-name-input>

  <last-name-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.last_name"
    [hint]="missingUserTraits?.last_name?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'last_name'">
  </last-name-input>

  <email-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.email"
    [hint]="missingUserTraits?.email?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'email'">
  </email-input>

  <phone-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.phone"
    [hint]="missingUserTraits?.phone?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'phone'">
  </phone-input>

  <ssn-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.ssn"
    [hint]="missingUserTraits?.ssn?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'ssn'">
  </ssn-input>

  <gender-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.gender"
    [hint]="missingUserTraits?.gender?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'gender'">
  </gender-input>

  <country-of-origin-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.country_of_origin"
    [hint]="missingUserTraits?.country_of_origin?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'country_of_origin'">
  </country-of-origin-input>

  <street-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.street"
    [hint]="missingUserTraits?.street?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'street'">
  </street-input>

  <zip-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.zip"
    [hint]="missingUserTraits?.zip?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'zip'">
  </zip-input>

  <city-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.city"
    [hint]="missingUserTraits?.city?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'city'">
  </city-input>

  <bank-account-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.bank_account"
    [hint]="missingUserTraits?.bank_account?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'bank_account'">
  </bank-account-input>

  <description-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.description"
    [hint]="missingUserTraits?.description?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'description'">
  </description-input>

  <status-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.current_status"
    [hint]="missingUserTraits?.current_status?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'current_status'">
  </status-input>

  <at-und-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.at_und"
    [hint]="missingUserTraits?.at_und?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'at_und'">
  </at-und-input>

  <languages-input
    [languagesControl]="updateForm.controls.languages"
    [userLanguagesControl]="updateForm.controls.user_languages"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.language_ids?.hint"
    [languageIds]="missingUserTraits?.language_ids.ids"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'language_ids'">
  </languages-input>

  <competence-input
    [control]="updateForm.controls.competence_text"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.competence_text?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'competence_text'">
  </competence-input>

  <skills-input
    [skillsControl]="updateForm.controls.skills"
    [userSkillsControl]="updateForm.controls.user_skills"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.skill_ids?.hint"
    [skillIds]="missingUserTraits?.skill_ids.ids"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'skill_ids'">
  </skills-input>

  <education-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.education"
    [hint]="missingUserTraits?.education?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'education'">
  </education-input>

  <job-experience-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.job_experience"
    [hint]="missingUserTraits?.job_experience?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'job_experience'">
  </job-experience-input>

  <resume-input
    [centered]="true"
    [showLabel]="false"
    [hint]="missingUserTraits?.cv?.hint"
    *ngIf="!informationProvided && missingUserTraitsKeys && missingUserTraitsKeys[currentMissingUserTraitIndex] === 'cv'">
  </resume-input>

  <form-submit-button
    [buttonText]="'user.missing.traits.form.submit.button' | translate"
    [showButton]="!isInModal"
    [showSuccessMessage]="false"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    *ngIf="!informationProvided">
  </form-submit-button>

  <div
    [style.padding]="0"
    *ngIf="informationProvided && !isInModal"
    class="ui basic center aligned segment">
    <base-button
      (click)="onCloseButtonClicked()"
      [buttonText]="'user.missing.traits.form.close.button' | translate"
      kind="secondary"
      size="medium">
    </base-button>
  </div>
</form>
