.my-jobs-header-tab, .my-jobs-header-tab-selected {
  padding: 8px;
  text-align: center;
  background-color: #FFFFFF;
  cursor: pointer;
  border-bottom: 4px solid #E7E8E9; }
  .my-jobs-header-tab h4, .my-jobs-header-tab-selected h4 {
    color: #9C9FA7; }

.my-jobs-header-tab-selected {
  border-bottom: 4px solid #E5007D; }
  .my-jobs-header-tab-selected h4 {
    color: #383F4E; }
