@import '../../styles/colors';

.my-jobs-header-tab {
  padding: 8px;
  text-align: center;
  background-color: $default-bg-color;
  cursor: pointer;
  border-bottom: 4px solid $color-gray-50;
}

.my-jobs-header-tab-selected {
  @extend .my-jobs-header-tab;
  border-bottom: 4px solid $color-primary-cerise;
}
