<div>

  <div class="sub-header-container">
    <h3 class="sub-header-title">{{"menu.main.my_assignment" | translate}}</h3>
  </div>

  <div class="ui equal width grid">
    <div class="column my-jobs-header-tab" [ngClass]="{'my-jobs-header-tab-selected': selectedState == 'active'}" (click)="setState('active')" >
      <h4>
        {{"company.assignments.filter_1" | translate}}
      </h4>
    </div>
    <div class="column my-jobs-header-tab" [ngClass]="{'my-jobs-header-tab-selected': selectedState == 'history'}" (click)="setState('history')">
      <h4>
        {{"company.assignments.filter_2" | translate}}
      </h4>
    </div>
  </div>

  <div class="row" style="background-color: white;">
    <user-jobs [selectedState]="selectedState"></user-jobs>
  </div>
</div>
