<form
  (keydown.enter)="$event.preventDefault()"
  (ngSubmit)="submitForm()"
  #form="ngForm"
  class="ui form">

  <basic-loader
    [complete]="!loadingSubmit"
    class="inverted">
  </basic-loader>

  <form-section-title-text
    [text]="'user.profile.form.work.experience.section.header' | translate"
    icon="suitcase">
  </form-section-title-text>

  <resume-input
    [centered]="true"
    [showLabel]="false">
  </resume-input>

  <form-section-title-text
    [text]="'user.profile.form.language.skills.section.header' | translate"
    icon="world">
  </form-section-title-text>

  <languages-input
    [languagesControl]="settingsForm.controls['languages']"
    [userLanguagesControl]="settingsForm.controls['user_languages']"
    [apiErrors]="apiErrors">
  </languages-input>

  <form-section-title-text
    [text]="'user.profile.form.work.experience.section.header' | translate"
    icon="suitcase">
  </form-section-title-text>

  <occupations-input
    [occupationsControl]="settingsForm.controls['occupations']"
    [userOccupationsControl]="settingsForm.controls['user_occupations']"
    [apiErrors]="apiErrors">
  </occupations-input>

  <form-section-title-text
    [text]="'user.profile.form.general.skills.section.header' | translate"
    icon="rocket">
  </form-section-title-text>

  <skills-input
    [skillsControl]="settingsForm.controls['skills']"
    [userSkillsControl]="settingsForm.controls['user_skills']"
    [apiErrors]="apiErrors">
  </skills-input>

  <form-submit-button
    [buttonText]="'user.settings.form.submit.button' | translate"
    [showButton]="!isInModal"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess">
  </form-submit-button>
</form>
