.tab-container {
  border-bottom: 4px solid #E7E8E9;
  cursor: pointer;
  color: #9C9FA7;
  padding: 0 !important; }
  .tab-container.active {
    border-bottom: 4px solid #E5007D;
    color: #383F4E; }
