@import '../../../styles/colors';

.tab-container {
  border-bottom: 4px solid $color-gray-50;
  cursor: pointer;
  color: $color-gray-200;
  padding: 0 !important;

  &.active {
    border-bottom: 4px solid $color-cerise-500;
    color: $color-gray-500;
  }
}
