<div class="reset-password-container">

  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'reset.password.title' | translate}}</h3>
  </div>

  <div class="reset-password-form-container">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm(resetPasswordForm.value)">
      <div class="form-group material-group reset-password-input-container" [ngClass]="{'has-error':!resetPasswordForm.controls['password'].valid && resetPasswordForm.controls['password'].touched}">
        <input maxlength="50" (keyup.enter)="onEnterKeyUp()" (focus)="errors.password = ''" class="reset-password-form-text-input form-control material-input fs-m0" type="password" placeholder="{{'reset.password.form.password.placeholder' | translate}}" [formControl]="resetPasswordForm.controls['password']">

        <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched" class="alert alert-danger">{{'reset.password.form.password.validation.required' | translate}}</div>
        <div *ngIf="resetPasswordForm.controls['password'].hasError('minlength')" class="alert alert-danger">{{'reset.password.form.password.validation.min.length' | translate}}</div>
        <div *ngIf="errors.password" class="alert alert-danger">{{errors.password}}</div>
      </div>
      <div class="form-group reset-password-form-button-container">
        <div *ngIf="displayErrorMessage" class="error-message fs-m0">{{'reset.password.form.submit.error' | translate}}</div>
        <loading *ngIf="loadingSubmit"></loading>
        <button *ngIf="!loadingSubmit" type="submit" [disabled]="!resetPasswordForm.valid" class="reset-password-form-button btn-primary btn-small btn">{{'reset.password.form.submit.button' | translate}}</button>
      </div>
    </form>

  </div>
</div>
