@import '../../styles/variables';
@import '../../styles/buttons';

.reset-password-form-container {
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  .reset-password-input-container {

    .reset-password-form-text-input {
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  .reset-password-form-button-container {
    text-align: center;

    .error-message {
      color: $color-cerise-500;
    }

    .reset-password-form-button {
      display: block;
      margin: 10px auto;
      min-width: 200px;
    }

    .reset-password-form-link {
      color: $color-accent-main;
      font-weight: 600;
    }
  }
}
