<div class="home-component">
  <section class="home-header">
    <div class="home-header-image-container">
      <img src="app/assets/images/hero2.jpg" class="home-header-image" alt>
      <div class="home-header-title">
        {{'start.hero_section.slide_3' | translate}}
      </div>
    </div>
    <div class="header-boxes-container">
      <div class="header-box-container">
        <a href="#" class="header-box">
          <div class="header-box-title">{{'start.hero_section.left.title' | translate}}</div>
          <div class="header-box-text">{{'start.hero_section.left.text' | translate}}</div>
        </a>
      </div>
      <div class="header-box-container">
        <a href="#" class="header-box">
          <div class="header-box-title">{{'start.hero_section.right.title' | translate}}</div>
          <div class="header-box-text">{{'start.hero_section.right.text' | translate}}</div>
        </a>
      </div>
    </div>
  </section>
  <section class="job-section">
    <div class="job-section-header">
      <div class="calendar-container">
        <div class="calendar">
          {{today}}
        </div>
        {{'start.job_section.title' | translate}}
      </div>
      <div class="all-jobs-button-container"><a href="#"><span>{{'common.show_all' | translate}}</span></a></div>
    </div>
    <slider [jobs]="newJobs"></slider>

  </section>
  <div class="instructions-container">
    <section class="instruction-pane">
      <h3 class="heading">{{'start.steps_section.title' | translate}}</h3>
      <ul class="list">
        <li class="item">{{'start.steps_section.step_1' | translate}}</li>
        <li class="item">{{'start.steps_section.step_2' | translate}}</li>
        <li class="item">{{'start.steps_section.step_3' | translate}}</li>
        <li class="item">{{'start.steps_section.step_4' | translate}}</li>
      </ul>
      <a href="#" class="button">{{'common.start_here' | translate}}</a>
    </section>
    <section class="instruction-pane primary">
      <h3 class="heading">{{'start.instruction_section.slide_1.title' | translate}}</h3>
      <ul class="list">
        <li class="item">{{'start.instruction_section.slide_1.text_1' | translate}}</li>
        <li class="item">{{'start.instruction_section.slide_1.text_2' | translate}}</li>
        <li class="item">{{'start.instruction_section.slide_1.text_3' | translate}}</li>
      </ul>
      <a href="#" class="button">{{'common.start_here' | translate}}</a>
    </section>
    <section class="instruction-pane secondary">
      <h3 class="heading">{{'start.instruction_section.slide_2.title' | translate}}</h3>
      <p>{{'start.instruction_section.slide_2.text_1' | translate}}</p>
      <ul class="list">
        <li class="item">{{'start.instruction_section.slide_2.text_2' | translate}}</li>
        <li class="item">{{'start.instruction_section.slide_2.text_3' | translate}}</li>
        <li class="item">{{'start.instruction_section.slide_2.text_4' | translate}}</li>
      </ul>
      <a href="#" class="button">{{'common.start_here' | translate}}</a>
    </section>
  </div>
  <section class="section-partners">
    <div class="partners-title"> {{'start.partner_section.title' | translate}}</div>
    <p class="partners-text"> {{'start.partner_section.text' | translate}}</p>
    <div class="partners-logos-container">
      <div class="logo-container"><a href="http://antrop.se/"><img class="partner-logo" src="app/assets/images/antrop-logo2.png" alt="Antrop"></a></div>
      <div class="logo-container"><a href="http://universumglobal.com/"><img class="partner-logo" src="app/assets/images/logo-universum.png" alt="Universum"></a></div>
      <div class="logo-container"><a href="http://www.wintrgarden.com/"><img class="partner-logo" src="app/assets/images/logo-wntrgarden.png" alt="Wintrgarden"></a></div>
      <div class="logo-container"><a href="http://jacobburenstam.com/"><img class="partner-logo extra-padding" src="app/assets/images/jacob_burenstam-logo.png" alt="Jacob Burenstam"></a></div>
      <div class="logo-container"><a href="https://cygni.se/"><img class="partner-logo" src="app/assets/images/wgni-logo.png" alt="Cyngi"></a></div>
      <div class="logo-container"><a href="https://www.frilansfinans.se/"><img class="partner-logo" src="app/assets/images/frilans_finans-logo.png" alt="Frilans Finans"></a></div>
      <div class="logo-container"><a href="http://neverendingmonday.com/"><img class="partner-logo" src="app/assets/images/nem-logo.png" alt="Never Ending Monday"></a></div>
      <div class="logo-container"><a href="https://janssonnorin.se/"><img class="partner-logo" src="app/assets/images/jansson_norin-logo.png" alt="Jansson Norin"></a></div>
      <div class="logo-container"><a href="http://novasverige.se/"><img class="partner-logo left-padding" src="app/assets/images/nova-logo.png" alt="Nova"></a></div>
      <div class="logo-container"><a href="http://bondstreet.se/"><img class="partner-logo" src="app/assets/images/bond_street_film_sthlm.png" alt="Bond Street Film"></a></div>
      <div class="logo-container"><a href="http://herosverige.se/"><img class="partner-logo" src="app/assets/images/hero_framtid_logo.jpg" alt="Hero Sverige"></a></div>
      <div class="logo-container"><a href="http://www.migrationsverket.se/"><img class="partner-logo" src="app/assets/images/migrationsverket.png" alt="Migrationsverket"></a></div>
      <div class="logo-container"><a href="http://www.redcross.se/"><img class="partner-logo" src="app/assets/images/roda_korset.png" alt="Röda Korset"></a></div>
      <div class="logo-container"><a href="http://skeppsbronskatt.se/en/"><img class="partner-logo" src="app/assets/images/skeppsbron_skatt.png" alt="Skeppsbron Skatt"></a></div>
      <div class="logo-container"><a href="http://welcomeapp.se/"><img class="partner-logo" src="app/assets/images/welcome.png" alt="Welcome!"></a></div>
    </div>
  </section>
</div>
