@import '../../styles/variables';

.job-status {
  background: $color-primary-cerise;
  padding: 30px;
  color: white;
}

.button {
  cursor: pointer;

  &:hover {
    background: $color-cerise-700;
  }
}

.send-candidate-request-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-secondary-gray;
  z-index: 10000;
  color: white;
}

.finalize-job-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10000;
}

.red-star {
  color: $color-primary-cerise;
}
