@import '../../../styles/colors';
@import '../../../styles/dimensions';

.app-navbar-container {
  pointer-events: auto;
  height: $navbar-height;
  border-radius: 0;
  background-color: black;
  background: url('/assets/images/navbar-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.transparent {
    background: transparent;
  }

  @media screen and (min-width: $app-max-width) {
    width: $app-max-width;
    margin: 0 auto;
  }
  @media screen and (max-width: $app-max-width) {
    width: 100%;
    max-width: 100%;
  }

  .app-navbar-inner-container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;

    .logo {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 15px;

      .logo-image {
        max-width: 130px;
      }
    }

    .menu-items-container {
      align-items: center;
      display: flex;
      margin-left: auto;
      margin-right: 18px;
      flex-wrap: nowrap;

      .seperator {
        width: 1px;
        height: 15px;
        color: $white;
        background-color: $white;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
        opacity: 0.5;
      }

      .navigation-menu-item {
        cursor: pointer;
        background: url('/assets/icons/menu.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 30px;
        width: 30px;
      }

      .language-menu-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        .arrow-icon {
          color: $white;
          margin-right: 5px;
        }
      }
    }
  }
}
