<user-profile-header></user-profile-header>

<div class="ui grid user-profile-tab-container">
  <div
    (click)="setState('profile')"
    [ngClass]="{'selected': selectedState == 'profile'}"
    class="eight wide phone column user-profile-header-tab">
    <div class="user-profile-tab-header">
      {{'user.profile.tab.profile.details.title' | translate}}
    </div>
  </div>
  <div
    (click)="setState('details')"
    [ngClass]="{'selected': selectedState == 'details'}"
    class="eight wide phone column user-profile-header-tab">
    <div class="user-profile-tab-header">
      {{'user.profile.tab.personal.details.title' | translate}}
    </div>
  </div>
</div>

<user-profile *ngIf="selectedState == 'profile'"></user-profile>
<user-details *ngIf="selectedState == 'details'"></user-details>
