@import '../../../styles/colors';

.user-profile-tab-container {
  display: flex;

  .user-profile-header-tab {
    background-color: $default-bg-color;
    border-bottom: 4px solid $color-gray-50;
    cursor: pointer;
    padding: 8px;
    text-align: center;

    .user-profile-tab-header {
      color: $color-gray-200;
      font-size: 18px;
      font-weight: 700;
    }

    &.selected {
      border-bottom: 4px solid $color-primary-cerise;
    }
  }
}
