<div class="user-profile-container">
  <div class="user-profile-subheader-container">
    <h2>{{'user.profile.header.title' | translate}}</h2>
    <p>{{'user.profile.header.information' | translate}}</p>

    <div class="user-profile-subheader-info-container row">
      <div class="user-profile-subheader-info-image-container">
        <input type="file" id="image-filename" name="imageFilename" class="file" (change)="onProfileImageFilenameChange($event)" accept="image/*">
        <div *ngIf="!user.profile_image" class="icon-camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
        <div *ngIf="user.profile_image" class="user-info-image" [ngStyle]="{'background-image': 'url(' + user.profile_image.imageUrl + ')'}"></div>
      </div>
      <div class="user-profile-subheader-info-name-container"><span>{{user.firstName}} {{user.lastName}}</span></div>
    </div>
  </div>

  <div class="user-profile-tab-container">
    <div class="user-profile-header-tab col-xs-6" [ngClass]="{'selected': selectedState == 'profile'}" (click)="setState('profile')">
      <div class="user-profile-tab-header">
        {{'user.profile.tab.profile.details.title' | translate}}
      </div>
    </div>
    <div class="user-profile-header-tab col-xs-6" [ngClass]="{'selected': selectedState == 'details'}" (click)="setState('details')">
      <div class="user-profile-tab-header">
        {{'user.profile.tab.personal.details.title' | translate}}
      </div>
    </div>
  </div>

  <user-profile *ngIf="selectedState == 'profile'" [user]="user"></user-profile>
  <user-details *ngIf="selectedState == 'details'" [user]="user"></user-details>
</div>
