@import '../../styles/variables.scss';

.adress-field {
  color: $color-gray-400;
  font-size: 12px;
}

.job-list-container {
  padding: 1em;
  border-bottom: 1px solid $color-gray-100;
  font-size: 14;
  p {
    margin-bottom: 2px;
  }
}

.total-salary {
  color: $color-primary-cerise;
}

.salary-per-hour {
  color: $color-gray-200;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
}
