@import '../../styles/variables.scss';

.job-list-container {
  width: 100%;
  border-bottom: 1px solid #E8EBEE;

  .company-logo-container {
    padding: 18px 0 18px 20px;

    .company-logo {
      border-radius: 50%;
      height: 80px;
      width: 80px;
      vertical-align: middle;
      box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
      margin-right: 8px;
    }
  }

  .arrow-container {
    color: #979797;
    font-size: 20px;
    padding: 0 10px;

    .icon-ic-arrow-right:hover {
      color: $color-dark;
    }
  }

  .job-description-container {
    width: 100%;
    padding: 15px 0;

    .job-name {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    .job-description {
      margin-bottom: 5px;
    }

    .job-address {

    }

    .job-rate {
      width: 35%;

      .total-salary {
        color: $color-pink-2;
        font-size: 21px;
        font-weight: 600;
        white-space: nowrap;
      }

      .salary-per-hour {
        font-size: 16px;
        white-space: nowrap;
      }
    }
  }

}
