@import '../../styles/colors';
@import '../../styles/typography';

.comments-container {
  background-color: $default-bg-color;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &.small-addition-padding {
    padding-bottom: 15px;
  }

  &.addition-padding {
    padding-bottom: 78px;
  }

  .comment-container {
    padding: 8px;
    position: relative;
    clear: both;

    .comment-image-container {
      margin-top: 33px;

      .comment-image {
        object-fit: cover;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        vertical-align: middle;
        box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
      }
    }

    .comment-content {
      width: calc(100% - 50px);

      &.move-left {
        margin-left: 50px;
      }

      .comment-meta-data-container {
        display: flex;

        .comment-meta-data-user-name {
          @include truncate-owerflowing-text;
          opacity: 0.7;
        }

        .comment-meta-data-date {
          margin-left: auto;
          flex-shrink: 0;
          padding-left: 10px;
          opacity: 0.3;
          font-weight: 700;
        }
      }

      .comment-body {
        border-radius: 5px;
        background: $color-gray-100;
        padding: 10px 15px;
        margin-top: 5px;
        @include wrap-long-words;
      }
    }
  }
}

.new-comment-container {
  background-color: $default-bg-color;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &.moving {
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    border-top: thin solid $color-gray-50;
    margin-bottom: 0;
  }

  .resizable-div-cell {
    width: 100%;
    padding: 5px;

    [contenteditable=true]:empty:before {
      content: attr(placeholder);
      display: block;
      color: $color-gray-200;
    }

    .resizable-div {
      border-radius: 5px;
      border: 1px solid $color-gray-100;
      padding: 10px;
      word-break: break-all;
      outline: none;

      &:focus {
        border: 1px solid $color-gray-300;
      }
    }
  }

  .send-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .comment-send-button {
      color: $color-secondary-blue;
      font-weight: 700;
      border: 0;
      background: none;
      font-size: 1.2em;
      white-space: nowrap;
      outline: none;

      &:disabled {
        color: $color-gray-100;
        cursor: default;
      }
    }
  }
}
