@import '../../styles/variables';

.comments-container {
  background-color: $default-bg-color;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &.small-addition-padding {
    padding-bottom: 15px;
  }

  &.addition-padding {
    padding-bottom: 78px;
  }

  .comment-container {
    padding: 8px;
    position: relative;
    clear: both;

    .comment-picture-container {
      img {
        width: 35px;
        height: 35px;
      }
    }

    .comment-content {
      width: calc(100% - 50px);

      &.left-moved {
        margin-left: 50px;
      }

      .comment-meta-data {
      }

      .comment-body {
        border-radius: 5px;
        background: $color-gray-100;
        padding: 10px 15px;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }
  }
}

.new-comment-container {
  background-color: $default-bg-color;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &.moving {
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    box-shadow: 0 -1px 10px -3px #333;
    margin-bottom: 0px;
  }
}

.resizable-div-cell {
  width: 100%;
  padding: 5px;

  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
    color: $color-gray-200;
  }
}

.resizable-div {
  border-radius: 5px;
  border: 1px solid $color-gray-100;
  padding: 10px;
  word-break: break-all;
}

.send-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-send-button {
  color: $color-secondary-blue;
  font-weight: 700;
  border: 0;
  background: none;
  font-size: 1.2em;
  white-space: nowrap;
  outline: none;

  &:disabled {
    color: $color-gray-100;
    cursor: default;
  }
}
