<div class="job-list-container" (click)="onListItemClick()">
  <div class="date-container">
    {{job.jobDate | date: 'MMM'}}<br/>
    {{job.jobDate | date: 'dd'}}
  </div>

  <div class="job-meta-details">
    <p class="job-list-container-header">{{job.translated.name}}</p>
    <p class="adress-field" >
      <i class="fa fa-map-marker" aria-hidden="true"></i>  {{job.address}}
    </p>

    <div class="row">
      <div> <span class="total-salary">{{job.grossAmountWithCurrency}}</span>
        <span class="salary-per-hour">
          {{'jobs.list.job_hours_and_hourly_salary' | translate: {hours: job.hours, hourlySalary: job.hourlyPay.grossSalaryWithUnit} }}
        </span>
      </div>
    </div>
  </div>

</div>
