@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

$text-font: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$text-line-height: 1.5;

.text {
  font-family: $text-font;
  line-height: $text-line-height;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include wrap-long-words();
}

.one-line-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uppercase {
  text-transform: uppercase;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.pink {
  color: $color-cerise-500;
}

.gray {
  color: $color-gray-300;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.tablet-center {
  @media screen and (max-width: $tablet-max-width) {
    text-align: center;
  }
}

.tablet-left {
  @media screen and (max-width: $tablet-max-width) {
    text-align: left;
  }
}

.tablet-right {
  @media screen and (max-width: $tablet-max-width) {
    text-align: right;
  }
}

.mobile-center {
  @media screen and (max-width: $mobile-max-width) {
    text-align: center;
  }
}

.mobile-left {
  @media screen and (max-width: $mobile-max-width) {
    text-align: left;
  }
}

.mobile-right {
  @media screen and (max-width: $mobile-max-width) {
    text-align: right;
  }
}

.maximum-2-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 2);
}

.maximum-3-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 3);
}

.maximum-4-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 4);
}

.maximum-5-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 5);
}

.maximum-6-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 6);
}

.maximum-7-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 7);
}

.maximum-8-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 8);
}

.maximum-9-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 9);
}

.maximum-10-lines-ellipsis {
  @include truncate-owerflowing-text-multiline($line-height: $text-line-height, $lines-to-show: 10);
}
