<div class="navbar-fixed-top" [ngStyle]="(isNavigationMenuVisible || isLanguageMenuVisible) && {'height': '100%'}">
  <div class="navbar-container">
    <app-navbar
      [(isLanguageMenuVisible)]="isLanguageMenuVisible"
      [(isNavigationMenuVisible)]="isNavigationMenuVisible">
    </app-navbar>

    <div class="menu-overlay-container" *ngIf="isSideMenuVisible" (click)="isNavigationMenuVisible = false; isLanguageMenuVisible = false;">
      <div class="menu-container">

        <navigation-menu
          [(isNavigationMenuVisible)]=isNavigationMenuVisible
          [user]=user>
        </navigation-menu>

        <language-menu
          [(isLanguageMenuVisible)]=isLanguageMenuVisible>
        </language-menu>

      </div>
    </div>

  </div>
</div>
<div class="wrapper">
  <div class="header-padder-table-row"></div>
  <section class="app-content-container">
    <cookie-bar></cookie-bar>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div>
      <div>
        <p>
          <span>{{'applications.title' | translate}}</span>
        </p>
        <p>
          <span>Birger Jarlsgatan 57C,</span>
          <span>113 56 Stockholm</span>
        </p>
        <p><a href="mailto:hej@justarrived.se"><span>hej@justarrived.se</span></a></p>
      </div>
    </div>
  </footer>
</div>
