@import '../../../styles/colors';
@import '../../../styles/dimensions';

.layout-wrapper {
  height: 100%;
  @media screen and (min-width: $app-max-width) {
    width: $app-max-width;
    margin: 0 auto;
  }
  @media screen and (max-width: $app-max-width) {
    width: 100%;
    max-width: 100%;
  }

  .layout-inner-wrapper {
    display: table;
    table-layout: fixed;
    height: 100%;
    background: $white;
    width: inherit;

    .layout-header-padder {
      display: table-row;
      height: $header-height;
    }

    .layout-content {
      display: table-row;
      height: 100%;
    }

    .layout-footer {
      display: table-row;
    }
  }
}
