<div class="forgot-password-container">

  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'forgot.password.title' | translate}}</h3>
  </div>

  <div class="forgot-password-form-container">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm(forgotPasswordForm.value)">
      <div class="form-group material-group forgot-password-input-container" [ngClass]="{'has-error':!forgotPasswordForm.controls['email_or_phone'].valid && forgotPasswordForm.controls['email_or_phone'].touched}">
        <input maxlength="256" (keyup.enter)="onEnterKeyUp()" (focus)="errors.email_or_phone = ''" class="forgot-password-form-text-input form-control material-input fs-m0" type="text" placeholder="{{'forgot.password.form.email.or.phone.placeholder' | translate}}"
            [formControl]="forgotPasswordForm.controls['email_or_phone']">

        <div *ngIf="forgotPasswordForm.controls['email_or_phone'].hasError('required') && forgotPasswordForm.controls['email_or_phone'].touched" class="alert alert-danger">{{'forgot.password.form.email.or.phone.validation.required' | translate}}</div>
        <div *ngIf="errors.email_or_phone" class="alert alert-danger">{{errors.email_or_phone}}</div>
      </div>
      <div class="form-group forgot-password-form-button-container">
        <div *ngIf="displayErrorMessage" class="error-message fs-m0">{{'forgot.password.submit.error' | translate}}</div>
        <loading *ngIf="loadingSubmit"></loading>
        <button *ngIf="!loadingSubmit" type="submit" [disabled]="!forgotPasswordForm.valid" class="forgot-password-form-button btn-primary btn-small btn">{{'forgot.password.form.submit.button' | translate}}</button>
        <a class="forgot-password-form-link fs-m0" routerLink="{{JARoutes.login.url()}}">{{'forgot.password.login.link' | translate}}</a>
      </div>
    </form>

  </div>
</div>
