<div class="container-fluid">

  <div class="forgot-password-header row">
    <!-- All Questions -->
    <div class="col-xs-12">
      <h3>
        {{'login.forgot_password' | translate}}
      </h3>
    </div>
  </div>

  <div class="forgot-password-form-container">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm(forgotPasswordForm.value)">
      <div class="form-group material-group forgot-password-input-container" [ngClass]="{'has-error':!forgotPasswordForm.controls['email_or_phone'].valid && forgotPasswordForm.controls['email_or_phone'].touched}">
        <input class="form-control material-input fs-m0" type="text" placeholder="{{'login.form.email_or_phone' | translate}}" [formControl]="forgotPasswordForm.controls['email_or_phone']">

        <div *ngIf="forgotPasswordForm.controls['email_or_phone'].hasError('required') && forgotPasswordForm.controls['email_or_phone'].touched" class="alert alert-danger">{{'login.form.email_or_phone.validation' | translate}}.</div>
      </div>
      <div class="form-group forgot-password-button-container">
        <div *ngIf="displayErrorMessage" class="error-message fs-m0">{{'login.forgot_password.error' | translate}}</div>
        <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn-primary btn-small btn">{{'common.submit' | translate}}</button>
        <a class="fs-m0" routerLink="/login">{{'common.login' | translate}}</a>
      </div>
    </form>

  </div>
</div>
