<div>{{'company.assignments.candidates.select.title' | translate}}</div>
<div class="table">
  <div *ngFor="let userJob of userJobs" class="table-row clickable user-job-container" (click)="onCandidateClick(userJob.id)">
    <div class="table-cell min-width-column user-image-container">
      <img class="rounded-image user-image" [src]="(userJob.user.profileImage && userJob.user.profileImage.imageUrl) || 'assets/images/placeholder-profile-image.png'">
    </div>
    <div class="table-cell">
      <div>{{userJob.user.firstName}}</div>
      <div><rating [rating]="3"></rating>(5 {{'assignment' | translate}})</div><!--TODO: when rest call is ready-->
    </div>

  </div>
</div>
