<div class="job-details">
    <div class="job-details-header">{{"assignment.assignments.title" | translate}}</div>
    <div class="job-details-container table">
        <div class="job-details-cell table-cell">
            <div class="job-details-item with-border"><i class="fa fa-file-text-o fa-lg"></i>{{job.description}}</div>
            <div class="job-details-item" *ngIf="!isPreview">
                <div class="salary-per-hour" *ngIf="isCompanyUser">
                    {{job.hours}} {{'common.hour' | translate}} ({{job.hourlyPay.rateExcludingVAT}} {{job.hourlyPay.currency}}/{{'common.hour' | translate}})
                </div>
                <div class="salary-per-hour" *ngIf="!isCompanyUser">
                    <div>{{job.hours}} {{'common.hour' | translate}} ({{job.hourlyPay.grossSalary}} {{job.hourlyPay.currency}}/{{'common.hour' | translate}})</div>
                    <div>{{job.hourlyPay.netSalary * job.hours}} {{job.currency}} {{ 'common.net_salary' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="job-details-cell table-cell">
            <div class="job-details-item with-border"><i class="fa fa-map-marker fa-lg"></i>{{job.street}} {{job.zip}}</div>
            <div class="job-details-item"><i class="fa fa-calendar fa-lg"><span class="date-value">{{job.jobDate | date: 'dd'}}</span></i>{{job.jobDate | date: 'yyyy-MM-dd'}} - {{job.jobEndDate | date: 'yyyy-MM-dd'}}</div>
        </div>
    </div>
</div>
