<div class="row">
  <div class="col-xs-12">
    <h4>{{"assignment.assignments.title" | translate}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="job-info-row border">
      <i class="fa fa-file-text-o fa-lg"></i> {{job.description}}
    </div>
  </div>

  <div class="col-sm-4 flex-xs-first flex-sm-last">
    <div class="job-info-row with-border">
      <i class="fa fa-calendar fa-lg"></i> {{job.jobDate | date: 'yyyy-MM-dd'}} - {{job.jobEndDate | date: 'yyyy-MM-dd'}}
    </div>
    <div class="job-info-row with-border">
      <i class="fa fa-map-marker fa-lg"></i> {{job.address}}
    </div>
    <div *ngIf="!isPreview">
      <div class="job-info-row with-border">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{job.hours}} {{'common.hour' | translate}}
      </div>
      <div class="job-info-row">
        <i class="fa fa-money" aria-hidden="true"></i> ({{job.grossSalary}} {{job.currency}}/{{'common.hour' | translate}}) <br>
        {{job.netAmount}} {{job.currency}} {{ 'common.net_salary' | translate }}
      </div>
    </div>
  </div>
</div>
