<div class="row">
  <div class="col-xs-12">
    <h4>{{"assignment.assignments.title" | translate}}</h4>
  </div>

  <div class="col-sm-8">
    <p>
      <i class="fa fa-file-text-o"></i> {{job.description}}
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <i class="fa fa-calendar"></i> {{job.jobDate | date: 'yyyy-MM-dd'}} - {{job.jobEndDate | date: 'yyyy-MM-dd'}}
    </p>
    <p>
      <i class="fa fa-map-marker"></i> {{job.street}}, {{job.zip}}
    </p>
    <div *ngIf="!isPreview">
      <i class="fa fa-money" aria-hidden="true"></i>
      <p>
        {{job.hours}} {{'common.hour' | translate}} ({{job.grossSalary}} {{job.currency}}/{{'common.hour' | translate}})
      </p>
      <p>
        {{job.netAmount}} {{job.currency}} {{ 'common.net_salary' | translate }}
      </p>
    </div>
  </div>
</div>
