@import './styles/variables';

.navbar-container {
  height: 100%;
}

.header {
  width: 100%;
  height: 54px;
  border-radius: 0;
  color: $color-gray-200;

  .navbar-container {
    height: 100%;
    flex-wrap: nowrap;

    .navbar-home {
      margin-left: 15px;
    }

    .navbar-menus {
      margin-left: auto;
      margin-right: 15px;
      flex-wrap: nowrap;
    }

    .back-button-container {
      display: inline-block;
      cursor: pointer;

      .back-button {
        margin-right: 12px;
      }
    }

    .logo-img {
      max-width: 165px;
    }

    .menu-icon, .nav-language-icon{
      cursor: pointer;
    }

    .button-container {
      display: inline-block;
    }

    .nav-language-icon {
      font-size: 11px;
      border-radius: 23px;
      border-width: 2px;
      border-style: solid;
      border-color: $color-gray-200;
      padding: 0 0.5em;
      text-align: center;
      vertical-align: center;
      line-height: 22px;
      margin: auto;
      margin-right: $header-button-margin;
      text-transform: uppercase;
      user-select: none;

      .lang-arrow {
        margin-left: 5px;
      }
    }

    .right {
      justify-content: flex-end;
    }
  }
}

.menu-overlay-container {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: right;

  .menu-container {
    overflow-y: auto;
    background: rgba(34, 37, 49, 0.88);
    height: 100%;
    width: 375px;
    display: inline-block;
    text-align: left;
    color: white;

    @media screen and (max-width: $sm-device-width) {
      width: 100%;
    }

    .navigation-menu-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - 54px);
      padding: 15px;

        .navigation-menu-links-container {
          flex: 1;
          margin: 0 auto;
          margin-top: 40px;

          a {
            display: block;
            cursor: pointer;
            font-size: 20px;

            color: $color-blue-200;
            padding: 5px 0;

            &:hover {
              opacity: 0.7;
            }

            i {
              width: 30px;
              color: $white;
            }
          }
        }

        .navigation-menu-user-container {
          .navigation-menu-user-logged-in-image {
            margin-right: 15px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            overflow: hidden;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            vertical-align: middle;
            box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.2);

            img {
              width: 100%;
              height: auto;
              min-height: 35px;
            }
          }
        }

        .navigation-menu-create-user-button {
          width: 100%;
          text-align: center;
          margin: 0;
        }
    }
  }

  .language-menu-container {
    text-align: center;

    .language-menu-logo {
      display: block;
      background: url(../assets/images/menu-logo.svg) center center no-repeat;
      background-size: contain;
      height: 60px;
      font-size: 0;
      margin: 40px 0;
      text-align: center;
    }

    .language-menu-header-container {
      color: $white;
    }

    .language-menu-languages-container {
      padding: 20px;

      .language-menu-language-button-container {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        margin: 12px 7px;
        cursor: pointer;

        .language-menu-language-button-code {
          width: 60px;
          height: 60px;
          display: inline-block;
          line-height: 60px;
          box-sizing: border-box;
          border: 1px solid $white;
          border-radius: 50%;
          margin-bottom: 7px;
          text-transform: uppercase;

          &:hover {
            background: rgba(0, 0, 0, 0.2);
          }

          &.active-language {
            background: $color-primary-cerise;
          }
        }
      }
    }

    .language-menu-information-container {
      padding: 20px;
    }

    .language-menu-credentials-container {
      display: block;
      text-align: center;
      position: relative;
      transform: scale(0.75);

      .language-menu-credentials-image {
        max-height: 50px;
        max-width: 130px;
        width: auto;
        margin: 0 auto;
        padding: 5px 10px 10px 10px;
      }
    }
  }
}

.wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  background: $white;
  width: 100%;

  .header-padder-table-row {
    display: table-row;
    height: $header-height;
  }

  .app-content-container {
    display: table-row;
    height: 100%;
  }

  .footer {
    display: table-row;

    a {
      color: $white;
    }

    > div {
      display: table-cell;
      background: $color-secondary-gray;
      color: $white;
      padding: 20px;
      font-size: 1.2em;

      > div {
        @media screen and (min-width: $sm-device-width) {
          display: table;
          width: 100%;
        }

        > p {
          font-family: $museo;
          margin: 0;
          text-align: center;

          @media screen and (min-width: $sm-device-width) {
            display: table-cell;
          }

          > span {
            white-space: nowrap;
          }
        }

        > p:nth-child(1) {
          @media screen and (min-width: $sm-device-width) {
            text-align: left;
          }
        }

        > p:nth-child(2) {
          @media screen and (min-width: $sm-device-width) {
            text-align: center;
          }
        }

        > p:nth-child(3) {
          @media screen and (min-width: $sm-device-width) {
            text-align: right;
          }
        }
      }
    }
  }
}
