<div class="navbar-fixed-top" [ngStyle]="(isNavigationMenuVisible || isLanguageMenuVisible) && {'height': '100%'}">
  <div class="navbar-container">
    <nav class="header navbar-light bg-faded">
      <div class="row navbar-container">
        <div class="navbar-home row flex-items-xs-middle">
          <a routerLink="/home">
            <img class="logo-img" src="/assets/images/logo.png" alt="Just Arrived" />
          </a>
        </div>
        <div class="navbar-menus right row flex-items-xs-middle">
          <div (click)="onLanguageMenuButtonClick()" class="button-container">
            <div class="nav-language-icon">
              {{selectedLanguage.languageCode}}
              <div class="fa lang-arrow" [ngClass]="[languageBtnIconClassName]"></div>
            </div>
          </div>
          <div (click)="onNavigationMenuButtonClick()" class="button-container">
            <span class="fa fa-bars fa-2x menu-icon"></span>
          </div>
        </div>
      </div>
    </nav>

    <div class="menu-overlay-container" *ngIf="isSideMenuVisible" (click)="isNavigationMenuVisible = false; isLanguageMenuVisible = false;">
      <div class="menu-container">

        <div class="navigation-menu-container" *ngIf="isNavigationMenuVisible">

          <div class="navigation-menu-logo-container row">
              <div class="col-xs-12 text-center navigation-menu-logo-container-logo">
                  <img src="apple-touch-icon.ico" alt="Just Arrived" />
              </div>
          </div>

          <div class="navigation-menu-links-container row">

            <a class="col-xs-12 navigation-menu-item" routerLink="/my-jobs" *ngIf="user">
              {{'menu.main.my_assignment' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/jobs/1">
              {{'menu.main.find_assignment' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/job/create" *ngIf="isCompanyUser">
              {{'menu.main.create_assignment' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/faq">
              {{'menu.main.faq' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/contact">
              {{'menu.main.contact' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/user" *ngIf="user && !isCompanyUser">
              {{'profile' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" routerLink="/login" *ngIf="!user">
              {{'menu.main.login' | translate}}
            </a>

            <a class="col-xs-12 navigation-menu-item" (click)="onLogoutButtonClick()" *ngIf="user">
              {{'menu.main.logout' | translate}}
            </a>

            <div class="col-xs-12 navigation-menu-user-container">
              <div class="col-xs-12 navigation-menu-user-logged-in-container" *ngIf="user">
                <!--"{'background-image': 'url(' + ((user.profile_image && user.profile_image.imageUrl) || '/assets/images/placeholder-profile-image.png') + ')'}"-->
                <div class="col-xs-12 text-center">
                  <img [src]="user.profile_image.imageUrl"/>
                </div>
                <h4 class="col-xs-12 text-center">{{user.firstName}} {{user.lastName}}</h4>
              </div>

              <div class="navigation-menu-user-logged-out-container" *ngIf="!user">
                <a routerLink="/user/register" class="navigation-menu-create-user-button btn-primary btn-small btn">Create User</a>
              </div>
            </div>
          </div>



        </div>

        <div *ngIf="isLanguageMenuVisible" class="language-menu-container">
          <div class="language-menu-logo-container row">
              <div class="col-xs-6 language-menu-logo-container-logo">
                  <img src="apple-touch-icon.ico" alt="Just Arrived" />
              </div>
              <div class="col-xs-6 language-menu-logo-container-text">
                  <h4>{{'menu.language.title' | translate}}</h4>
              </div>
          </div>

          <div class="language-menu-languages-container container">
            <div *ngFor="let language of systemLanguages" class="row language-menu-language-text-wrapper" (click)="onSelectLanguage(language)">
              <div class="col-xs-10 language-menu-language-name" [ngClass]="{'language-menu-language-name-active':isActiveSystemLanguage(language)}" >{{language.localName}}</div>
              <div class="col-xs-2 language-menu-language-checkmark">
                <i *ngIf="isActiveSystemLanguage(language)" class="fa fa-check" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="language-menu-information-container row">
            <p class="col-xs-12">{{'menu.language.text_1' | translate}}</p>
            <p class="col-xs-12">{{'menu.language.text_2' | translate}}</p>
          </div>

          <div class="language-menu-credentials-container row">
            <p class="col-xs-12 prominent">{{'menu.language.translation_by_probono' | translate}}:</p>
            <img class="col-xs-6 language-menu-credentials-image" src="/assets/images/skrivbyra.png" alt="Semantix" />
            <img class="col-xs-6" src="/assets/images/semantix.png" alt="Semantix" />
          </div>

          <div class="language-menu-contributers-wrapper row">
              <div class="col-xs-4 language-menu-contributers-text">
                Farshid Fadaee
              </div>
              <div class="col-xs-4 language-menu-contributers-text">
                Nick Chipperfield
              </div>
              <div class="col-xs-4 language-menu-contributers-text">
                Hans-Erik Täpp
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<div class="wrapper">
  <div class="header-padder-table-row"></div>
  <section class="app-content-container">
    <cookie-bar></cookie-bar>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div>
      <div>
        <p>
          <span>{{'applications.title' | translate}}</span>
        </p>
        <p>
          <span>Jakobsbergsgatan 22,</span>
          <span>111 44 Stockholm</span>
        </p>
        <p><a href="mailto:hej@justarrived.se"><span>hej@justarrived.se</span></a></p>
      </div>
    </div>
  </footer>
</div>
