<div class="navbar-fixed-top" [ngStyle]="(isNavigationMenuVisible || isLanguageMenuVisible) && {'height': '100%'}">
  <div class="navbar-container">
    <nav class="header navbar-light bg-faded">
      <div class="row navbar-container">
        <div class="col-xs row flex-items-xs-middle">
          <div class="clickable back-button-container" *ngIf="states.length > 1 && currentState !== '/home'" (click)="onBackButtonClick()">
            <i class="fa fa-angle-left fa-2x back-button"></i>
          </div>
          <a routerLink="/home">
            <img class="logo-img" src="/assets/images/logo.png" alt="Just Arrived" />
          </a>
        </div>
        <div class="col-xs right row flex-items-xs-middle">
          <div (click)="onLanguageMenuButtonClick()" class="button-container">
            <div class="nav-language-icon">
              {{selectedLanguage.languageCode}}
              <div class="fa lang-arrow" [ngClass]="[languageBtnIconClassName]"></div>
            </div>
          </div>
          <div (click)="onNavigationMenuButtonClick()" class="button-container">
            <span class="fa fa-bars fa-2x menu-icon"></span>
          </div>
        </div>
      </div>
    </nav>
    <div class="menu-overlay-container" *ngIf="isSideMenuVisible" (click)="isNavigationMenuVisible = false; isLanguageMenuVisible = false;">
      <div class="menu-container">
        <div class="navigation-menu-container" *ngIf="isNavigationMenuVisible">
          <div class="navigation-menu-links-container">
            <a routerLink="/my-jobs" *ngIf="user">
              <i class="fa fa-paperclip fa-lg"></i> {{'menu.main.my_assignment' | translate}}
            </a>

            <a routerLink="/jobs/1">
              <i class="fa fa-wrench fa-lg"></i> {{'menu.main.find_assignment' | translate}}
            </a>

            <a routerLink="/job/create" *ngIf="isCompanyUser">
              <i class="fa fa-plus fa-lg"></i> {{'menu.main.create_assignment' | translate}}
            </a>

            <a routerLink="/faq">
              <i class="fa fa-clipboard fa-lg"></i> {{'menu.main.faq' | translate}}
            </a>

            <a routerLink="/contact">
              <i class="fa fa-comments fa-lg"></i> {{'menu.main.contact' | translate}}
            </a>

            <a routerLink="/user" *ngIf="user && !isCompanyUser">
              <i class="fa fa-user fa-lg"></i> {{'profile' | translate}}
            </a>

            <a routerLink="/login" *ngIf="!user">
              <i class="fa fa-power-off fa-lg"></i> {{'menu.main.login' | translate}}
            </a>

            <a (click)="onLogoutButtonClick()" *ngIf="user">
              <i class="fa fa-power-off fa-lg"></i> {{'menu.main.logout' | translate}}
            </a>
          </div>
          <div class="navigation-menu-user-container">
            <div class="navigation-menu-user-logged-in-container" *ngIf="user">
              <div class="navigation-menu-user-logged-in-image" [ngStyle]="{'background-image': 'url(' + ((user.images && user.images[0] && user.images[0].imageUrl) || '/assets/images/placeholder-profile-image.png') + ')'}"></div>
              {{user.firstName}} {{user.lastName}}
            </div>
            <div class="navigation-menu-user-logged-out-container" *ngIf="!user">
              <a routerLink="/user/register" class="navigation-menu-create-user-button btn-secondary-light btn-medium btn">Create User</a>
            </div>
          </div>
        </div>

        <div *ngIf="isLanguageMenuVisible" class="language-menu-container">
          <div class="language-menu-logo"></div>
          <div class="language-menu-header-container">{{'menu.language.title' | translate}}</div>
          <div class="language-menu-languages-container">
            <div *ngFor="let language of systemLanguages" class="language-menu-language-button-container" (click)="onSelectLanguage(language)">
              <div [class.active-language]="isActiveSystemLanguage(language)" class="language-menu-language-button-code">{{language.languageCode}}</div>
              <div class="language-menu-language-button-name">{{language.localName}}</div>
            </div>

          </div>
          <div class="language-menu-information-container">
            <p>{{'menu.language.text_1' | translate}}</p>
            <p>{{'menu.language.text_2' | translate}}</p>
          </div>
          <div class="language-menu-credentials-container">
            <p class="prominent">{{'menu.language.translation_by_probono' | translate}}:</p>
            <img class="language-menu-credentials-image" src="/assets/images/menu_semantix_logo.png" alt="Semantix" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="header-padder-table-row"></div>
  <section class="app-content-container">
    <cookie-bar></cookie-bar>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div>
      <div>
        <p>
          <span>{{'applications.title' | translate}}</span>
        </p>
        <p>
          <span>Jakobsbergsgatan 22,</span>
          <span>111 44 Stockholm</span>
        </p>
        <p><a href="mailto:hej@justarrived.se"><span>hej@justarrived.se</span></a></p>
      </div>
    </div>
  </footer>
</div>
