@import '../../../styles/colors';
@import '../../../styles/typography';

.ui.card {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  .image {
    height: 290px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .header {
    @include truncate-owerflowing-text;
  }

  .description {
    @include truncate-owerflowing-text;
  }

  .base.content {
    height: 94px;
  }

  .extra.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .address {
      text-align: left;
      @include wrap-long-words;
    }

    .no-address {
      font-style: italic;
    }
  }
}
