@import '../../../styles/colors';
@import '../../../styles/typography';

.guide-menu-container {
  border-left: 1px solid rgba(0, 0, 0, .2);
  margin-left: 15px;
  padding-left: 20px;
}

.guide-menu-section-title {
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 15px !important;
  position: relative;

  &:before {
    align-items: center;
    background-color: $color-cerise-500;
    border-radius: 100%;
    color: white;
    content: '';
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    margin-left: -50px;
    margin-top: -5px;
    position: absolute;
    width: 30px;
  }

  &:hover {
    &:before {
      background-color: $color-cerise-200;
    }
  }
}

.guide-menu-section {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) .guide-menu-section-title {
      &:before {
        content: '#{$i}';
      }
    }
  }

  &:not(:first-child) {
    margin-top: 35px;
  }
}

.guide-menu-section-item {
  margin-bottom: 6px;
  position: relative;

  &:before {
    background-color: $color-gray-300;
    border-radius: 100%;
    content: '';
    height: 7px;
    margin-left: -24px;
    position: absolute;
    top: 7px;
    width: 7px;
  }
}
