@import '../../../styles/colors';

.ui.card {
  margin-top: 1em;
  margin-bottom: 1em;
  .image {
    height: 240px;
    position: relative;
    background-color: $color-gray-100;
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
