@import '../../styles/colors';

.contact-form-container {
  background-color: $default-bg-color;

  .contact-form-description {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    vertical-align: middle;
  }

  .contact-form-icon-container{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;

    .contact-form-icon {
      color: $color-primary-cerise;
    }
  }

  .contact-form-input-container {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;

    .contact-form-text-input {
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  .contact-button-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom:30px;

    .contact-button {
      margin: 0;
      width: 100%;
    }
  }
}
