@import '../../../styles/colors';

.utalk-section-container {
  background-color: $color-gray-800 !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.cta-container {
  text-align: center;
}
