@import '../../../styles/colors';

.how-it-works-container {
  background: url('/assets/images/sitting-background.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
