<div class="register-container">

  <div class="sub-header-container">
    <h3 class="sub-header-title">{{"user.register.title" | translate}}</h3>
  </div>

  <div class="ui centered grid">
    <div class="fourteen wide phone ten wide tablet eight wide computer column">

      <form #form="ngForm" class="ui form" (ngSubmit)="onSubmit()">
        <sm-loader [complete]="!loadingSubmit" class="inverted" text="{{'component.loading' | translate}}"></sm-loader>

        <h3 class="ui dividing header">{{'user.register.form.general.information.section.header' | translate}}</h3>

        <div class="field">
          <sm-input
            [control]="registerForm.controls['first_name']"
            [label]="('user.register.form.first.name.header' | translate) + ' *'"
            [placeholder]="'user.register.form.first.name.placeholder' | translate"
            class="left"
            icon="user"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="first_name"></input-errors>
        </div>

        <div class="field">
          <sm-input
            [control]="registerForm.controls['last_name']"
            [label]="('user.register.form.last.name.header' | translate) + ' *'"
            [placeholder]="'user.register.form.last.name.placeholder' | translate"
            class="left"
            icon="user"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="last_name"></input-errors>
        </div>

        <div class="field">
          <sm-input
            [control]="registerForm.controls['email']"
            [label]="('user.register.form.email.header' | translate) + ' *'"
            [placeholder]="'user.register.form.email.placeholder' | translate"
            class="left"
            icon="mail"
            type="text">
          </sm-input>
          <input-errors
            [controls]="registerForm.controls"
            [apiErrors]="apiErrors"
            attribute="email"
            [patternLabel]="'validations.email_pattern' | translate">
          </input-errors>
        </div>

        <div class="field">
          <sm-input
            [control]="registerForm.controls['phone']"
            [label]="('user.register.form.phone.header' | translate) + ' *'"
            [placeholder]="'user.register.form.phone.placeholder' | translate"
            class="left"
            icon="phone"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="phone"></input-errors>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['gender'].touched && !registerForm.controls['gender'].valid) || apiErrors.hasErrorsFor('gender')}">
          <sm-select
           [control]="registerForm.controls['gender']"
           [label]="('user.register.form.gender.header' | translate) + ' *'"
           [placeholder]="'user.register.form.gender.placeholder' | translate"
           class="fluid">
            <option *ngFor="let gender of genders" [value]="gender.id">
              {{gender.name}}
            </option>
          </sm-select>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="gender"></input-errors>
        </div>

        <h3 class="ui dividing header">{{'user.register.form.address.section.header' | translate}}</h3>

        <div class="field" [ngClass]="{'error': (registerForm.controls['street'].touched && !registerForm.controls['street'].valid) || apiErrors.hasErrorsFor('street')}">
          <sm-input
            [control]="registerForm.controls['street']"
            [label]="'user.register.form.street.header' | translate"
            [placeholder]="'user.register.form.street.placeholder' | translate"
            class="left"
            icon="map pin"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="street"></input-errors>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['zip'].touched && !registerForm.controls['zip'].valid) || apiErrors.hasErrorsFor('zip')}">
          <sm-input
            [control]="registerForm.controls['zip']"
            [label]="'user.register.form.zip.header' | translate"
            [placeholder]="'user.register.form.zip.placeholder' | translate"
            class="left"
            icon="map"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="zip"></input-errors>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['city'].touched && !registerForm.controls['city'].valid) || apiErrors.hasErrorsFor('city')}">
          <sm-input
            [control]="registerForm.controls['city']"
            [label]="'user.register.form.city.header' | translate"
            [placeholder]="'user.register.form.city.placeholder' | translate"
            class="left"
            icon="building"
            type="text">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="city"></input-errors>
        </div>

        <h3 class="ui dividing header">{{'user.register.form.country.and.languages.section.header' | translate}}</h3>

        <div class="field" [ngClass]="{'error': (registerForm.controls['native_language'].touched && !registerForm.controls['native_language'].valid) || apiErrors.hasErrorsFor('language_ids')}">
          <sm-select
           [control]="registerForm.controls['native_language']"
           [label]="('user.register.form.native.language.header' | translate) + ' *'"
           [placeholder]="'user.register.form.native.language.placeholder' | translate"
           class="fluid search">
            <option *ngFor="let language of languages" [value]="language.id">
              {{language.name}}
            </option>
          </sm-select>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="native_language" apiAttribute="language_ids"></input-errors>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['language'].touched && !registerForm.controls['language'].valid) || apiErrors.hasErrorsFor('language')}">
          <sm-select
           [control]="registerForm.controls['language']"
           [label]="('user.register.form.default.language.header' | translate) + ' *'"
           [placeholder]="'user.register.form.default.language.placeholder' | translate"
           class="fluid search">
            <option *ngFor="let language of systemLanguages" [value]="language.id">
              {{language.name}}
            </option>
          </sm-select>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="language"></input-errors>
          <div
            class="ui pointing grey basic label">
            {{'user.register.form.default.language.description' | translate}}
          </div>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['country_of_origin'].touched && !registerForm.controls['country_of_origin'].valid) || apiErrors.hasErrorsFor('country_of_origin')}">
          <sm-select
           [control]="registerForm.controls['country_of_origin']"
           [(model)]="registerForm.controls['country_of_origin'].value"
           [label]="('user.register.form.country.of.origin.header' | translate) + ' *'"
           [placeholder]="'user.register.form.country.of.origin.placeholder' | translate"
           class="fluid search">
            <option *ngFor="let country of countries" [value]="country.countryCode">
              {{country.name}}
            </option>
          </sm-select>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="country_of_origin"></input-errors>
        </div>

        <h3 class="ui dividing header">{{'user.register.form.password.section.header' | translate}}</h3>

        <div class="field" [ngClass]="{'error': (registerForm.controls['password'].touched && !registerForm.controls['password'].valid) || apiErrors.hasErrorsFor('password')}">
          <sm-input
            [control]="registerForm.controls['password']"
            [label]="('user.register.form.password.header' | translate) + ' *'"
            [placeholder]="'user.register.form.password.placeholder' | translate"
            class="left"
            icon="lock"
            type="password">
          </sm-input>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="password"></input-errors>
        </div>

        <div class="field" [ngClass]="{'error': (registerForm.controls['repeat_password'].touched && !registerForm.controls['repeat_password'].valid) || passwordsSuppliedAndMisMatch()}">
          <sm-input
            [control]="registerForm.controls['repeat_password']"
            [label]="('user.register.form.repeat.password.header' | translate) + ' *'"
            [placeholder]="'user.register.form.repeat.password.placeholder' | translate"
            class="left"
            icon="lock"
            type="password">
          </sm-input>
          <input-error
            [visible]="passwordsSuppliedAndMisMatch()"
            [label]="'user.register.form.repeat.password.validation.mismatch' | translate">
          </input-error>
        </div>

        <div class="field" [ngClass]="{'error': !registerForm.controls['accepted_terms_and_conditions'].valid || apiErrors.hasErrorsFor('consent')}">
          <sm-checkbox
            [label]="('user.register.form.terms.accept' | translate) + ' *'"
            [control]="registerForm.controls['accepted_terms_and_conditions']">
          </sm-checkbox>
          <a href="/assets/terms/160523_2051-2_Terms_and_Conditions_(en).pdf" target="_blank"> PDF EN</a>,
          <a href="/assets/terms/160520_2051-2_Anvandarvillkor_(sv).pdf" target="_blank"> PDF SV</a>
          <input-errors [controls]="registerForm.controls" [apiErrors]="apiErrors" attribute="accepted_terms_and_conditions" apiAttribute="consent"></input-errors>
        </div>

        <div class="register-form-button-container">
          <div *ngIf="saveFail" class="error-message">{{'user.register.form.submit.fail' | translate}}</div>
          <div *ngIf="saveSuccess" class="save-message">{{'user.register.form.submit.success' | translate}}</div>
          <button *ngIf="!loadingSubmit" type="submit" class="register-form-button btn-primary btn-small btn">{{'user.register.form.submit.button' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
