@import '../../styles/colors';
@import '../../styles/typography';

$ms-item-text-color: $white;
$disabled-background-color: #eeeeee;

.autocomplete-dropdown {
  position: relative;

  .dropdown-text-input-container {
    position: relative;
    min-width: 170px;

    .drop-down-arrow {
      position: absolute;
      text-align: center;
      right: 10px;
      top: calc(50% - 8px);
      font-size: 8px;
      background-color: $default-bg-color;
      cursor: pointer;

      &.disabled {
        background-color: unset;
      }
    }
  }

  .autocomplete-dropdown-container {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: $default-bg-color;

    &.table {
      background-color: $default-bg-color;
    }

    .form-control {
      border: none;
      box-shadow: none;
      padding: 10px 12px;
      font-size: $fs-m0;
    }
  }

  .dropdown-items-list {
    min-width: 100%;
    height: auto;
    max-height: 426px;
    overflow-x: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: $default-bg-color;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

    /deep/ .autocomplete-dropdown-list-item {
      display: block;
      padding: 3px 20px;
      clear: both;
      white-space: nowrap;
      list-style: none;
      text-align: left;

      &.group {
        padding: 5px;
        background-color: $color-gray-100;
      }

      &:not(.group) {
        &:hover {
          background-color: $color-gray-50;
        }
      }
    }

    .selected-autocomplete-item {
      /deep/ .autocomplete-dropdown-list-item {
        background-color: $color-gray-50;
      }
    }
  }

  &.disabled {
    .drop-down-arrow {
      background-color: unset;
      cursor: not-allowed;
    }

    .autocomplete-dropdown-container {
      background-color: $disabled-background-color;
      cursor: not-allowed;
    }

    /deep/ .deletable-item {
      background-color: $disabled-background-color;
    }

    .multipleselect-item-delete-icon {
      background-color: unset;
      cursor: not-allowed;
    }
  }

  &.wrap-mode {
    .autocomplete-dropdown-container {
      &.multiple-select {
        .items-column {
          white-space: normal;
          width: auto;
        }

        /deep/ .deletable-item {
          white-space: normal;
        }

        .dropdown-text-input-container {
          width: 170px;
        }
      }
    }
  }

  &.no-border {
    .dropdown-text-input-container {
      .form-control {
        border: none;
        box-shadow: none;
      }
    }
  }
}

/deep/ .deletable-item {
  position: relative;
  display: inline-block;
  background-color: $color-gray-50;
  border-radius: 4px;
  padding: 4px 10px;
  white-space: nowrap;
  margin: 2px 3px 0;

  .icon-ic-close {
    font-size: 10px;
    margin-left: 5px;
  }
}

.nowrap-autocomplete-container {
  .wrap-mode, &.wrap-mode {
    .autocomplete-dropdown-container {
      &.multiple-select {
        .items-column {
          white-space: nowrap;
          width: 1px;
        }

        /deep/ .deletable-item {
          white-space: nowrap;
        }

        .dropdown-text-input-container {
          width: auto;
        }
      }
    }
  }
}
