<form class="ui form" [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)">
  <sm-loader [complete]="!loadingSubmit" class="inverted" text="{{'component.loading' | translate}}"></sm-loader>

  <div class="field">
    <sm-input
      [control]="contactForm.controls['name']"
      [label]="('contact.form.name.header' | translate) + ' *'"
      [placeholder]="'contact.form.name.placeholder' | translate"
      class="left"
      icon="user"
      type="text">
    </sm-input>
    <input-errors [controls]="contactForm.controls" [apiErrors]="apiErrors" attribute='name'></input-errors>
  </div>

  <div class="field">
    <sm-input
      [control]="contactForm.controls['email']"
      [label]="('contact.form.email.header' | translate) + ' *'"
      [placeholder]="'contact.form.email.placeholder' | translate"
      class="left"
      icon="mail"
      type="text">
    </sm-input>
    <input-errors [controls]="contactForm.controls" [apiErrors]="apiErrors" attribute="email" [patternLabel]="'validations.email_pattern' | translate"></input-errors>
  </div>

  <div class="field">
    <sm-textarea
      [control]="contactForm.controls['message']"
      [label]="('contact.form.message.placeholder' | translate) + ' *'"
      class="left"
      icon="mail">
    </sm-textarea>
    <input-errors
      [controls]="contactForm.controls"
      [apiErrors]="apiErrors"
      attribute="message"
      apiAttribute="body">
    </input-errors>
  </div>

  <div class="contact-button-container">
    <loading *ngIf="loadingSubmit"></loading>
    <button *ngIf="!loadingSubmit" [disabled]="!contactForm.valid" type="submit" class="btn-primary btn-medium btn contact-button">{{'contact.form.submit.button' | translate}}</button>
  </div>
</form>
