.share-icon {
  height: 42px;
  width: 44px;
  display: inline-block;
  background-size: cover !important;
}

.facebook-share-icon {
  background: url('/assets/images/facebook.png');
}

.whatsapp-share-icon {
  background: url('/assets/images/whatsapp.png');
}
