@import '../../../styles/colors';

.requirements-section-container {
  background-color: $color-gray-800;

  .requirements-section-image {
    background: url('/assets/images/people-standing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
