@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

.job-actions-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background: $white url("/assets/images/job-header-background.jpg") no-repeat right top !important;
  background-size: cover !important;
  color: white;
  min-height: 300px;

  .job-actions-header-title {
    @media screen and (max-width: $sm-device-width) {
      font-size: $fs-xxxl;
    }
  }
}
