@import '../../styles/variables.scss';

.comments-container {
  width: 70%;
  margin: 0 auto;

  &.small-addition-padding {
    padding-bottom: 15px;
  }

  &.addition-padding {
    padding-bottom: 78px;
  }

  .comment-container {
    padding: 8px;
    position: relative;
    clear: both;

    .comment-picture-container {
      img {
        width: 35px;
        height: 35px;
      }
    }

    .comment-content {
      width: calc(100% - 50px);

      &.left-moved {
        margin-left: 50px;
      }

      .comment-meta-data {
        font-size: 15px;
        line-height: 20px;
      }

      .comment-body {
        border-radius: 5px;
        background: $color-gray-2;
        padding: 10px 15px;
        margin-top: 5px;
        word-wrap: break-word;
        font-size: 15px;
      }
    }
  }
}

.new-comment-container {
  width: 100%;
  max-width: 1024px;
  padding: 15px 0;
  background-color: white;

  &.moving {
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 10px -3px #333;
  }

  > .table {
    width: 70%;
    margin: 0 auto;
  }

  .resizable-div-cell {
    width: 100%;
    padding: 5px;

    [contenteditable=true]:empty:before{
      content: attr(placeholder);
      display: block; /* For Firefox */
      color: $color-gray-1;
    }

    .resizable-div {
      border-radius: 5px;
      border: 1px solid $color-gray-2;
      padding: 10px;
      word-break: break-all;
    }
  }

  .comment-send-button-container {
    padding-left: 9px;

    .comment-send-button {
      color: $color-blue-2;
      font-weight: 700;
      border: 0;
      background: none;
      font-size: 1.2em;
      white-space: nowrap;
      outline: none;

      &:disabled {
        color: $color-gray-2;
        cursor: default;
      }
    }
  }
}
