@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

.welcome-header-container {
  background-color: linear-gradient($color-cerise-600, $color-primary-cerise);
  background: url('/assets/images/home-header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .welcome-header-info-container {
    width: calc(100% - 426px);
    padding: 40px;
    text-align: left;

    @media screen and (max-width: $tablet-max-width) {
      margin: 0 auto;
      max-width: 800px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      width: auto;
    }

    .welcome-header-button-container {
      display: inline-block;
      margin-top: 20px;
    }

    .welcome-header-button-outer-container {
      @media screen and (max-width: $tablet-max-width) {
        justify-content: center;
      }
    }
  }

  .welcome-header-info-container-logged-in {
    padding-top: 100px;
    padding-left: 150px;

    @media screen and (max-width: $tablet-max-width) {
      padding-left: 0;
      padding-top: 40px;
    }
  }
}
