@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

.welcome-header-container {
  background: linear-gradient($color-cerise-600, $color-primary-cerise);
  background-image: url('/assets/images/top-banner-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-flow: column;

  .welcome-header-info-container {
    margin: 40px auto;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: auto;

    .welcome-header-button-container {
      button {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    .welcome-header-button-outer-container {
      justify-content: center;

      @media screen and (min-width: $tablet-max-width) {
        justify-content: left;
      }
    }
  }
}
