@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

.banner-container {
  background: $white url('/assets/images/job-background-computer.jpg') no-repeat center bottom !important;
  background-size: cover !important;
  min-height: 300px;
  align-items: flex-end;
  display: flex;

  @media screen and (max-width: $mobile-max-width) {
    background: $white url('/assets/images/job-background-mobile.jpg') no-repeat center bottom !important;
    background-size: cover !important;
  }

  .grid-container {
    width: 100%;
    @media screen and (min-width: $tablet-min-width) {
      padding: 0 50px 0 50px;
    }
  }
}
