<form
  (ngSubmit)="onSubmit()"
  #form="ngForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <h3 class="ui dividing header">
    {{'user.register.form.general.information.section.header' | translate}}
  </h3>

  <first-name-input
     [control]="registerForm.controls['first_name']"
     [apiErrors]="apiErrors">
  </first-name-input>

  <last-name-input
    [control]="registerForm.controls['last_name']"
     [apiErrors]="apiErrors">
  </last-name-input>

  <email-input
    [control]="registerForm.controls['email']"
    [apiErrors]="apiErrors">
  </email-input>

  <phone-input
    [control]="registerForm.controls['phone']"
    [apiErrors]="apiErrors">
  </phone-input>

  <gender-input
    [control]="registerForm.controls['gender']"
    [apiErrors]="apiErrors">
  </gender-input>

  <h3 class="ui dividing header">
    {{'user.register.form.address.section.header' | translate}}
  </h3>

  <address-input
    [streetControl]="registerForm.controls['street']"
    [zipControl]="registerForm.controls['zip']"
    [cityControl]="registerForm.controls['city']"
    [apiErrors]="apiErrors">
  </address-input>

  <h3 class="ui dividing header">
    {{'user.register.form.country.and.languages.section.header' | translate}}
  </h3>

  <system-language-input
    [control]="registerForm.controls['language']"
    [apiErrors]="apiErrors">
  </system-language-input>

  <country-of-origin-input
    [control]="registerForm.controls['country_of_origin']"
    [apiErrors]="apiErrors">>
  </country-of-origin-input>

  <h3 class="ui dividing header">
    {{'user.register.form.password.section.header' | translate}}
  </h3>

  <password-input
     [control]="registerForm.controls['password']"
     [apiErrors]="apiErrors">
  </password-input>

  <h3 class="ui dividing header">
    {{'user.register.form.terms.section.header' | translate}}
  </h3>

  <terms-input
    [control]="registerForm.controls['accepted_terms_and_conditions']"
    [apiErrors]="apiErrors">
  </terms-input>

  <form-submit-button
    [submitFail]="saveFail"
    [submitSuccess]="saveSuccess"
    [buttonText]="'user.register.form.submit.button' | translate">
  </form-submit-button>
</form>
