<form
  (ngSubmit)="onSubmit()"
  #form="ngForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <h3 class="ui dividing header">
    {{'user.register.form.general.information.section.header' | translate}}
  </h3>

  <user-first-name-input
     [control]="registerForm.controls['first_name']"
     [apiErrors]="apiErrors">
   </user-first-name-input>

  <user-last-name-input
    [control]="registerForm.controls['last_name']"
     [apiErrors]="apiErrors">
   </user-last-name-input>

  <user-email-input
    [control]="registerForm.controls['email']"
    [apiErrors]="apiErrors">
  </user-email-input>

  <user-phone-input
    [control]="registerForm.controls['phone']"
    [apiErrors]="apiErrors">
  </user-phone-input>

  <div class="field">
    <sm-select
     [control]="registerForm.controls['gender']"
     [data]="genders | async"
     [label]="('user.register.form.gender.header' | translate) + ' *'"
     [placeholder]="'user.register.form.gender.placeholder' | translate"
     class="fluid">
      <option
        [value]="gender.id"
        *ngFor="let gender of genders | async">
        {{gender.name}}
      </option>
    </sm-select>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="registerForm.controls['gender']"
      apiAttribute="gender">
    </input-errors>
  </div>

  <h3 class="ui dividing header">
    {{'user.register.form.address.section.header' | translate}}
  </h3>

  <user-address-input
    [streetControl]="registerForm.controls['street']"
    [zipControl]="registerForm.controls['zip']"
    [cityControl]="registerForm.controls['city']"
    [apiErrors]="apiErrors">
  </user-address-input>

  <h3 class="ui dividing header">
    {{'user.register.form.country.and.languages.section.header' | translate}}
  </h3>

  <div class="field">
    <sm-select
     [control]="registerForm.controls['native_language']"
     [data]="languages | async"
     [label]="('user.register.form.native.language.header' | translate) + ' *'"
     [placeholder]="'user.register.form.native.language.placeholder' | translate"
     class="fluid search">
      <option
        [value]="language.id"
        *ngFor="let language of languages | async">
        {{language.name}}
      </option>
    </sm-select>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="registerForm.controls['native_language']"
      apiAttribute="language_ids">
    </input-errors>
  </div>

  <div class="field">
    <sm-select
     [control]="registerForm.controls['language']"
     [data]="systemLanguages | async"
     [label]="('user.register.form.default.language.header' | translate) + ' *'"
     [placeholder]="'user.register.form.default.language.placeholder' | translate"
     class="fluid search">
      <option
        [value]="language.id"
        *ngFor="let language of systemLanguages | async">
        {{language.name}}
      </option>
    </sm-select>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="registerForm.controls['language']"
      apiAttribute="language">
    </input-errors>
    <div
      class="ui pointing grey basic label">
      {{'user.register.form.default.language.description' | translate}}
    </div>
  </div>

  <div class="field">
    <sm-select
     [control]="registerForm.controls['country_of_origin']"
     [data]="countries | async"
     [label]="('user.register.form.country.of.origin.header' | translate) + ' *'"
     [placeholder]="'user.register.form.country.of.origin.placeholder' | translate"
     class="fluid search">
      <option
        [value]="country.countryCode"
        *ngFor="let country of countries | async">
        {{country.name}}
      </option>
    </sm-select>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="registerForm.controls['country_of_origin']"
      apiAttribute="country_of_origin">
    </input-errors>
  </div>

  <h3 class="ui dividing header">
    {{'user.register.form.password.section.header' | translate}}
  </h3>

  <user-password-input
     [control]="registerForm.controls['password']"
     [apiErrors]="apiErrors">
   </user-password-input>

  <div class="field">
    <sm-input
      [control]="registerForm.controls['repeat_password']"
      [label]="('user.register.form.repeat.password.header' | translate) + ' *'"
      [placeholder]="'user.register.form.repeat.password.placeholder' | translate"
      class="left"
      icon="lock"
      type="password">
    </sm-input>
    <input-error
      [label]="'user.register.form.repeat.password.validation.mismatch' | translate"
      [visible]="passwordsSuppliedAndMisMatch()">
    </input-error>
  </div>

  <div class="field">
    <sm-checkbox
      [control]="registerForm.controls['accepted_terms_and_conditions']"
      [label]="('user.register.form.terms.accept' | translate) + ' *'">
    </sm-checkbox>
    <a
      href="/assets/terms/160523_2051-2_Terms_and_Conditions_(en).pdf"
      target="_blank">
       PDF EN
    </a>,
    <a
      href="/assets/terms/160520_2051-2_Anvandarvillkor_(sv).pdf"
      target="_blank">
       PDF SV
     </a>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="registerForm.controls['accepted_terms_and_conditions']"
      apiAttribute="consent">
    </input-errors>
  </div>

  <div class="register-form-button-container">
    <div
      *ngIf="saveFail"
      class="error-message">
      {{'user.register.form.submit.fail' | translate}}
    </div>
    <div
      *ngIf="saveSuccess"
      class="save-message">
      {{'user.register.form.submit.success' | translate}}
    </div>
    <button
      *ngIf="!loadingSubmit"
      class="register-form-button btn-primary btn-small btn"
      type="submit">
      {{'user.register.form.submit.button' | translate}}
    </button>
  </div>
</form>
