<form
  (ngSubmit)="submitForm()"
  #form="ngForm"
  class="ui form">
  <basic-loader
    [complete]="!loadingSubmit"
    class="inverted">
  </basic-loader>

  <div class="ui basic center aligned segment">

    <form-section-title-text
      [text]="'register.form.login.section' | translate">
    </form-section-title-text>

    <base-button
      (click)="loginButonClicked()"
      [buttonText]="'register.form.login.button' | translate"
      kind="primary"
      size="small">
    </base-button>

  </div>

  <form-section-title-text
    [text]="'user.register.form.general.information.section.header' | translate"
    icon="user">
  </form-section-title-text>

  <first-name-input
     [control]="registerForm.controls['first_name']"
     [apiErrors]="apiErrors">
  </first-name-input>

  <last-name-input
    [control]="registerForm.controls['last_name']"
     [apiErrors]="apiErrors">
  </last-name-input>

  <email-input
    [control]="registerForm.controls['email']"
    [apiErrors]="apiErrors">
  </email-input>

  <phone-input
    [control]="registerForm.controls['phone']"
    [apiErrors]="apiErrors">
  </phone-input>

  <gender-input
    [control]="registerForm.controls['gender']"
    [apiErrors]="apiErrors">
  </gender-input>

  <country-of-origin-input
    [control]="registerForm.controls['country_of_origin']"
    [apiErrors]="apiErrors">
  </country-of-origin-input>

  <form-section-title-text
    [text]="'user.register.form.address.section.header' | translate"
    icon="marker">
  </form-section-title-text>

  <street-input
    [apiErrors]="apiErrors"
    [control]="registerForm.controls['street']">
  </street-input>

  <zip-input
    [apiErrors]="apiErrors"
    [control]="registerForm.controls['zip']">
  </zip-input>

  <city-input
    [apiErrors]="apiErrors"
    [control]="registerForm.controls['city']">
  </city-input>

  <form-section-title-text
    [text]="'user.register.form.settings.section.header' | translate"
    icon="settings">
  </form-section-title-text>

  <system-language-input
    [control]="registerForm.controls['system_language_id']"
    [apiErrors]="apiErrors">
  </system-language-input>

  <form-section-title-text
    [text]="'user.register.form.password.section.header' | translate"
    icon="lock">
  </form-section-title-text>

  <password-input
     [control]="registerForm.controls['password']"
     [apiErrors]="apiErrors">
  </password-input>

  <form-section-title-text
    [text]="'user.register.form.terms.section.header' | translate"
    icon="info">
  </form-section-title-text>

  <terms-input
    [control]="registerForm.controls['accepted_terms_and_conditions']"
    [apiErrors]="apiErrors">
  </terms-input>

  <form-submit-button
    [showButton]="!isInModal"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'user.register.form.submit.button' | translate">
  </form-submit-button>
</form>
