@import '../../styles/variables';
@import '../../styles/buttons';
@import '../../styles/mixins';


.pagination-wrapper {
  background-color: $color-gray-25;
  padding: 8px;

  p {
    margin: 0;
  }
}

.back-button {
  @include NavigationButtonProperties(left, $color-primary-cerise);
}

.forward-button {
  @include NavigationButtonProperties(right, $color-primary-cerise);
}

.pagination-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  border: 1px solid $white;
  border-radius: 17px;
  padding: 0 10px;
  line-height: 34px;
  height: 34px;
  display: inline-block;
  text-transform: uppercase;
  color: $white !important;
  padding: 0 2em;
  text-align: center;
  background-color: $color-primary-cerise;
  color: $white;
  border: 1px solid $color-primary-cerise;
  cursor: pointer; cursor: hand;
}

.navigation-left-arrow {
  position: relative;
  left: 7px;
}

.navigation-right-arrow {
  position: relative;
  right: 7px;
}
