@import '../../styles/variables';
@import '../../styles/buttons';
@import '../../styles/mixins';


.pagination-wrapper {
  background-color: $color-gray-25;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.back-button {
  @include NavigationButtonProperties(left, $color-primary-cerise);
  padding-top: 0;
}

.forward-button {
  @include NavigationButtonProperties(right, $color-primary-cerise);
  padding-top: 0;
}

.pagination-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  color: $color-primary-cerise;
  cursor: pointer;
}

.navigation-left-arrow {
  position: relative;
  left: 7px;
}

.navigation-right-arrow {
  position: relative;
  right: 7px;
}
