<div class="row pagination-wrapper flex-items-xs-middle">
  <div (click)="onFirstPageButtonClick()" class="back-button col-xs">
    <i class="fa fa-chevron-left navigation-left-arrow" aria-hidden="true"></i>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>

  <div class="col-xs">
    <a (click)="onPreviousPageButtonClick()" class="pagination-button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
  </div>

  <div class="pagination-text col-xs">
    <p> {{currentPage}} / {{lastPage}} </p>
  </div>

  <div class="col-xs" class="text-right">
    <a (click)="onNextPageButtonClick()" class="pagination-button">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

  <div (click)="onLastPageButtonClick()" class="forward-button col-xs">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-right navigation-right-arrow" aria-hidden="true"></i>
  </div>
</div>
