@import '../../styles/colors';


@mixin navigationButtonProperties($text-alignment, $primary-color) {
  padding-top: 0.4em;
  text-align: $text-alignment;
  color: $primary-color;
  > i {
    cursor: pointer; cursor: hand;
  }
}



.pagination-wrapper {
  background-color: $color-gray-25;

  .pagination-button-container{
    max-width: 500px;
    margin: 0 auto;
  }

  p {
    margin: 0;
  }
}

.back-button {
  @include navigationButtonProperties(left, $color-primary-cerise);
  padding-top: 0;
}

.forward-button {
  @include navigationButtonProperties(right, $color-primary-cerise);
  padding-top: 0;
}

.pagination-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  color: $color-primary-cerise;
  cursor: pointer;
}

.navigation-left-arrow {
  position: relative;
  left: 7px;
}

.navigation-right-arrow {
  position: relative;
  right: 7px;
}
