@import '../../../styles/variables.scss';

.job-create {
  .job-preview-title {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 70%;
    margin: 0 auto;

    span {
      color: $color-primary-cerise;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: 0.02em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: normal;
    }

    em {
      font-style: normal;
    }

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .approve-buttons {
    text-align: center;
    margin: 15px auto 10px;

    .button {
      cursor: pointer;
      display: inline-block;
      margin: 0 3px;
      width: 45%;
      font-size: 1.3em;
      border: 0;

      &.secondary {
        background: $color-secondary-gray;
      }

      &.primary {
        background: $color-primary-cerise;
      }
    }
  }
}
