@import '../../../styles/colors';

.reset-password-form-button-container {
  text-align: center;

  .error-message {
    color: $color-cerise-500;
  }

  .reset-password-form-button {
    display: block;
    margin: 10px auto;
    min-width: 200px;
  }
}
