<form
  (ngSubmit)="submitForm(resetPasswordForm.value)"
  [formGroup]="resetPasswordForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <div class="field">
    <sm-input
      [control]="resetPasswordForm.controls['password']"
      [placeholder]="'reset.password.form.password.placeholder' | translate"
      class="left"
      icon="user"
      type="password">
    </sm-input>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="resetPasswordForm.controls['password']"
      apiAttribute="password">
    </input-errors>
  </div>

  <div class="reset-password-form-button-container">
    <div
      *ngIf="displayErrorMessage"
      class="error-message">
      {{'reset.password.form.submit.error' | translate}}
    </div>
    <button
      type="submit"
      class="reset-password-form-button btn-primary btn-small btn">
      {{'reset.password.form.submit.button' | translate}}
    </button>
  </div>
</form>
