<form
  (ngSubmit)="submitForm(resetPasswordForm.value)"
  [formGroup]="resetPasswordForm"
  class="ui form">
  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <password-input
    [control]="resetPasswordForm.controls['password']"
    [apiErrors]="apiErrors">
  </password-input>

  <form-submit-button
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'reset.password.form.submit.button' | translate">
    <input-errors
      [apiErrors]="apiErrors"
      [control]="resetPasswordForm.controls['one_time_token']"
      apiAttribute="one_time_token">
    </input-errors>
  </form-submit-button>
</form>
