@import '../../styles/variables.scss';

.job-details-header {
  background-color: $color-white;
  .company-logo {
    width: 80px;
    height: 80px;
    border-radius: 90000px;
    padding: 15px 0;
  }
}
