@import '../../styles/variables.scss';

.job-details-header {
  background-color: $color-white;
  .company-logo {
    float: right;
    max-height: 80px;
    border-radius: 2px;
    padding: 15px 0;
  }
}

.job-details-body {
  .content {
    margin: 15px 0;
  }
}
