<div *ngIf="job">
  <div class="job-details-header">
    <div class="container-fluid">
      <div class="row flex-items-xs-middle">
        <div class="col-sm-4 col-md-6">
          <img class="company-logo" [src]="job.companyLogoURL">
        </div>
        <div class="col-sm-8 col-md-6">
          <p>{{job.company.name}}</p>
          <p>{{job.company.website}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="">
          <p>{{job.name}}</p>
          <h4 class="title-primary">{{job.amount}} {{job.currency}} {{'common.gross_salary' | translate}}</h4>
          <p>{{job.hours}} {{'common.hour' | translate}}</p>
          <h5 class="title-primary">{{job.netAmount}} {{job.currency}} {{'common.net_salary' | translate}}</h5>
        </div>
      </div>
    </div>

    <job-preview [job]="job"></job-preview>
  </div>

  <job-state-status-bar [job]="job" [jobId]="job.id"></job-state-status-bar>
  <comments [resourceName]="'jobs'" [resourceId]="job.id"></comments>
</div>
