<div *ngIf="job">
  <div class="main-title">
    <div class="table job-header">
      <div class="table-row">
        <div class="table-cell">
          <img class="rounded-company-logo" [src]="(job.company.companyLogo && job.company.companyLogo.imageUrlSmall) || 'assets/images/placeholder-logo.png'">
        </div>
        <div class="table-cell">
          <div class="job-main-info-cell">
            <div class="fs-xl">{{job.name}}</div>
            <div class="fs-m">{{job.company.name}}</div>
            <div>{{job.jobDate | date:'dd MMM'}} - {{job.jobEndDate | date:'dd MMM'}}</div>
            <div>{{job.street}}</div>
          </div>
          <div class="job-main-info-cell">
            <div class="total-salary" *ngIf="isCompanyUser">
              {{job.hourlyPay.rateExcludingVAT * job.hours}} {{job.hourlyPay.currency}}
            </div>
            <div class="total-salary" *ngIf="!isCompanyUser">{{job.hourlyPay.grossSalary * job.hours}} {{job.hourlyPay.currency}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="job-details">
    <div class="job-details-header">{{"assignment.assignments.title" | translate}}</div>
    <div class="job-details-container table">
      <div class="job-details-cell table-cell">
        <div class="job-details-item with-border"><i class="icon-ic-description"></i>{{job.description}}</div>
        <div class="job-details-item">
          <div class="salary-per-hour" *ngIf="isCompanyUser">
            {{job.hours}} {{'common.hour' | translate}} ({{job.hourlyPay.rateExcludingVAT}} {{job.hourlyPay.currency}}/{{'common.hour' | translate}}хайде )
          </div>
          <div class="salary-per-hour" *ngIf="!isCompanyUser">
            <div>{{job.hours}} {{'common.hour' | translate}} ({{job.hourlyPay.grossSalary}} {{job.hourlyPay.currency}}/{{'common.hour' | translate}})</div>
            <div>{{job.hourlyPay.netSalary * job.hours}} {{job.currency}} {{ 'common.net_salary' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="job-details-cell table-cell">
        <div class="job-details-item with-border"><i class="icon-ic-location"></i>{{job.street}} {{job.zip}}</div>
        <div class="job-details-item"><i class="icon-ic-calendar"><span class="date-value">{{job.jobDate | date: 'dd'}}</span></i>{{job.jobDate | date: 'yyyy-MM-dd'}} - {{job.jobEndDate | date: 'yyyy-MM-dd'}}</div>
      </div>
    </div>
  </div>
</div>
