<div class="row pagination-wrapper flex-items-xs-middle">
  <div (click)="onFirstPageButtonClick()" class="back-button col-xs">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  </div>

  <div class="col-xs">
    <a (click)="onPreviousPageButtonClick()" class="pagination-button">
      <
    </a>
  </div>

  <div class="pagination-text col-xs">
    <p> {{currentPage}} / {{lastPage}} </p>
  </div>

  <div class="col-xs" style="text-align: right;">
    <a (click)="onNextPageButtonClick()" class="pagination-button">
      >
    </a>
  </div>

  <div (click)="onLastPageButtonClick()" class="forward-button col-xs">
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
