@import '../../styles/variables.scss';

.pager-container {
  padding-top: 20px;

  .pager-button {
    background: none;
    border: 0;
    display: inline-block;
    color: $color-dark;
    opacity: 0.3;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 3px 3px;
    cursor: pointer;
    font-size: 14px;

    .additional-arrow {
      position: absolute;
      left: 0;
    }
  }
}
