<h1>About</h1>
<div>
  Change language:
  <button type="button" (click)="translationService.setLanguage('en')">English</button>
  <button type="button" (click)="translationService.setLanguage('ar')">Arabic</button>
  <button type="button" (click)="translationService.setLanguage('ku')">Kurdish</button>
</div>
<div>{{'user.assignment.confirmation.description' | translate:{candidate_name: 'Some user'} }}</div>
<br>
<div class="material-group">
  <autocomplete-dropdown [autocompleteResultLabelFunction]="namePropertyLabel"
                         [autocompleteToSelectedItemFunction]="namePropertyLabel"
                         [placeholder]="'Search country'" [(destination)]="myModel.value"></autocomplete-dropdown>
  <label class="material-label label-up">Country</label>
</div>

<br><br>
<div>{{myModel.value}}</div>
