@import '../../../styles/colors';
@import '../../../styles/dimensions';
@import '../../../styles/typography';

.pager-container {
  margin-top: 1rem;
  background-color: $color-gray-800;
  bottom: 0;
  left: 0;
  height: 60px;
  position: fixed;
  right: 0;
  z-index: 5;
}

.pagination-location {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  color: $white;
  flex-direction: row;

  .section-indicator {
    align-items: center;
    background-color: $color-cerise-500;
    border-radius: 50%;
    color: $white !important;
    display: inline-flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    height: 25px;
    margin: 0 1rem;
    width: 25px;
  }
}

.pagination-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  color: $white;

  & > i {
    margin-right: 1rem;
  }
}

.pagination-button-right {
  flex-direction: row-reverse;
  text-align: right;

  & > i {
    margin-right: 0;
    margin-left: 1rem;
  }
}
