<div class="job-create">
  <div class="subheader text-center" *ngIf="!isPreview">
    <div class="fs-l form-group">{{'assignment.create.title' | translate | uppercase}}</div>
    <div class="subheader-text">{{'assignment.create.description' | translate}}</div>
  </div>
  <div class="subheader text-center" *ngIf="isPreview">
    <div class="fs-l form-group">{{'assignment.preview.title' | translate | uppercase}}</div>
  </div>

  <div class="centered-form-container" *ngIf="!isPreview">
    <form class="centered-form" #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="material-group">
        <input type="text" id="name" [(ngModel)]="job.name" name="name" class="material-input"
               [ngClass]="{'not-empty': job.name, 'has-error': errors.name}" required>
        <label for="name" class="material-label">{{'assignment.form.title' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.name && form.controls.name.invalid && form.controls.name.touched">
          {{'assignment.form.title.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.name">
          {{errors.name}}
        </div>
      </div>

      <div class="material-group">
        <autocomplete-dropdown [lookupType]="'list'" [enumList]="categories"
                               [(destination)]="job.category"
                               [autocompleteResultLabelFunction]="namePropertyLabel"
                               [selectedItemLabelFunction]="namePropertyLabel">
        </autocomplete-dropdown>
        <label class="label-up material-label">{{'assignment.form.category' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.category && form.controls.category.invalid && form.controls.category.touched">
          {{'assignment.form.category.validation' | translate}}
        </div>
      </div>

      <div class="material-group">
        <input type="text" id="short-description" [(ngModel)]="job.shortDescription" name="shortDescription"
               class="material-input" [ngClass]="{'has-error': errors.short_description}">
        <label for="short-description" class="material-label">{{'assignment.form.short_description' |
          translate}}</label>

        <div class="fs-m0 material-group-error" *ngIf="errors.short_description ">
          {{errors.short_description}}
        </div>
      </div>

      <div class="material-group">
        <input type="text" id="description" [(ngModel)]="job.description" name="description" class="material-input"
               [ngClass]="{'not-empty': job.description, 'has-error': errors.description}" required>
        <label for="description" class="material-label">{{'assignment.form.description' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.description && form.controls.description.invalid && form.controls.description.touched">
          {{'assignment.form.description.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.description">
          {{errors.description}}
        </div>
      </div>

      <div class="material-group">
        <input type="text" id="street" [(ngModel)]="job.street" name="street" class="material-input"
               [ngClass]="{'not-empty': job.street, 'has-error': errors.street}" required>
        <label for="street" class="material-label">{{'assignment.form.address' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.street && form.controls.street.invalid && form.controls.street.touched">
          {{'assignment.form.address.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.street">
          {{errors.street}}
        </div>
      </div>

      <div class="material-group">
        <input type="text" id="zip" [(ngModel)]="job.zip" name="zip" class="material-input"
               [ngClass]="{'not-empty': job.zip, 'has-error': errors.zip}" required>
        <label for="zip" class="material-label">{{'assignment.form.zip' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.zip && form.controls.zip.invalid && form.controls.zip.touched">
          {{'assignment.form.zip.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.zip">
          {{errors.zip}}
        </div>
      </div>

      <div class="material-group">
        <input type="date" id="job-date" [(ngModel)]="job.jobDate" name="jobDate" class="material-input"
               [ngClass]="{'not-empty': job.jobDate, 'has-error': errors.job_date}"
               required placeholder="YYYY-MM-DD" pattern='^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$'>
        <label for="job-date" class="label-up material-label">{{'assignment.form.from_date' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.jobDate && form.controls.jobDate.invalid && form.controls.jobDate.touched">
          {{'assignment.form.from_date.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.job_date">
          {{errors.job_date}}
        </div>
      </div>

      <div class="material-group">
        <input type="date" id="job-end-date" [(ngModel)]="job.jobEndDate" name="jobEndDate" class="material-input"
               [ngClass]="{'not-empty': job.jobEndDate, 'has-error': errors.job_end_date}"
               required placeholder="YYYY-MM-DD" pattern='^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$'>
        <label for="job-end-date" class="label-up material-label">{{'assignment.form.to_date' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.jobEndDate && form.controls.jobEndDate.invalid && form.controls.jobEndDate.touched">
          {{'assignment.form.to_date.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.job_end_date">
          {{errors.job_end_date}}
        </div>
      </div>


      <div class="material-group">
        <input type="number" id="hours" [(ngModel)]="job.hours" name="hours" class="material-input"
               [ngClass]="{'not-empty': job.hours, 'has-error': errors.hours}" required>
        <label for="hours" class="label-up material-label">{{'assignment.form.hours' | translate}}</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.hours && form.controls.hours.invalid && form.controls.hours.touched">
          {{'assignment.form.hours.validation' | translate}}
        </div>
        <div class="fs-m0 material-group-error" *ngIf="errors.hours">
          {{errors.hours}}
        </div>
      </div>

      <div class="material-group">
        <autocomplete-dropdown [lookupType]="'list'" [enumList]="hourlyPays"
                               [(destination)]="job.hourlyPay"
                               [autocompleteResultLabelFunction]="grossSalaryLabel"
                               [selectedItemLabelFunction]="grossSalaryLabel">
        </autocomplete-dropdown>
        <label class="label-up material-label">{{'assignment.form.rate' | translate}} ({{'assignment.form.rate' |
          translate}})</label>

        <div class="fs-m0 material-group-error"
             *ngIf="form.controls.hourlyPay && form.controls.hourlyPay.invalid && form.controls.hourlyPay.touched">
          {{'assignment.form.rate.validation' | translate}}
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="button primary form-group" (click)="setPreviewMode()" [disabled]="form.invalid">{{'common.next_step' |
          translate}}
        </button>
      </div>
    </form>
  </div>

  <div class="centered-form-container" *ngIf="isPreview">
    <div class="job-preview-title">
      <div>
        <h3>{{job.name}}</h3>
        <span>{{job.hourlyPay.rateExcludingVAT * job.hours}} {{job.hourlyPay.currency}}</span>
        <br/>
        <em>{{job.hours}} {{'common.hour' | translate}} ({{job.hourlyPay.rateExcludingVAT}} {{job.hourlyPay.currency}}/{{'common.hour' | translate}})</em>
      </div>
    </div>

    <job-preview [job]="job" [isPreview]="true"></job-preview>

    <div class="approve-buttons">
      <button class="button secondary" (click)="exitPreviewMode()" type="button">{{'common.edit' | translate}}</button>
      <button class="button primary" (click)="saveJob()" type="button">{{'common.approve' | translate}}</button>
    </div>
  </div>
</div>
