@import '../../../styles/colors';
@import '../../../styles/typography';

.job-item-container {
  width: 140px;
  background-color: $default-bg-color;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  padding: 0;

  &:hover {
    transform: scale(1.02);
  }

  .job-item-name-container {
    height: 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .job-item-label-container {
    padding: 10px;
    border-radius: 0 0 8px 8px;
  }

  .job-item-label-applied-container {
    background: $color-gray-50;
  }

  .job-item-label-offered-container {
    background: $color-blue-500;
  }

  .job-item-label-will-perform-container {
    background: $color-cerise-500;
  }

  .job-item-label-rejected-container {
    background: $color-gray-50;
  }

  .job-item-label-withdrawn-container {
    background: $color-gray-50;
  }

}
