<div class="ui centered grid guide-wrapper">

  <div class="row">
    <img class="guide-header-img" src="../../../../assets/images/guide-book.png" />
  </div>

  <div class="row">
    <h2>{{ 'guide.header' | translate }}</h2>
  </div>

  <div *ngFor="let item of items" class="row stackable">
    <div class="six wide column guide-image-wrapper">
      <img class="guide-image" src="{{item.img}}" />
    </div>

    <div class="ten wide column">
      <div class="row">
        <h2 class="guide-header">{{item.headerTitle}}</h2>
      </div>
      <div class="row">
        <p class="guide-text">
          {{item.text}}
        </p>
      </div>
      <div class="ui grid row equal width guide-bottom-wrapper">
        <div class="column">
          <base-button
            [buttonText]="'guide.article.preview.read_more' | translate"
            [routerLink]="JARoutes.guideDetail.url()"
            kind="primary"
            size="small">
          </base-button>
        </div>
        <div class="column">
          <p class="guide-date-text">
            {{item.date}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="guide-post-serepator">
  </div>-->

  <div class="row guide-paginator">

    <div class="guide-paginator-button guide-paginator-button-active">
      <p>1</p>
    </div>

    <div class="guide-paginator-button">
      <p>2</p>
    </div>

    <div class="guide-paginator-button">
      <p>3</p>
    </div>

    <div class="guide-paginator-button">
      <p>4</p>
    </div>

  </div>

</div>
