<div class="ui centered grid guide-wrapper">

  <div class="row">
    <img src="../../../../assets/images/guide-book.png" />
  </div>

  <div class="row">
    <h2>Din Guide</h2>
  </div>

  <div class="row stackable">
    <div class="six wide column guide-image-wrapper">
      <img class="guide-image" src="../../../../assets/images/guide-book.png" />
    </div>

    <div class="ten wide column">
      <div class="row">
        <h2 class="guide-header">Hur man kan söka en lägenhet i Svergie</h2>
      </div>
      <div class="row">
        <p class="guide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
      <div class="row guide-bottom-wrapper">
        <div class="column left floated">
          <a href="#" class="btn-primary btn-small btn">
            Läs mer
          </a>
        </div>
        <div class="column right floated">
          <p class="guide-date-text">23 April 2017</p>
        </div>
      </div>
    </div>
  </div>

  <div class="guide-post-serepator">
  </div>

</div>
