@import './app/styles/borders';
@import './app/styles/colors';
@import './app/styles/dimensions';
@import './app/styles/semantic-ui-modifications';
@import './app/styles/tooltips';
@import './app/styles/typography';

body,
html {
  height: 100%;
}

body {
  background-color: $color-background !important;
  font-family: $text-font-family;
}
