@import './app/styles/bootstrap-modifications';
@import './app/styles/buttons';
@import './app/styles/colors';
@import './app/styles/dimensions';
@import './app/styles/semantic-ui-modifications';
@import './app/styles/tooltips';
@import './app/styles/typography';

body,
html {
  height: 100%;
}

body {
  background-color: $color-background !important;

  .clickable {
    cursor: pointer;

    &.disabled {
      box-shadow: none;
      cursor: not-allowed;
      opacity: 0.95;
      pointer-events: none;
    }
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .table {
    display: table;

    &.max-width {
      width: 100%;
    }
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
    vertical-align: middle;

    &.min-width-column {
      white-space: nowrap;
      width: 1px;
    }
  }
}

.navbar-fixed-top > .navbar-container,
body > .app-container {
  height: 100%;
  @media screen and (min-width: $lg-device-width) {
    width: $lg-device-width;
    margin: 0 auto;
  }
  @media screen and (max-width: $lg-device-width) {
    width: 100%;
    max-width: 100vw;
  }
}
