@import './app/styles/variables';
@import './app/styles/mixins';
@import './app/styles/buttons';
@import './app/styles/typography';
@import './app/styles/tooltips';
@import './app/styles/bootstrap-modifications';
@import './app/styles/headers';

body,
html {
  height: 100%;
}

body {
  background-color: $color-background !important;

  input {
    outline: none;
  }

  input[type="date"] {
    text-transform: uppercase;
  }

  .clickable {
    cursor: pointer;

    &.disabled {
      box-shadow: none;
      cursor: not-allowed;
      opacity: 0.95;
      pointer-events: none;
    }
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .clearfix {
    clear: both;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .table {
    display: table;

    &.max-width {
      width: 100%;
    }
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
    vertical-align: middle;

    &.min-width-column {
      white-space: nowrap;
      width: 1px;
    }
  }

  .material-group {
    position: relative;
    margin-bottom: 25px;

    .material-input {
      width: 100%;
      padding: 10px 12px;
      display: block;
      margin-bottom: 5px;

      &.not-empty,
      &:focus {
        ~ .material-label:not(.label-up) {
          @include label-up();
        }
      }

      &.has-error,
      &.ng-touched.ng-invalid {
        border: 1px solid $color-primary-cerise !important;
        color: $color-primary-cerise !important;

        ~ .material-label {
          color: $color-primary-cerise !important;
        }
      }
    }

    input.material-input {
      border: 1px solid $color-secondary-gray;
    }

    textarea.material-input {
      resize: none;
    }

    .material-label {
      position: absolute;
      pointer-events: none;
      left: 12px;
      top: 11px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &.label-up {
        @include label-up();
      }
    }

    .material-group-error {
      color: $color-primary-cerise;
      font-size: 12px;
    }
  }

  .rounded-image {
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
  }
}

.navbar-fixed-top > .navbar-container,
body > .app-container {
  height: 100%;
  margin: 0 auto;
  @media screen and (min-width: $lg-device-width) {
    width: $lg-device-width;
  }
  @media screen and (max-width: $lg-device-width) {
    width: 100%;
  }
}
