.god-mode-bar-container {
  text-align: center;
  background: #0069D2;
  color: #FFFFFF;
  padding: 20px 32px; }
  .god-mode-bar-container .god-mode-bar-inner-container {
    max-width: 784px;
    margin: 0 auto; }
    .god-mode-bar-container .god-mode-bar-inner-container .god-mode-bar-title {
      text-align: center; }
    .god-mode-bar-container .god-mode-bar-inner-container .god-mode-bar-description {
      text-align: center;
      margin: auto; }
    .god-mode-bar-container .god-mode-bar-inner-container .god-mode-bar-button-container {
      width: 200px;
      margin: 0 auto;
      margin-top: 30px; }
