.banner-container {
  background: url('/assets/images/gradient-banner-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    background-repeat: no-repeat;
    background-position: center center;
    height: 42px;
    width: 42px;
    cursor: pointer;

    &.left {
      background-image: url('/assets/icons/chevron-left.svg');

      &.disabled {
        background-image: url('/assets/icons/chevron-left-disable.svg');
        cursor: default;
      }
    }

    &.right {
      background-image: url('/assets/icons/chevron-right.svg');

      &.disabled {
        background-image: url('/assets/icons/chevron-right-disable.svg');
        cursor: default;
      }
    }
  }

  .modal-content {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 50px 20px;
  }
}
