@import '../../../styles/colors';

.forgot-password-form-button-container {
  text-align: center;

  .error-message {
    color: $color-cerise-500;
  }

  .forgot-password-form-button {
    display: block;
    margin: 10px auto;
    min-width: 200px;
  }

  .forgot-password-form-link {
    color: $color-accent-main;
    font-weight: 600;
  }
}
