<form
  (ngSubmit)="submitForm(forgotPasswordForm.value)"
  [formGroup]="forgotPasswordForm"
  class="ui form">

  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <email-or-phone-input
    [control]="forgotPasswordForm.controls['email_or_phone']"
    [apiErrors]="apiErrors">
  </email-or-phone-input>

  <form-submit-button
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess"
    [buttonText]="'contact.form.submit.button' | translate">
    <div>
      <a
        class="forgot-password-form-link"
        routerLink="{{JARoutes.login.url()}}">
        {{'forgot.password.login.link' | translate}}
      </a>
    </div>
  </form-submit-button>
</form>
