<form
  (ngSubmit)="submitForm(forgotPasswordForm.value)"
  [formGroup]="forgotPasswordForm"
  class="ui form">

  <sm-loader
    [complete]="!loadingSubmit"
    class="inverted"
    text="{{'component.loading' | translate}}">
  </sm-loader>

  <div class="field">
    <sm-input
      (keyup.enter)="onEnterKeyUp()"
      [control]="forgotPasswordForm.controls['email_or_phone']"
      [placeholder]="'forgot.password.form.email.or.phone.placeholder' | translate"
      class="left"
      icon="mail"
      maxlength="256"
      type="text">
    </sm-input>
    <input-errors
      [apiErrors]="apiErrors"
      [control]="forgotPasswordForm.controls['email_or_phone']"
      apiAttribute="email_or_phone">
    </input-errors>
  </div>

  <div class="forgot-password-form-button-container">
    <div
      *ngIf="displayErrorMessage"
      class="error-message">
      {{'forgot.password.submit.error' | translate}}
    </div>
    <button
      [disabled]="!forgotPasswordForm.valid"
      *ngIf="!loadingSubmit"
      class="btn-primary btn-small btn forgot-password-form-button"
      type="submit">
      {{'forgot.password.form.submit.button' | translate}}
    </button>
    <a
      class="forgot-password-form-link"
      routerLink="{{JARoutes.login.url()}}">
      {{'forgot.password.login.link' | translate}}
    </a>
  </div>
</form>
