@import '../../../styles/variables.scss';

.user-profile {
  .form-group {
    position: relative;
  }
  .form-group:before {
    position: absolute;
    font-family: fontello;
    left: -35px;
    font-size: 20px;
    color: $color-gray-2;
  }

  .presentation:before {
    content: '\e823';
  }
  .languages:before {
    content: '\e824';
  }
  .work-experience:before {
    content: '\e820';
  }
  .education:before {
    content: '\e825'
  }
  .skills:before {
    content: '\e821';
  }

  hr {
    margin: 35px 0 25px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
}
