@import '../../../styles/variables.scss';

.company-jobs {
  h2 {
    background: $color-gray-50;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 1px;
  }
}
