@import '../../../styles/variables';
@import '../../../styles/buttons';


.contact-confirmation-container {
  color: $color-gray-50;
  background-color: $color-secondary-gray;
  margin-right: -15px;
  margin-left: -15px;

  .textarea {
    padding-top: 150px;
    width: 50%;
    margin: 0 auto;
    h3 {
      text-align: center;
      vertical-align: middle;
    }
  }

  .envelope-icon-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .contact-button-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    button {
      margin: 0;
      width: 100%;
    }
  }

}
