<div class="container-fluid">

  <div class="contact-confirmation-container">

    <div class="textarea">
      <h3>
        {{"contact.confirmation.title" | translate}}
      </h3>
    </div>

    <div class="envelope-icon-container">
      <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
    </div>


    <div class="contact-button-container">
      <button class="btn-primary btn-medium btn" (click)="onBackButtonClick()">{{"contact.confirmation.navigate.back" | translate}}</button>
    </div>

  </div>

</div>
