<div class="container-fluid">

  <div class="contact-header row">
    <!-- All Questions -->
    <div class="col-xs-12">
      <h3>
        {{"contact" | translate}}
      </h3>
    </div>
  </div>

  <div class="contact-form-container">
    <div class="textarea">
      <p>
        {{"contact.confirmation.title" | translate}}
      </p>
    </div>

    <div class="envelope-icon-container">
      <i class="fa fa-envelope-open fa-5x" aria-hidden="true"></i>
    </div>


    <div class="contact-button-container">
      <button class="btn-primary btn-medium btn" (click)="onBackButtonClick()">{{"contact.confirmation.navigate.back" | translate}}</button>
    </div>


  </div>

</div>
