<div class="jobs-container">
  <div class="sub-header-container">
    <h3 class="sub-header-title">{{'jobs.title' | translate: {nbrOfJobs: totalJobs} }}</h3>
  </div>
  <div class="jobs-map-container">
    <sebm-google-map class="jobs-map" [latitude]="mapLocation.latitude" [longitude]="mapLocation.longitude" [zoom]="mapZoom" [styles]="mapStyles" [disableDefaultUI]="true" [streetViewControl]="false">
      <sebm-google-map-marker *ngIf="mapUserLocation" [latitude]="mapUserLocation.latitude" [longitude]="mapUserLocation.longitude"></sebm-google-map-marker>
      <job-map-marker *ngFor="let job of jobs" [job]="job"></job-map-marker>
    </sebm-google-map>
    <div class="jobs-map-tooltip tooltip-top tooltip-color-blue"><span class="jobs-map-tooltip-content" [class.tooltip-visible]="mapErrorShow" (click)="mapTooltipClicked()">{{'map.geolocation.error.prefix' | translate: {mapError: mapError | translate} }} <div class="jobs-map-tooltip-close-link">{{'map.geolocation.error.close' | translate}}</div></span></div>
  </div>

  <pager [maxResults]="totalJobs" [currentPage]="page" (pageChange)="onPageChange($event)"></pager>

  <div class="jobs-list-container row">
    <loading class="jobs-list-loading-container" *ngIf="loadingJobs"></loading>
    <div class="jobs-list-item-container" *ngIf="!loadingJobs">
      <job-list-item style="display: block;" *ngFor="let job of jobs" [job]="job"></job-list-item>
    </div>
  </div>

  <pager [maxResults]="totalJobs" [currentPage]="page" (pageChange)="onPageChange($event)"></pager>
</div>
