@import '../../styles/colors';

.jobs-list-container {
  background-color: $default-bg-color;
  min-height: 600px;
  display: flex;

  .jobs-list-loading-container {
    width: 100%;
    margin-top: 20px;
  }

  .jobs-list-item-container {
    width: 100%;
  }
}
