<form
  (keydown.enter)="$event.preventDefault()"
  (ngSubmit)="submitForm()"
  #form="ngForm"
  class="ui form">
  <basic-loader
    [complete]="!loadingSubmit"
    class="inverted">
  </basic-loader>

  <form-section-title-text
    [text]="'user.update.form.personal.info.header' | translate"
    *ngIf="missingUserTraits?.first_name || missingUserTraits?.last_name || missingUserTraits?.email || missingUserTraits?.phone || missingUserTraits?.ssn || missingUserTraits?.gender || missingUserTraits?.country_of_origin"
    icon="user">
  </form-section-title-text>

  <resume-input
    [centered]="true"
    [showLabel]="false"
    [hint]="missingUserTraits?.cv?.hint"
    *ngIf="missingUserTraits?.cv">
  </resume-input>

  <first-name-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.first_name"
    [hint]="missingUserTraits?.first_name?.hint"
    *ngIf="missingUserTraits?.first_name">
  </first-name-input>

  <last-name-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.last_name"
    [hint]="missingUserTraits?.last_name?.hint"
    *ngIf="missingUserTraits?.last_name">
  </last-name-input>

  <email-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.email"
    [hint]="missingUserTraits?.email?.hint"
    *ngIf="missingUserTraits?.email">
  </email-input>

  <phone-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.phone"
    [hint]="missingUserTraits?.phone?.hint"
    *ngIf="missingUserTraits?.phone">
  </phone-input>

  <ssn-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.ssn"
    [hint]="missingUserTraits?.ssn?.hint"
    *ngIf="missingUserTraits?.ssn">
  </ssn-input>

  <gender-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.gender"
    [hint]="missingUserTraits?.gender?.hint"
    *ngIf="missingUserTraits?.gender">
  </gender-input>

  <country-of-origin-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.country_of_origin"
    [hint]="missingUserTraits?.country_of_origin?.hint"
    *ngIf="missingUserTraits?.country_of_origin">
  </country-of-origin-input>

  <form-section-title-text
    [text]="'user.update.form.address.header' | translate"
    *ngIf="missingUserTraits?.street || missingUserTraits?.zip || missingUserTraits?.city"
    icon="marker">
  </form-section-title-text>

  <street-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.street"
    [hint]="missingUserTraits?.street?.hint"
    *ngIf="missingUserTraits?.street">
  </street-input>

  <zip-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.zip"
    [hint]="missingUserTraits?.zip?.hint"
    *ngIf="missingUserTraits?.zip">
  </zip-input>

  <city-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.city"
    [hint]="missingUserTraits?.city?.hint"
    *ngIf="missingUserTraits?.city">
  </city-input>

  <form-section-title-text
    [text]="'user.update.form.bank.details.header' | translate"
    *ngIf="missingUserTraits?.bank_account"
    icon="money">
  </form-section-title-text>

  <bank-account-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.bank_account"
    [hint]="missingUserTraits?.bank_account?.hint"
    *ngIf="missingUserTraits?.bank_account">
  </bank-account-input>

  <form-section-title-text
    [text]="'user.update.form.personal.presentation.section.header' | translate"
    *ngIf="missingUserTraits?.description"
    icon="user">
  </form-section-title-text>

  <description-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.description"
    [hint]="missingUserTraits?.description?.hint"
    *ngIf="missingUserTraits?.description">
  </description-input>

  <form-section-title-text
    [text]="'user.update.form.social.network.section.header' | translate"
    *ngIf="missingUserTraits?.facebook_url || missingUserTraits?.linkedin_url"
    icon="users">
  </form-section-title-text>

  <facebook-url-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls['facebook_url']"
    [hint]="missingUserTraits?.facebook_url?.hint"
    *ngIf="missingUserTraits?.facebook_url">
  </facebook-url-input>

  <linkedin-url-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls['linkedin_url']"
    [hint]="missingUserTraits?.linkedin_url?.hint"
    *ngIf="missingUserTraits?.linkedin_url">
  </linkedin-url-input>

  <form-section-title-text
    [text]="'user.update.form.status.section.header' | translate"
    *ngIf="missingUserTraits?.current_status || missingUserTraits?.at_und"
    icon="id card">
  </form-section-title-text>

  <status-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.current_status"
    [hint]="missingUserTraits?.current_status?.hint"
    *ngIf="missingUserTraits?.current_status">
  </status-input>

  <at-und-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.at_und"
    [hint]="missingUserTraits?.at_und?.hint"
    *ngIf="missingUserTraits?.at_und">
  </at-und-input>

  <form-section-title-text
    [text]="'user.update.form.language.skills.section.header' | translate"
    *ngIf="missingUserTraits?.language_ids"
    icon="world">
  </form-section-title-text>

  <languages-input
    [languagesControl]="updateForm.controls.languages"
    [userLanguagesControl]="updateForm.controls.user_languages"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.language_ids?.hint"
    [languageIds]="missingUserTraits?.language_ids?.ids"
    *ngIf="missingUserTraits?.language_ids">
  </languages-input>

  <form-section-title-text
    [text]="'user.update.form.general.skills.section.header' | translate"
    *ngIf="missingUserTraits?.competence_text || missingUserTraits?.skill_ids"
    icon="rocket">
  </form-section-title-text>

  <competence-input
    [control]="updateForm.controls.competence_text"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.competence_text?.hint"
    *ngIf="missingUserTraits?.competence_text">
  </competence-input>

  <skills-input
    [skillsControl]="updateForm.controls.skills"
    [userSkillsControl]="updateForm.controls.user_skills"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.skill_ids?.hint"
    [skillIds]="missingUserTraits?.skill_ids?.ids"
    *ngIf="missingUserTraits?.skill_ids">
  </skills-input>

  <form-section-title-text
    [text]="'user.update.form.interests.section.header' | translate"
    *ngIf="missingUserTraits?.interest_ids"
    icon="heart">
  </form-section-title-text>

  <interests-input
    [interestsControl]="updateForm.controls['interests']"
    [userInterestsControl]="updateForm.controls['user_interests']"
    [apiErrors]="apiErrors"
    [hint]="missingUserTraits?.interest_ids?.hint"
    [interestIds]="missingUserTraits?.interest_ids?.ids"
    *ngIf="missingUserTraits?.interest_ids">
  </interests-input>

  <form-section-title-text
    [text]="'user.update.form.education.section.header' | translate"
    *ngIf="missingUserTraits?.education"
    icon="student">
  </form-section-title-text>

  <education-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.education"
    [hint]="missingUserTraits?.education?.hint"
    *ngIf="missingUserTraits?.education">
  </education-input>

  <form-section-title-text
    [text]="'user.update.form.work.experience.section.header' | translate"
    *ngIf="missingUserTraits?.job_experience"
    icon="suitcase">
  </form-section-title-text>

  <job-experience-input
    [apiErrors]="apiErrors"
    [control]="updateForm.controls.job_experience"
    [hint]="missingUserTraits?.job_experience?.hint"
    *ngIf="missingUserTraits?.job_experience">
  </job-experience-input>

  <form-submit-button
    [buttonText]="'user.update.form.submit.button' | translate"
    [showButton]="!isInModal"
    [submitFail]="submitFail"
    [submitSuccess]="submitSuccess">
  </form-submit-button>
</form>
